@media screen and (min-width: 768px) { 
    .grey-line {
        position: fixed;
        height: 100vh;
        width: calc(100vw/6);
        top: 0;
        background-color: #fafafa;
    }

    .right {
        right: 0;
    }

    .left {
        left: 0;    
    }
    
    .col-left {
        padding-left: 5px !important;
    }

    .col-right {
        padding-right: 5px !important;
    }

    .footer {
        bottom: -6%;
    }

    .right > a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: #101010;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }

    .right > a:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
}

@media screen and (max-width: 767px) { 
    .grey-line {
        height: 70px;
        width: 100%;
    }

    .pt-custom {
        margin-top: 70px !important;
    }

    .left {
        position: fixed;
        z-index: 1;
        background-color: white;
    }

    .right {
        position: fixed;
        top: 0;
        left: -100vw;
        height: 100vh;
        width: 100vw;
        background: rgba(46, 46, 46, 0.8);
        z-index: 1;
    }

    .right a {
        color: #EBEBEB;
        margin: 3vh;
    }

    .menu-transition {
        left: 0%;
    }

    .pt-custom {
        padding-top: 0px !important;
    }

    .toggleButton {
        visibility: visible !important;
        top: 0 !important;
    }
    
    .footer {
        z-index: 2;
        flex-direction: column;
        height: 100% !important;
        bottom: -100%;
    }

    .exit {
        top: 17px !important;
    }

    .custom-content-2 {
        margin-top: 70px;
        width: 100% !important;
    }

    .custom-header-3 {
        font-size: 32px;
    }

    .margin-vertical-12 {
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .buy-button {
        width: calc(88% + 2px) !important;
        right: calc(6% - 1px) !important;
    }

    .buy-details {
        position: static !important;
        margin-top: 50px;
    }

    .right > a {
        color: #EBEBEB !important;
    }

    .colors-changer {
        color: #696969 !important;
    }

    .closecontacts {
        position: absolute;
        padding-top: 5vh;
        height: 10vh;
        width: 10vh;
        bottom: 5vh;
        cursor: pointer;
    }
    
    .tt {
        margin: auto;
        height: 1px;
        width: 35px;
        transform: rotate(45deg);
        background-color: white;
    }

    .ttt {
        margin: auto;
        height: 1px;
        width: 35px;
        transform: rotate(-45deg);
        background-color: white;
    }
}

body {
    background-color: #F9F5F1;
}

.right > a {
    font-family: 'Roboto Thin', sans-serif;
    text-transform: uppercase;
    margin: 5px;
    font-size: 20px;
    color: #696969;
    text-decoration: none;
    position: relative;
}

.right > a:hover {
    color: #696969;
}

.custom-link-3 {
    font-family: 'Roboto Thin', sans-serif;
    text-transform: uppercase;
    margin: 5px; 
    color: #696969;
}

.colors-changer {
    color: #B1B1B1;
}

.img-container {
    margin: 5px;
    padding: 10px;
    background-color: #2e2e2e;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pt-custom {
    padding-top: calc(100vh/12);
}

#rp-grey-1 {
    width: calc(100% - 10px);
    height: calc(100vh/15);
    background-color: #f0f0f0;
    margin: 5px;
}

#rp-wood-1 {
    width: calc(100% - 10px);
    height: calc(100vh/12);
    background-color: #e6b58b;
    margin: 5px;
}

.custom-header {
    font-family: 'Roboto Thin', sans-serif;
    text-transform: uppercase;
    margin: 5px; 
    margin-top: 20px;
    margin-bottom: 10px;
    color: #696969;
}

.custom-header-2 {
    font-family: 'Roboto Thin', sans-serif;
    text-transform: uppercase;
    margin: 5px; 
    color: #696969;
}

.custom-header-3 {
    font-family: 'Roboto Thin', sans-serif;
    margin: 5px; 
    color: #696969;
    text-align: center;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-vertical-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.custom-link-2 {
    margin: 0 1% 0 1%;
    color: #EBEBEB !important;
    font-family: 'Roboto Thin', sans-serif;
}

.custom-link-2:hover {
    text-decoration: none;
}

.footer {
    width: 100%;
    height: 6%;
    position: fixed;
    background-color: #2E2E2E;
}

.transition {
    -webkit-transition: all 1s ease;  
    -moz-transition: all 1s ease;  
    -o-transition: all 1s ease;  
    -ms-transition: all 1s ease;  
    transition: all 1s ease;
}

.footer-transition {
    bottom: 0;
}


/* START TOGGLE Button*/

.toggleButton {
    height: 70px;
    width: 70px;
    display: inline-block;
    cursor: pointer;
    position: fixed;
    top: -100px;
    z-index: 2 !important;
    visibility: hidden;
}

.bar {
    width: 35px;
    height: 3px;
    background-color: #1C1815;
    transition: 1s;
    position: absolute;
    left: 30%;
}

.bar:nth-of-type(1) {
    top: calc(32% + 1px);
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.bar:nth-of-type(2) {
    top: 50%;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.bar:nth-of-type(3) {
    top: 68%;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.change .bar:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #EBEBEB;
}

.change .bar:nth-of-type(2) {
    opacity: 0;
}

.change .bar:nth-of-type(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: #EBEBEB;
}

/* END TOGGLE Button */

.exit {
    position: fixed;
    padding-top: 17px;
    height: 5vh;
    width: 6vw;
    top: 10vh;
    right: calc(100vw/12 - 3vw);
    z-index: 2;
}

.line1 {
    margin: auto;
    height: 1px;
    width: 35px;
    transform: rotate(45deg);
    background-color: #707070;
}

.line2 {
    margin: auto;
    height: 1px;
    width: 35px;
    transform: rotate(-45deg);
    background-color: #707070;
}

.custom-content-2 {
    height: 100%;
    width: 50vw;
    background-color: #F9F5F1;
}

.horizontal-padding-5 {
    padding-left: 5vw;
    padding-right: 5vw;
}

.padding-0 {
    padding: 0;
}

.padding-05 {
    padding: 0.5vw;
}

.buy-button {
    position: absolute;
    border: 1px solid #707070;
    width: 12vw;
    right: 47%;
}

.buy-button-square {
    background-color: #FFC98F; 
    height: 18px; 
    width: 18px; 
    margin-left: 8px;
}

.buy-content {
    margin: auto;
}

.buy-content h5 {
    text-align: center; 
    height: 24px;
}

.buy-details {
    position: absolute;
    left: 54%;
}

.buy-details p {
    color: #B1B1B1;
    font-size: 12px;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */

/* Add Animation */
#img01 {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}