html {
    font-family: 'Roboto Light', sans-serif;
    letter-spacing: 2px;
    background-color: #fff;
}

body {
    transition: opacity 0.4s;
}

@media screen and (min-width: 768px) { 
    .grey-line {
        position: fixed;
        height: 100vh;
        width: calc(100vw/6);
        top: 0;
        background-color: #fafafa;
        z-index: 1;
        transition: all 1.5s;
    }

    .right {right: 0;}

    .left {left: 0;}

    .colors-changer {color: #B1B1B1;}

/*START Menu Buttons Animation*/

    .right > a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 1px;
        background-color: #e6b58b;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);2
        -webkit-transition: .7s cubic-bezier(0.77,0.2,0.05,1.0);
        transition: .5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    .right > a:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }

/*END Menu Button Animation*/
    
    .col-left {padding-left: 5px !important;}

    .col-right {padding-right: 5px !important;}

    .footer {right: calc(-100vw/6);}

    .closeContacts {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 20vh;
        width: 100%;
        cursor: pointer;
    }

    .line {
        position: absolute;
        bottom: 50%;
        right: calc(50% - 10px);
        width: 20px !important;
    }

    .closeDetails {
        position: fixed;
        z-index: 2;
        cursor: pointer;
        display: none;
        top: 0;
        left: 0;
        height: 100vh;
        width: calc(100vw - 100vw/6);
    }

    .dinamicFontSize {
       font-size: calc(100vw/96) !important; 
    }
    
    #logo {
        width: 94px;
        cursor: pointer;
    }
    
    .exitToIndex {
        right: calc(100vw/12 - 3vw);
    }
}

@media screen and (max-width: 767px) { 
/* START TOGGLE Button*/

    .toggleButton {
        height: 71px;
        width: 71px;
        position: fixed;
        top: 0;
        display: inline-block;
        cursor: pointer;
        z-index: 2;
        right: 0;
    }

    .bar {
        width: 37px;
        height: 3px;
        background-color: #1C1815;
        transition: 1s;
        position: absolute;
        right: 30%;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    .bar:nth-of-type(1) {top: 21px;}

    .bar:nth-of-type(2) {top: 34px;}

    .bar:nth-of-type(3) {top: 47px;}

    .change .bar:nth-of-type(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: #EBEBEB;
    }

    .change .bar:nth-of-type(2) {opacity: 0;}

    .change .bar:nth-of-type(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        background-color: #EBEBEB;
    }

/* END TOGGLE Button */

    .left {
        height: 71px;
        width: 100%;
        position: fixed;
        z-index: 1;
        background-color: white;
    }

    .right {
        position: fixed;
        top: 0;
        left: -100vw;
        height: 100vh;
        width: 100vw;
        background: rgba(46, 46, 46, 0.8);
        z-index: 1;
    }

    .colors-changer {color: #696969;}

    .menu-transition {left: 0%;}

    .right > a {color: #EBEBEB !important;}

/*START Bottom Exit Button*/

    .closeContacts {
        position: absolute;
        padding-top: 5vh;
        height: 10vh;
        width: 10vh;
        bottom: 5vh;
        cursor: pointer;
    }

/*END Bottom Exit Button*/

    .pt-custom {
        margin-top: 70px !important;
        padding-top: 0px !important;
    }
    
    .footer {
        right: -100vw;
        width: 100vw !important;
    }

    .exitToIndex {top: 17px !important;}

    .custom-content {
        margin-top: 70px;
        width: 100% !important;
    }

    .custom-header-2 {
        font-size: 32px;
        padding-top: 50px; 
    }

    .margin-vertical-12 {
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .buy-button {
        margin-bottom: 50px;
        width: calc(88% + 2px) !important;
        right: calc(6% - 1px) !important;
    }

    .buy-details {
        position: static !important;
    }
    
    .lang-active {
        color: #EBEBEB !important;
    }
    
    #logo {
        width: 37px;
    }
    
    .exitToIndex {
        left: calc(100vw/12 - 4vw);
    }
}

body {
    background-color: #F9F5F1;
}

/*START Center Alighment*/

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-vertical-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*END Center Alighment*/

/*START Animations*/

.transition {
    -webkit-transition: all 1s cubic-bezier(0.77,0.2,0.05,1.0);  
    -moz-transition: all 1s cubic-bezier(0.77,0.2,0.05,1.0);  
    -o-transition: all 1s cubic-bezier(0.77,0.2,0.05,1.0);  
    -ms-transition: all 1s cubic-bezier(0.77,0.2,0.05,1.0);  
    transition: all 1s cubic-bezier(0.77,0.2,0.05,1.0);
}

.footer-transition {right: 0;}

/*END Animations*/

/*START Right Menu Buttons*/

.right > a {
    font-family: 'Roboto Light', sans-serif;
    text-transform: uppercase;
    margin: 5px;
    font-size: 20px;
    color: #666;
    text-decoration: none;
    position: relative;
}

.right > a:hover {color: #696969;}

/*END Right Menu Buttons*/

/*START Custom Containers*/

.img-container {
    margin: 5px;
    padding: 10px;
    background-color: #2e2e2e;
    cursor: pointer;
    border-bottom: 0px solid #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all cubic-bezier(0.77,0.2,0.05,1.0) 0.3s;
}

.img-container:hover {
    padding: 20px;
    background-color: #1C1815;
    border-bottom: 15px solid #e6b58b;
}

.pt-custom {padding-top: calc(100vh/12);}

#rp-grey-1 {
    width: calc(100% - 10px);
    height: calc(100vh/15);
    background-color: #f0f0f0;
    margin: 5px;
}

#rp-wood-1 {
    width: calc(100% - 10px);
    height: calc(100vh/12);
    background-color: #e6b58b;
    margin: 5px;
}

.footer {
    z-index: 2;
    width: calc(100vw/6);
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: #2E2E2E;
}

.custom-content {
    height: 100%;
    width: 50vw;
    background-color: #F9F5F1;
}

/*END Custom Containres*/

/*START Custom Texts/Links*/
.custom-header {
    font-family: 'Roboto Thin', sans-serif;
    text-transform: uppercase;
    margin: 5px; 
    margin-top: 20px;
    margin-bottom: 10px;
    color: #696969;
}

.custom-header-2 {
    font-family: 'Roboto Thin', sans-serif;
    color: #696969;
    text-align: center;
}

.custom-link {
    margin: 0 1% 0 1%;
    color: #EBEBEB !important;
    font-family: 'Roboto Thin', sans-serif;
}

.custom-link:hover {text-decoration: none;}
/*END Custom Text/Links*/

.exitToIndex {
    position: fixed;
    padding-top: 17px;
    height: 5vh;
    width: 6vw;
    top: 10vh;
    z-index: 1;
}

.exitToIndex div {
    margin: auto;
    height: 1px;
    width: 35px;
    background-color: #707070;
}

.exitToIndex div:nth-of-type(1) {transform: rotate(45deg);}
.exitToIndex div:nth-of-type(2) {transform: rotate(-45deg);}

.line {
    margin: auto;
    height: 1px;
    width: 35px;
    background-color: white;
}

.line:nth-of-type(1) {transform: rotate(45deg);}
.line:nth-of-type(2) {transform: rotate(-45deg);}



.padding-0 {padding: 0;}

.padding-05 {padding: 0.5vw;}

.col-md-6 img,
.col-md-4 img {
    cursor: pointer;
}

.custom-link-3 {
    font-family: 'Roboto Thin', sans-serif;
    margin: 5px; 
    color: #696969;
}

.custom-link-3:hover {
    color: #696969;
    text-decoration: none;
}

.buy-button {
    position: absolute;
    border: 1px solid #707070;
    width: 12vw;
    right: 47%;
    cursor: pointer;
}

.buy-button-square {
    background-color: #FFC98F; 
    height: 18px; 
    width: 18px; 
    margin-left: 8px;
}

.buy-content {
    margin: auto;
}

.buy-content h5 {
    text-align: center; 
    height: 24px;
}

.buy-details {
    position: absolute;
    left: 54%;
}

.buy-details p {
    color: #B1B1B1;
    font-size: 12px;
}


.modal {
    opacity: 0;
    position: fixed; /* Stay in place */
    z-index: -1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

#img01 {    
    padding-left: 20px;
    padding-right: 20px;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 2;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.lang-changer {
    font-family: 'Roboto Light', sans-serif;
    text-transform: uppercase;
    margin: 5px;
    font-size: 20px;
    color: #969696;
    position: relative;    
}

.lang-active {
    color: #666;
}

.lang-active:hover {
    color: #666;    
}

.lang-active:hover {
     text-decoration: none;    
}

.lang-noactive {
    color: #969696 !important;
}

.lang-noactive:hover {
    text-decoration: none;
}

#loader {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100vh;
}

#layer-1 {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: all 1.25s cubic-bezier(0.77,0.2,0.05,1.0) 0.5s;
}

#layer-2 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #F9F5F1;
    transition: all 1.5s cubic-bezier(0.77,0.2,0.05,1.0) 1.75s;
    overflow: hidden;
}

#layer-3 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    transition: all 1.25s cubic-bezier(0.77,0.2,0.05,1.0) 3.25s;
}

.modal-custom {
    z-index: 1500;
}

.about-image {
    width: 100%;
    height: calc(100vw/12);
    background-position: center;
    background-size: cover;
}

.btn-order {
    color: #2e2e2e;
    text-transform: uppercase;
    border-radius: 0px;
    border: solid 1px #2e2e2e;
    background-color: transparent;
    width: 100%;
}

.btn-order:hover {
    background-color: #2e2e2e;
    color: #fff;
}

#footerClick {
    cursor: pointer;
}
.about-text {
    letter-spacing: 1px;
    color: #666;
}
