.g-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
        transform: translateX(-20px);
    }

    &__decor {
        transform: translateX(-60px);
    }
}

.nav, .home, .why, .team, .services, .faq {
    padding-left: 20px;
    padding-right: 20px;
}