body {
    font-family: 'Arvo', serif;
    font-weight: 400;
    background-color: #f5f3f1;
    color: #595959;
    font-size: 1.125rem;
    line-height: 1.83;
    position: relative;
}

.custom-button-head {
    background-color: #ed9108;
    color: #fff !important;
    border-radius: 1em;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9375rem;
    border-radius: 2rem;
}

.nav-item {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9375rem;
}

#slide-main-1 {
    background-image: url(../img/Group%202.png);
    padding: 50px 0px;
    width: 100%;
    background-size: cover;
}

#slide-main-2 {
    background-image: url(../img/main%20slider%201.png);
    padding: 50px 0px;
    background-size: cover;
}

#text-main-slider {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #fff;
}

.text-slider {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #fff;
}

.custom-button-content {
    width: 100%;
    background-color: #ed9108;
    color: #fff !important;
    border-radius: 1em;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9375rem;
    border-radius: 2rem;
}
.image-card {
    padding: 84px 92px;
    background-color: #f8f8f8;
}
