@media screen and (min-width: 768px) {
    .price-total-top {
        display: none;
    }
    

}

@media screen and (min-width: 992px) {
    .custom-button-dropdown {
        display: none;
    }

}

@media screen and (min-width: 1200px) {
    #zamok-mobile {
        display: none;
    }

    #hamburger {
        display: none;
    }

    .custom-button-dropdown {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .price-total-bot {
        display: none;
    }
    .radio-review label {
        padding: 10px !important;
        width: 46px !important;
    }
}

@media screen and (max-width: 1200px) {

    #zamok-desktop {
        display: none;
    }

    .ancor-text:hover {
        color: #F2F2F2;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    .img-slider {
        max-height: 40vh !important;
        padding: 0px !important;
        align-self: center !important;
    }

    .v-line-slider {
        display: none;
    }

    .text-grey-slider {
        display: none;
    }

    .bold-text-slider {
        font-size: 25px !important;
        align-self: center !important;
        padding: 0px !important;
        text-align: center;
    }

    .medium-text {
        text-align: center;
        font-size: 16px !important;
    }

    .custom-button-slider {
        width: 100%;
        font-size: 18px !important;
    }

    .img-padding {
        padding: 10px;
    }

    .custom-card:hover .card-item-name {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    .custom-card:hover .card-line {
        height: 1px !important;
    }

    .top-margin-150 {
        margin-top: 90px !important;
    }



    .margin-mobile {
        margin-top: 16px;
    }


}


body {
    font-family: 'Raleway', sans-serif;
}

.bg-lgrey {
    background-color: #F2F2F2;
}

.v-line {
    height: 1px;
    width: 100%;
    background-color: #888;
}

.card-line {
    height: 1px;
    width: 100%;
    background-color: #888;
    transition: all .3s;
}

.v-line-slider {
    height: 1px;
    width: 92px;
    background-color: #888;
}


.px-header {
    padding-right: calc(6vw + 10px);
    padding-left: calc(6vw + 10px);
}

.custom-card-image {
    background-color: #fff;
    border-radius: 5px;
    padding: 50px;
}



.custom-card {
    margin-top: 20px;
    padding: 10px;
}

.custom-card:hover .card-line {
    height: 4px;
    background-color: #c20000;
    margin-top: -3px;
}

.custom-card:hover .card-item-name {
    color: #000;
    margin-top: -4px;
}

.card-item-name {
    color: #000;
    font-weight: 700;
    display: block;
    transition: all .3s;
}

.custom-card-slider {
    margin-top: 20px;
    padding: 10px;
}

.custom-button {
    color: #C20000;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0px 0px;
    margin-bottom: 10px;
}

.custom-button-stash {
    color: #C20000;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0px 0px;
    margin-bottom: 10px;
}

.custom-button-slider {
    color: #C20000;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0px 0px;
    margin-bottom: 10px;
    font-size: 15px;
}

.number-bold {
    font-family: 'Jura', sans-serif;
    font-weight: bold;
    font-size: 12pt;
    margin-bottom: 10px;
}

.text-bold {
    color: #000;
    font-weight: bold;
    margin-bottom: 5px;
}

.text-bold:hover {
    color: #000;
}


.bold-text {
    font-family: 'Jura', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #000;
}

.bold-text-submit {
    font-family: 'Jura', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #000;
}

.bold-text-slider {
    font-family: 'Jura', sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: #000;
    margin: 20px 0px 0px 0px;
}

.img-padding {
    padding: 10px;
}

.px-10px {
    padding: 0px 10px;
}

.text-grey {
    color: #888888;
    font-size: 12pt;
}

.text-grey-slider {
    color: #888888;
    font-size: 12pt;
    margin: 0px;
}

.text-grey-review {
    color: #888888;
    font-size: 12pt;
    margin-bottom: 10px;
}

.footer-background {
    background-color: #1C1B1A;

}

.ancor-text {
    color: #F2F2F2;
    transition: all .5s;
    display: block;
    text-decoration: none !important;
    margin: 0px 25px;
}

.ancor-text:hover {
    color: #F2F2F2;
    margin-top: -4px;
    margin-bottom: 4px;
}

.nav-btns li {
    font-size: 15px;
}

.px-6 {
    padding-right: 6vw;
    padding-left: 6vw;
}

#romb-desktop {
    background-color: #C20000;
    height: 16px;
    width: 16px;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(45deg);
}

#romb-slider {
    background-color: #C20000;
    height: 16px;
    width: 16px;
    transform: rotate(45deg);
}

#romb-mobile {
    background-color: #C20000;
    height: 16px;
    width: 16px;
    position: absolute;
    bottom: 0;
    right: 4px;
    transform: rotate(45deg);
}

#zamok-desktop,
#zamok-mobile {
    position: relative;
    height: 32px;
    width: 31px;
}

#objects-count-desktop {
    font-family: 'Jura', sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    position: absolute;
    margin-top: -3px;
    margin-left: -6px;
    height: 25px;
    width: 15px;
    transform: rotate(-45deg);
}

#objects-count-mobile {

    font-family: 'Jura', sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    position: absolute;
    margin-top: -2.5px;
    margin-left: 6.5px;
    height: 28px;
    width: 6px;
    transform: rotate(-45deg);
}

.btn:focus,
.form-control:focus {
    box-shadow: none;    
    border: 1px solid #777;
}

.custom-button-call {
    width: 100%;
    color: #C20000;
    background-color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0px;
}

.custom-button-submit {
    width: 100%;
    color: #C20000;
    background-color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-transform: uppercase;
}

.custom-button-submit:focus {
    border: none !important;
}

.input-form {
    width: 100%;
    background-color: #1C1B1A;
    border-radius: 0px;
}

.input-form-review {
    width: 100%;
    background-color: #fff;
    border-radius: 0px;
    border: 1px solid #777;
}



.input-form-dropdown {
    width: 100%;
    background-color: #F2F2F2;
    border-radius: 0px;
    border: 1px solid #777777;
}

input {
    transition: all .3s !important;
}

.footer-anchor {
    color: #FFFFFF;
    transition: all .5s;
    display: block;
}

.footer-anchor:hover {
    color: #FFFFFF;
    margin-top: -4px;
    margin-bottom: 4px;
}

.anchors {
    color: #888888;

}

.anchors:hover {
    color: #fff;
    transition: all .3s;
}

.footer-text {
    color: #888888;
}

.footer-anchor-number {
    font-family: 'Jura', sans-serif;
    color: #FFFFFF;
    font-size: 26px;
    transition: all .5s;
    display: block;
}

.footer-anchor-number:hover {
    color: #FFFFFF;
    margin-top: -4px;
    margin-bottom: 4px;
    text-decoration: none;
}

#hamburger div {
    height: 3px;
    width: 25px;
    background-color: #C20000;
}

#hamburger div:nth-of-type(2) {
    margin: 6px 0px;
}

.medium-text {
    font-weight: 500;
    color: #000;
    font-size: 23px;
}

.img-slider {
    max-height: 60vh;
    margin-left: auto;
}

.fa-chevron-right {
    color: #C20000;

}

.fa-chevron-left {
    color: #C20000;
}

#slider-controls {
    position: absolute;
    display: flex;
    transform: none !important;
}


#slider-controls div {
    height: 8px;
    width: 8px;
    background-color: #666;
    transform-origin: 50% 50%;
    transform: rotate(45deg);
    margin: 16px;
    transition: .3s all;
    cursor: pointer;
}

#slider-controls div:hover {
    height: 12px;
    width: 12px;
    background-color: #888;
    margin: 14px;
}

#slider-controls div.dot-active {
    margin: 12px;
    height: 16px;
    width: 16px;
    background-color: #C20000;
}

.control-arrow-left,
.control-arrow-right {
    height: 12px;
    width: 12px;
    background-color: transparent;
    transform-origin: 50% 50%;
    margin: 14px;
    box-sizing: border-box;
    border-bottom: 3px solid #C20000;
    border-right: 3px solid #C20000;
    cursor: pointer;
    transition: .3s all;
}

.control-arrow-left:hover,
.control-arrow-right:hover {
    height: 24px;
    width: 24px;
    margin: 8px;
    border-bottom: 4px solid #C20000;
    border-right: 4px solid #C20000;
}

.control-arrow-left {
    transform: rotate(135deg);
}

.control-arrow-right {
    transform: rotate(-45deg);
}


.full-vh {
    height: calc(100vh - 150px);
}

.top-margin-150 {
    margin-top: 150px;
}

.top-margin-60 {
    margin-top: 50px;
}


#navigate-slider {
    width: 100%;
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
}

#navigate-slider div.slide-image {
    height: 100%;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    flex-shrink: 0;
    scroll-snap-align: start;
    scroll-behavior: smooth;
}

#navigate-slider::-webkit-scrollbar {
    display: none !important;
}


input::-webkit-calendar-picker-indicator {
    color: #c20000;
    display: ;
}


.bold-total-price {
    font-family: 'Jura', sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: #000;
    margin: 0px;
}

.text-review {
    font-weight: 500;
    line-height: 30px;
}

.bold-grey-text {
    text-transform: uppercase;
    color: #888888;
    font-weight: 700;
}

.regular-text {
    color: #000;
    font-size: 23px;
}

.review-area {
    width: 100%;
    border: 1px solid #777777;
}

.review-area:focus {
    box-shadow: none;
    border: 1px solid #777 !important;
}

.custom-button-review {
    width: 100%;
    color: #C20000;
    background-color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0px;
    border: 1px solid #777777;
}

.text-review-2 {
    color: #000;
    font-size: 12pt;
}

.review-date {
    color: #000000;
    font-family: 'Jura', sans-serif;
    text-align: right;
}

.radio-review label {
    display: inline-block;
    box-sizing: padding-box;
    width: 50px;
    padding: 10px;
    border: solid 1px #888888;
    transition: all 0.3s;
    text-align: center;
    color: #888888;
    font-family: 'Jura', sans-serif;
    font-weight: 300;
}

.radio-review input[type="radio"] {
    display: none;
}

.radio-review input[type="radio"]:checked + label {
    border: solid 1px #C20000;
    color: #C20000;
}

.custom-button-dropdown {
    width: 100%;
    text-align: left;
    font-size: 20px;
    margin-top: 10px;
}

.dropdown-chevron {
    color: #c20;

}

.dropdown-navbar {
    width: 100%;
    padding: 0px 0px;
}

.dropdown-form-goods {
    width: 100%;
}

.dropdown-form-goods input {
    padding: 10px 20px;
}



.kvadrat-po {
    height: 50%;
    width: 100%;
    background-color: grey;
}

.kvadrat-ze {
    height: 50%;
    width: 100%;
    background-color: green;
}

.button-submit {
    color: #c20;
    padding: 0px;
    border: none;
}

.button-submit:hover {
    text-decoration: none;
    color: #c20;
    border: none;
}
.button-submit:hover #romb-submit-intime {
    transform-origin: 50% 50%;
    transform: rotate(-45deg);
    height: 16px;
    width: 16px;
    background-color: #c20;
}

.button-submit:hover #romb-submit-novaposhta {
    transform-origin: 50% 50%;
    transform: rotate(-45deg);
    height: 16px;
    width: 16px;
    background-color: #c20;
}

.btn-link:focus {
    text-decoration: none;
    border: none !important;
}

#romb-submit-intime {
    background-color: #777777;
    height: 12px;
    width: 12px;
    transform: rotate(45deg);
    display: inline-block;
    padding-right: 10px;
    transition: all .3s;
}

#romb-submit-novaposhta {
    background-color: #777777;
    height: 12px;
    width: 12px;
    transform: rotate(45deg);
    display: inline-block;
    padding-right: 10px;
    transition: all .3s;
}

.text-submit {
    display: inline;
}
