h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  line-height: 1.17;
}

body {
  background-color: #f5f3f1 !important;
}

.main {
  padding-top: 100px;
}

.order_first {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.order_second {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.banner {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/products/masthead-product-overview.jpg");
  background-color: #145ca6;
  background-position: 56% 54%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 255px;
}

.banner_margin {
  background-image: none;
}

.banner__title {
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 1.5rem;
  letter-spacing: 4px;
  line-height: 1.17;
  margin: 0 0 .9375rem;
  text-transform: uppercase;
}

.banner_margin {
  margin-bottom: 30px;
}

.contact-form {
  margin-bottom: 40px;
  padding-top: 60px;
  background-color: #ffffff;
}

.contact-form_paddingLeftRight {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.contact-form__block {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto !important;
  padding: 0 20px 25px;
}

.contact-form__block_padding {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.contact-form__block--padding {
  padding-left: 0;
  padding-right: 0;
}

.contact-form__title {
  font-family: "Montserrat", sans-serif;
  font-size: 2.15rem;
  letter-spacing: 4px;
  line-height: 1.17;
  margin: 0 0 .9375rem;
  text-transform: uppercase;
}

.contact-form__text {
  font-family: "Roboto Slab", serif;
  font-size: 0.9rem;
}

.contact-form__title, .contact-form__text {
  text-align: left;
  color: #595959;
}

.contact-form__item {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.contact-form__label {
  font-family: "Roboto Slab", serif;
  font-size: 0.85rem;
  font-weight: 400;
  color: #555555;
  display: block;
  margin-bottom: 5px;
}

.contact-form__input {
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: 400;
  background-color: #f8f8f8;
  border: 1px solid #ebebeb;
  color: #145ca6;
  font-size: 1rem;
  margin-bottom: 30px;
  padding: 10px;
  width: 100%;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: auto;
}

.contact-form__input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  background-color: #fff;
  border-color: #5cb3fd;
  outline: 0;
}

.contact-form__checkbox {
  height: 1px;
  margin: 0;
  opacity: 0.01;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.contact-form__checkbox + .contact-form__terms {
  background: url("../img/icon-checkbox.png") left 0.4em no-repeat;
  cursor: pointer;
  overflow: visible;
  background-size: 30px;
}

.contact-form__checkbox:checked + .contact-form__terms {
  background-image: url("../img/icon-checkbox-checked.png");
  background-size: 30px;
}

.contact-form__terms {
  line-height: 1.83;
  font-size: .8rem;
  margin: 0 0 1.25rem;
  overflow-wrap: break-word;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  padding-top: 5px;
  background-size: 30px;
  padding-left: 50px;
}

.contact-form__textarea {
  color: #595959;
}

.contact-form_marginBottom {
  margin-bottom: 30px;
}

.contact-info__item {
  background-color: #ffffff;
  padding: 40px;
  margin-bottom: 20px;
}

.contact-info__item--padding {
  padding: 0;
}

.contact-info__content_padding {
  padding: 40px;
}

.contact-info__title {
  font-size: 1.75rem;
  text-transform: capitalize;
  color: #595959;
  font-weight: 400;
  margin-bottom: 16px;
}

.contact-info__link {
  color: #145ca6;
  margin-top: 5px;
}

.contact-info__link:hover {
  color: #5cb3fd;
  text-decoration: none;
}

.contact-info__text, .contact-info__link {
  font-family: "Roboto Slab", serif;
  font-size: .8rem;
  margin: 0 0 1.4rem;
}

@media (min-width: 768px) {
  .contact-form__input {
    font-size: 1.125rem;
    padding: 20px;
  }
  .no-gutters {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (min-width: 992px) {
  .contact-form__input {
    margin-bottom: 0;
  }
  __checkbox + __terms {
    background-position: left top;
    background-size: 30px;
    padding-left: 54px;
  }
}

@media (max-width: 992px) {
  .main {
    padding-top: 68px;
  }
  .order_first {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .order_second {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .banner_background {
    height: 150px;
  }
  .banner__title {
    margin: 0;
  }
  .banner-title__text {
    font-size: 1.75rem;
  }
  .contact-form_marginBottom {
    margin: 0;
  }
  .contact-form__block_padding {
    padding: 0 !important;
  }
  .contact-form__button_text {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: -5px;
  }
  .contact-form__title {
    font-size: 1.875rem;
    text-align: center;
  }
  .contact-form__item {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .contact-form_paddingBottom {
    padding-bottom: 30px;
  }
  .contact-info__item {
    padding: 20px;
    padding-top: 30px;
  }
  .contact-info__title {
    font-size: 1rem;
  }
  .contact-info__content {
    padding-left: 14px;
  }
  .contact-info__content_padding {
    padding: 20px;
  }
}
/*# sourceMappingURL=contacts.css.map */