$fontTitle: 'Montserrat', sans-serif;
$fontText: 'Roboto Slab', serif;
$fontColor: #595959;

h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
    font-family: $fontTitle;
    line-height: 1.17;
}

body {
    background-color: #f5f3f1 !important;
}

.main {
    padding-top: 100px;
}

.banner {
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    background-image:url("../img/products/masthead-product-overview.jpg");
    background-color: #145ca6;
    background-position: 56% 54%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 255px;

    &__title {
        font-size: 25px;
        font-family: $fontTitle;
        color: #ffffff;
        font-size: 1.5rem;
        letter-spacing: 4px;
        line-height: 1.17;
        margin: 0 0 .9375rem;
        text-transform: uppercase;
    }
}

.pulseflow {
    background-color: #ffffff;
    padding: 40px;

    &_padding {
        padding: 30px;
    }

    &__title {
        padding: 16px 0 0;
        margin-bottom: 40px;
        border: 0;
        margin-top: 15px;
        padding-bottom: 0;
        text-align: center;
        width: 100%;
    }

    &-title__text {
        width: 100%;
        margin-bottom: 20px;
        position: relative;
        z-index: 1;
        font-size: 2.15rem;
        letter-spacing: 4px;
        color: $fontColor;
    }

    &-title__text::before {
        display: none;
    }

    &-title__span {
        background-color: #ffffff;
        padding-right: 15px;
        padding-left: 15px;
    }

    &__text {
        color: $fontColor;
        font-family: $fontText;
        text-align: center;
        font-size: 0.8rem;
        padding-top: 20px;
        margin-bottom: 30px;
    }
}

.product-card {
    background-color: #f8f8f8;

    &_padding {
        padding-bottom: 71px;
    }

    &__image {
        padding: 24px 20px 0;
    }

    &__content {
        padding: 24px 20px;
    }
    
    &__title {
        position: relative;
        z-index: 1;
        font-size: 1.75rem;
        color: $fontColor;
        text-transform: capitalize;
        font-weight: 400;
    }

    &-title__span {
        background-color: #f8f8f8;
        padding-right: 15px;
    }

    &-title__span::before {
        content: "";
        display: block;
        height: 2px;
        background-color: #ebebeb;
        position: absolute;
        right: 0;
        bottom: .5em;
        width: 100%;
        z-index: -1;
    }

    &__text {
        font-family: $fontText;
        color: $fontColor;
        font-size: 0.8rem;
        line-height: 1.83;
    }

    &-list__link {
        font-family: $fontText;
        font-size: 0.8rem;
        line-height: 1.83;
        color: #145ca6;
    }

    &-image__source {
        display: block;
        height: auto;
        width: 100%;
    }
}

.caire {
    background-color: #ffffff;
    margin-top: 70px;
    margin-bottom: 30px;

    &_margin {
        margin-bottom: 60px;
    }

    &_margin::before {
        background: #f8f8f8;
        content: "";
        display: block;
        position: absolute;
        top: 0;
        z-index: 0;
        bottom: 64px;
        left: 50%;
        transform: translateX(-50%);
        width: 65%;
    }

    &__intro {
        font-size: .8125rem;
        padding: 40px;
        margin-bottom: 30px;
        width: 52%;
        margin: 0 auto;
        position: relative;
        z-index: 1;
    }

    &-intro__text {
        margin: 0;
        line-height: 1.4375rem;
        font-size: 0.8rem;
        text-align: center;
        font-family: $fontText;
        color: $fontColor;
    }

    &__item {
        background-color: none !important;
        min-height: auto;
    }

    &__item-green {
        background-color: #afc124;
    }

    &__item-blue {
        background-color: #79bde8;
    }

    &__item-orange {
        background-color: #fcaf40;
    }

    &__title {
        text-align: center;
        width: 100%;
    }

    &-title__text {
        position: relative;
        z-index: 1;
        width: 100%;
        margin-bottom: 2.7rem;
        margin-top: 2.15rem;
        font-size: 2.15rem;
        color: $fontColor;
    }

    &-title__text::before {
        display: none;
    }

    &-title__span {
        background-color: #fff;
        padding-right: 15px;
        padding-left: 15px;
    }

    &-item__block {
        padding: 40px;
    }

    &-item__title {
        font-size: 1.125rem;
        text-transform: capitalize;
    }

    &-item__text {
        font-family: $fontText;
        font-size: .8125rem;
        line-height: 1.4375rem;
    }

    &-item__title, &-item__text {
        color: #ffffff;
    }
}


@media (min-width: 900px) {
    .product-card {
        &__image {
            padding: 40px 40px 0;
        }
    }

    .caire {
        &__block {
            display: flex;
        }

        &__item {
            display: flex !important;
            margin-right: auto;
            transition: none;
            min-height: auto;
            margin: 0 10px;
        }

        &__arrowLeft {
            display: none;
        }

        &__arrowRight {
            display: none;
        }
    }
}

@media (min-width: 992px) {
    .pulseflow {
        &-title__text::before {
            content: "";
            display: block;
            height: 2px;
            background-color: #ebebeb;
            position: absolute;
            right: 0;
            top: 50%;
            width: 100%;
            z-index: -1;
        }
    }

    .product-card {
        &__image {
            padding: 47px 47px 0;
        }

        &-image__source {
            display: block;
            height: auto;
            width: 100%;
        }

        &__content {
            padding: 30px 32px;
        }
    }

    .caire {
        &-title__text::before {
            content: "";
            display: block;
            height: 2px;
            background-color: #ebebeb;
            position: absolute;
            right: 0;
            top: 50%;
            width: 100%;
            z-index: -1;
        }
    }
}







@media (max-width: 992px) {
    .main {
        padding-top: 68px;
    }

    .pulseflow {
        padding: 20px;

        &_padding {
            padding: 0;
        }
    }

    .caire {
        margin-top: 30px;

        &__arrowLeft, &__arrowRight {
            display: flex !important;
            background: url("../img/icon-arrow-narrow.png") center center no-repeat #145ca6;
            background-position: 22px center !important;
            background-size: 16px auto;
            height: 50px !important;
            width: 50px;
            border: none !important;
            padding: 28px !important;
            padding-bottom: 0px;
            opacity: 1;
            top: 45%;
        }

        &__arrowLeft {
            transform: rotate(180deg);
            left: -1%;
        }

        &__arrowRight {
            right: -1%;
        }

        &__intro {
            width: 100%;
        }

        &_margin::before {
            width: 100%;
        }

        &-item__block {
            padding: 50px;
        }

        &-item__title {
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 768px) {
    .caire {
        &__arrowLeft, &__arrowRight {
            transform: scale(0.6);
        }

        &__arrowLeft {
            transform: scale(0.6) rotate(180deg);
        }
    }

    .pulseflow {
        &__item_margin {
            margin-top: 20px;
        }
    }
}