$fontTitle: 'Montserrat', sans-serif;
$fontText: 'Roboto Slab', serif;
$fontColor: #595959;

h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
    font-family: $fontTitle;
}

body {
    background-color: #f5f3f1 !important;
}

.button {
    &__download {
        background-color: #145ca6 !important;
        display: flex;
        align-items: center;
        height: 50px;
        width: 50px;
        text-align: center;
        justify-content: center;
        border-radius: 30px;
    }

    &__icon {
        text-align: center;
        color: #ffffff;
    }
}

.main {
    padding-top: 100px;
}

.o-block {
    background-color: #fff;
    margin-bottom: 20px;
    min-height: 200px
}

@media (min-width: 992px) {
    .o-block {
        margin-bottom: 30px
    }

    .button {
        &-view_margin {
            margin-left: 20px;
            margin-right: 20px;
            align-self: center;
        }
    }
}

@media (min-width: 1550px) {
    .o-block {
        margin-bottom: 40px
    }
}

.product-grid {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.product-grid_flex {
    display: flex;
    flex-direction: column;
}



.product-grid__sub-heading {
    font-size: .75rem;
    margin-bottom: 0;
    position: relative
}

.product-grid__sub-heading span {
    display: inline-block;
    font-weight: 500;
    padding-right: 18px;
    vertical-align: middle
}

.product-grid__sub-heading::after {
    background-color: #ebebeb;
    content: "";
    display: inline-block;
    height: 2px;
    vertical-align: middle;
    width: 22px
}

.product-grid__heading {
    color: #79bde8;
    font-size: 1.28rem;
    font-weight: 500;
    line-height: 2rem;
    margin-bottom: 0;
    text-align: center;
    height: 800px;
}

.c-all-products__category a,
.o-cart-item a {
    color: #595959;
    text-decoration: none
}

.product-grid__header img {
    display: block;
    margin: 0 auto 40px
}

@media (max-width: 767px) {
    .product-grid__header {
        margin-bottom: 25px
    }
    .product-grid__header img {
        max-width: 126px;
        width: 100%
    }
}

@media (min-width: 576px) {
    .product-grid__header {
        min-height: 300px
    }
    .product-grid__header img {
        height: 174px
    }
}

@media (min-width: 992px) {
    .product-grid__header {
        min-height: 300px
    }
}

@media (min-width: 1200px) {
    .product-grid__header {
        padding: 0 25px
    }
}

.product-grid__item {
    border-top: 0;
    padding: 45px 35px;
}

@media (min-width: 576px) and (max-width:991px) {
    .product-grid__item:nth-of-type(odd) .product-grid__attribute-list {
        position: relative;
        padding-top: 10px;
    }
}

@media (max-width: 900px) {
    .product-grid__item:nth-of-type(odd) .product-grid__attribute-list {
        padding-top: 0px;
    }
}

@media (min-width: 768px) {
    .product-grid__item:nth-of-type(2) .product-grid__attribute-list::after {
        display: none
    }
}

@media (min-width: 1200px) {
    .product-grid__item {
        padding: 45px 0;
    }
    .product-grid__item {
        font-size: .8rem;
        margin: 50px auto 0;
        max-width: 220px;
        width: 75%
    }
    .product-grid__item .product-grid__attribute-title {
        display: none
    }
}

@media (min-width: 768px) {
    .product-grid__attribute-list {
        position: relative
    }
}

.product-grid__attribute {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0
}

@media (max-width: 1199px) {
    .product-grid__attribute {
        margin: 0 0 18px
    }
}

@media (min-width: 1200px) {
    .product-grid__attribute-list::after {
        left: 0
    }
    .product-grid__attribute {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 0 0 24px
    }
}

.product-grid__attribute-title {
    font-size: .75rem;
    margin: 0;
    padding: 0 0 0 45px;
    position: relative
}

.product-grid__attribute-title-icons::before {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 30px auto;
    content: "";
    display: block;
    height: 30px;
    left: 0;
    margin-top: -15px;
    position: absolute;
    top: 50%;
    width: 30px
}

.product-grid__attribute-title-icons.pulse::before {
    background-image: url("../img/icons/icon-grid-pulse.png");
}

.product-grid__attribute-title-icons.flow::before {
    background-image: url("../img/icons/icon-grid-flow.png")
}

.product-grid__attribute-title-icons.weight::before {
    background-image: url("../img/icons/icon-grid-weight.png")
}

.product-grid__attribute-title-icons.portable::before {
    background-image: url("../img/products/icon-grid-portable.png")
}

.product-grid__attribute-title-icons.at-home::before {
    background-image: url("../img/icons/icon-grid-home.png")
}

.product-grid__attribute-title-icons.ac-power::before {
    background-image: url("../img/icons/icon-grid-ac-power.png")
}

.product-grid__attribute-title-icons.dc-power::before {
    background-image: url("../img/icons/icon-grid-ac-power.png")
}

.product-grid__attribute-title-icons.battery-power::before {
    background-image: url("../img/icons/icon-battery.png")
}

.product-grid__attribute-title-icons.unit-price::before {
    background-image: url("../img/icons/icon-grid-unit-price.png")
}

.product-grid__attribute-title-icons.acc::before {
    background-image: url("../img/icons/icon-accessability.png")
}

.product-grid__attribute-status {
    margin: 0;
    padding: 0;
    font-size: .875rem;
    font-family: $fontText;
    color: $fontColor;
}

.product-grid__attribute-status span {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 31px auto;
    display: block;
    height: 37px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-indent: 100%;
    white-space: nowrap;
    width: 31px
}

.product-grid__attribute-status.active span {
    background-image: url("../img/products/icon-product-attribute-check.png")
}

.product-grid__attribute-status.inactive span {
    background-image: url("../img/products/icon-product-attribute-line.png")
}

@media (max-width: 991px) {
    .product-grid__attribute-status {
        width: 70px;
        text-align: center
    }
    .product-grid__attribute-status span {
        width: 100%
    }
}

@media (max-width: 1549px) {
    .product-grid__attribute-status span {
        background-size: 20px auto
    }
}

@media (min-width: 1200px) {
    .product-grid__attribute-status {
        display: block;
        font-size: 1rem;
        height: 37px
    }
}

.product-grid__col-definition {
    display: none
}

.product-grid__col-definition ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.product-grid__col-definition .product-grid__attribute-title-icons {
    display: block;
    font-size: 1rem;
    margin: 0 0 24px;
    height: 37px;
    padding: 0 0 0 65px;
    position: relative;
    color: $fontColor;
    font-family: $fontText;
}

.product-grid__col-definition .product-grid__attribute-title-icons::before {
    background-size: 43px auto;
    height: 43px;
    width: 43px;
    margin-top: -21.5px
}

@media (min-width: 1200px) {
    .product-grid__col-definition {
        display: block;
        padding-top: 395px
    }
}

.product-grid__cont {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: auto !important;
}

.banner {
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    background-image:url("../img/products/masthead-product-overview.jpg");
    background-color: #145ca6;
    background-position: 56% 54%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 255px;

    &__title {
        font-size: 25px;
        font-family: $fontTitle;
        color: #ffffff;
        font-size: 1.5rem;
        letter-spacing: 4px;
        line-height: 1.17;
        margin: 0 0 .9375rem;
        text-transform: uppercase;
    }
}

.headline {
    margin-bottom: 40px;
    background-color: #ffffff;

    &__text {
        padding: 60px 133px 20px 133px;
        font-family: $fontText;
        color: $fontColor;
        line-height: 1.83;
        font-size: .8rem;
        margin: 0 0 1.25rem;
        overflow-wrap: break-word;
        text-align: center;
    }
}

.accessories {
    margin-bottom: 20px;
    padding-top: 20px;

    &__block {
        background-image: url("../img/products/accessories.png");
        background-position: 80px 45%;
        background-size: auto 100%;
        background-color: #fff;
        background-repeat: no-repeat;
        height: 525px;
        justify-content: inherit;
        padding: 50px 0;
        padding-top: 0;
        min-height: 200px;
        display: flex;
        align-items: center;
    }

    &__title {
        font-weight: 500;
        font-size: 1.65rem;
        letter-spacing: 1px;
        text-transform: inherit;
        margin: 0 0 .5rem;
        color: $fontColor;
    }

    &__button {
        margin-bottom: 30px;
    }
}

.request {
    margin-top: 60px;
    margin-bottom: 40px;
    padding-top: 60px;
    background-color: #ffffff;

    &__block {
        justify-content: center;
        margin: 0 auto !important;
    }

    &__title {
        font-family: $fontTitle;
        font-size: 2.15rem;
        letter-spacing: 4px;
        line-height: 1.17;
        margin: 0 0 .9375rem;
        text-transform: uppercase;
    }

    &__text {
        font-family: $fontText;
        font-size: 0.9rem;
    }

    &__phone {
        font-family: $fontTitle;
        font-weight: 300;
        color: #9b9b9b;
        text-transform: uppercase;
        font-size: 0.9rem;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &__title, &__text, &__phone {
        text-align: center;
        color: $fontColor;
    }

    &__item {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    &__label {
        font-family: $fontText;
        font-size: 0.85rem;
        font-weight: 400;
        color: #555555;
        display: block;
        margin-bottom: 5px;
    }

    &__input {
        font-family: $fontText;
        font-style: normal;
        font-weight: 400;
        background-color: #f8f8f8;
        border: 1px solid #ebebeb;
        color: #145ca6;
        font-size: 1rem;
        margin-bottom: 30px;
        padding: 10px;
        width: 100%;
        border-radius: 0;
        box-shadow: none;
        height: auto;
    }

    &__input:focus {
        border-color: #66afe9;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
        background-color: #fff;
        border-color: #5cb3fd;
        outline: 0;
    }

    &__terms {
        line-height: 1.83;
        font-size: .8rem;
        margin: 0 0 1.25rem;
        overflow-wrap: break-word;
        font-family: $fontTitle;
        text-align: center;
        padding-top: 20px;
    }

    &_marginBottom {
        margin-bottom: 30px;
    }

    &__button {
        margin-top: 30px;
    }
}

@media (min-width: 768px) {
    .request {   
        &__input {
            font-size: 1.125rem;
            padding: 20px;
        }
    }
}
    
@media (min-width: 992px) {
    .request {
        &__block {
            width: 65%;
        }
        
        &__input {
            margin-bottom: 0;
        }
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1180px !important;
    }
}

@media (max-width: 992px) {
    .main {
        padding-top: 68px;
    }

    .headline__text {
        padding: 60px 44px;
    }

    .accessories {
        padding-top: 0;

        &__block {
            height: 350px;
        }

        &__title {
            font-size: 1.3rem;
        }
    }

    .product-grid {
        &__attribute-title {        
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 10px;
        }
    }

    .request {
        &_marginBottom {
            margin: 0;
        }

        &__button_text {
            position: relative;
            display: flex;
            top: -5px;
        }

        &_paddingBottom {
            padding-bottom: 30px;
        }
    }

    .freestyle-image {
        &_mobile {
            max-width: 164px !important;
        }
    }

    .eclipce-image {
        &_mobile {
            width: 59% !important;
        }
    }

    .button {
        &-view_first {
            margin-top: 3px;
        }

        &-view_second {
            margin-top: 3px;
        }

        &-view_third {
            margin-top: 12px;
        }

        &-view_fourth {
            margin-top: 12px;
        }
    }
}

@media (max-width: 580px) {
    .button {
        &-view_first {
            margin-top: 10px;
        }
    }

    .product-grid {
        &__header_margin {
            margin-bottom: 15px !important;
        }
    }
}

@media (max-width: 400px) {
    .button {
        &-view_second {
            margin-top: 11px;
        }
    }
}