@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Thin.eot');
    src: url('../fonts/HelveticaNeueCyr-Thin.eot?iefix') format('eot'),
        url('../fonts/HelveticaNeueCyr-Thin.woff') format('woff'),
        url('../fonts/HelveticaNeueCyr-Thin.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Roman.eot');
    src: url('../fonts/HelveticaNeueCyr-Roman.eot?iefix') format('eot'),
        url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
        url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Medium.eot');
    src: url('../fonts/HelveticaNeueCyr-Medium.eot?iefix') format('eot'),
        url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'),
        url('../fonts/HelveticaNeueCyr-Medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Bold.eot');
    src: url('../fonts/HelveticaNeueCyr-Bold.eot?iefix') format('eot'),
        url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
        url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Heavy.eot');
    src: url('../fonts/HelveticaNeueCyr-Heavy.eot?iefix') format('eot'),
        url('../fonts/HelveticaNeueCyr-Heavy.woff') format('woff'),
        url('../fonts/HelveticaNeueCyr-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@media (max-width: 1399.98px) {
    .px-body {
        padding: 0 4vw !important;
    }

    .headear-links {
        margin-right: 1.5vw !important;
    }

    .city {
        padding: 5px 12px !important;
        margin-left: 0.6875vw !important;
        margin-right: 0vw !important;
    }
}

@media (max-width: 1299.98px) {
    .city {
        margin-left: 0vw !important;
        margin-right: 1vw !important;
    }

    .header-arrows {
        margin-right: 0.5vw !important;
    }

    .px-body {
        padding: 0 2vw !important;
    }
}

@media (min-width: 1199.98px) {
    .sidebar__mobile {
        display: none;
    }
}

@media (max-width: 1199.98px) {
    .m__hide {
        display: none;
    }

    .info-bg-text {
        background-image: url(.././img/info-bg-text-ipad.svg) !important;
        background-size: cover !important;
        width: 65% !important;
        font-size: 18px !important;
        padding: 10px 0 !important;
        padding-right: 4.5vw !important;
        padding-left: calc(2vw + 16px) !important;
    }

    .burger-card span {
        font-size: 26px !important;
    }

    .burger-card button {
        margin-top: 20px;
    }

    .burger-card__bg {
        height: 25vh !important;
    }
}

@media (max-width: 1024px) {
    .burger-card {
        padding: 23px 24px 23px 24px !important;
        margin-bottom: 2vh !important;
    }

    .info-title {
        font-size: 48px !important;
        padding-right: 15% !important;
    }

    .burger-card h3 {
        font-size: 24px !important;
        margin-bottom: 14px !important;
    }

    .burger-card p {
        font-size: 16px !important;
        margin-bottom: 2.5vh !important;
    }

    span.regular-text {
        display: none !important;
    }

    .card-bg {
        height: 25vh !important;
    }

    .ordering h1 {
        font-size: 48px !important;
        margin-bottom: 4.05vh !important;
    }
}

@media (max-width: 992px) {
    .ordering h1 {
        font-size: 36px !important;
        margin-bottom: 12px !important;
    }
    .px-body {
        padding: 0 2.25vw !important;
    }

    .info-bg-text {
        background-image: url(.././img/info-bg-text-phone.svg) !important;
        background-size: cover !important;
        width: 40% !important;
        font-size: 14px !important;
        padding: 5px !important;
        padding-right: 5.5vw !important;
        padding-left: calc(0vw + 16px) !important;
    }

    .info-title {
        font-size: 28px !important;
        padding-right: 10% !important;
    }

    .sidebar-content__title {
        font-size: 24px !important;
        line-height: 24px !important;
    }

    .price-holder {
        margin-bottom: 10px !important;
    }

    .sidebar-content a {
        font-size: 18px !important;
        line-height: 18px !important;
    }

    .sushi-card__custom {
        padding: 10px 8px 15px 8px !important;
        margin-bottom: 8px !important;
        border-radius: 5px !important;
    }



    .mobile-hide {
        display: none !important;
    }

    .card-bg {
        height: 14.5vh !important;
        margin-bottom: 13px !important;
    }

    .sushi-card__custom h3 {
        font-size: 12px !important;
        line-height: 12px !important;
        padding: 0px 5px !important;
    }

    .sushi-card__custom p {
        font-size: 10px !important;
        margin-bottom: 10px !important;
    }

    .sushi-card__custom span {
        font-size: 16px !important;
        line-height: 140% !important;
    }

    .burger-card span {
        font-size: 26px !important;
    }

    .sushi-card__custom button {
        font-size: 12px !important;
        line-height: 140% !important;
        border-radius: 14px !important;
        padding: 6px 0 !important;
    }

    .custom-card__discount {
        top: 8% !important;
    }

    .sushi-cards__title {
        font-size: 36px !important;
        margin-bottom: 3vh !important;
        margin-top: 5.7vh !important;
    }

    .button-order {
        font-size: 12px !important;
        line-height: 12px !important;
        padding: 12px 0px !important;
    }

    .sidebar__mobile {
        margin-top: 52px !important;
        height: calc(100vh - 52px) !important;
    }

    .custom-card__discount div {
        background-image: url(.././img/card-discount-mobile.svg);
        background-size: contain;
        font-size: 14px !important;
        padding-left: 8px !important;
    }

    .sushi-cards__title div {
        width: 15vw !important;
    }

    .footer a {
        font-size: 14px !important;
        line-height: 14px !important;
        margin-bottom: 8px !important;
    }

    .footer h4 {
        margin-bottom: 10px !important;
        font-size: 24px !important;
        line-height: 24px !important;
    }

    a.footer-phone {
        margin-bottom: 2.15vh !important;
        font-size: 36px !important;
        line-height: 36px !important;
    }

    a.footer-mail {
        margin-bottom: 2.8vh !important;
        font-size: 18px !important;
        line-height: 18px !important;
    }

    .footer-social {
        margin-top: 1.7vh !important;
    }

    .footer-line {
        margin-bottom: 5vh !important;
    }

    .info,
    .ordering {
        margin-top: 12vh !important;
    }
    
    .ordering {
    margin-top: 52px !important;
}

    .px-table {
        padding: 0 !important;
    }

    .card-discount {
        transform: rotate(-15deg) scale(0.8) !important;
        padding: 15px 11px !important;
        margin-top: 3.8vh !important;
    }

    .card-discount p {
        font-size: 20px !important;
        line-height: 20px !important;
    }
    
    .card-discount span {
        font-size: 12px !important;
    }

    .info-bg {
        padding-bottom: 7vh !important;
    background-image: url(.././img/qwerty.svg) !important;
    background-size: 60% !important;
    background-position: 100% 100% !important;
    padding-bottom: 15vh;
    }

    .sushi-card__custom small {
        font-size: 12px !important;
        border: 1px solid #676767;
        padding: 4px 9px;
    }

    .burger-card small {
        font-size: 12px !important;
        border: 1px solid #676767;
        padding: 4px 9px;
        display: block;
    }
}

@media (max-width:768px) {
        .info-bg-text {
        background-image: url(.././img/info-bg-text-phone.svg) !important;
        background-size: cover !important;
        width: 70% !important;
        font-size: 14px !important;
        padding: 5px !important;
        padding-right: 5.5vw !important;
        padding-left: calc(0vw + 16px) !important;
    }
}

:root {
    --blackColor: #0b0b0b;
    --yellowColor: #F5CA2D;
    --lightColor: #FCDA5E;
}

body {
    background-color: var(--blackColor);
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
}

input,
input:focus,
button,
button:focus {
    outline: none;
    border: none;
}

.px-body {
    padding: 0 6vw;
}

.popover__title {
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 400;
    margin-bottom: 0px;
}

.popover__wrapper {
    font-weight: 400;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}

.popover__content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -15px;
    transform: translate(0, 10px);
    background-color: #262626;
    border-radius: 10px;
    padding: 0.75rem 1.5rem;
    width: auto;
}

.popover__content-city,
.popover__content-language {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -10px;
    transform: translate(0, 10px);
    background-color: #262626;
    border-radius: 10px;
    padding: 0.75rem 1.5rem;
    width: auto;
}

.popover__content-language {
    left: -4px;
}

.popover__content a {
    font-size: 20px;
    line-height: 24px;
    display: block;
    margin: 0.75rem 0;
    color: #FFFFFF;
    transition: .4s all;
}

.popover__content a:nth-child(1) {
    margin: 0rem 0 0.75rem 0;
}

.popover__content a:hover, .popover__wrapper button:hover {
    color: var(--yellowColor);
}

.popover__content:before,
.popover__content-city:before,
.popover__content-language:before {
    position: absolute;
    z-index: -1;
    content: "";
    right: calc(50% - 10px);
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #262626 transparent;
    transition-duration: 0.6s;
    transition-property: transform;
}

.popover__wrapper:hover .popover__content,
.popover__wrapper:hover .popover__content-city,
.popover__wrapper:hover .popover__content-language {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.rotate {
    transition: .4s all;
}

.popover__wrapper:hover .header-arrows,
.popover__wrapper:hover .rotate {
    transform: rotateX(180deg);
}

.popover__message {
    text-align: center;
}

.header-arrows {
    padding-left: 8px;
    margin-right: 2vw;
    transition: .4s all;
}

.headear-links {
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    transition: .4s all;
    margin-right: 2vw;
}

.headear-links:hover {
    color: var(--yellowColor);
}

.city-switch {
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    transition: .4s all;
}

.city {
    border: 2px solid #F5CA2D;
    padding: 5px 12px 8px  !important;
    margin-left: 1.6875vw;
    box-sizing: border-box;
    margin-right: 2vw;
    border-radius: 3px;
}

.language {
    border: 2px solid #F5CA2D;
    padding: 5px 12px 8px !important;
    border-radius: 3px;
}

.header-phone a {
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
    display: block;
    margin-bottom: 4px;
}

.header-phone p {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 0px;
    color: #FFFFFF;
    font-weight: 700;
}

.header-phone span {
    color: var(--yellowColor);
}

.button-order {
    font-size: 18px;
    line-height: 18px;
    color: #0b0b0b;
    font-weight: 500;
    background-color: var(--yellowColor);
    border-radius: 25.5px;
    padding: 16px 0px;
    display: block;
    transition: .4s all;
    text-align: center;
}

.button-order:hover {
    color: #0b0b0b;
    background-color: var(--lightColor);
}

.info-title {
    font-size: 56px;
    line-height: 120%;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-right: 24%;
    margin-bottom: 4.5vh;
}

.info-title span {
    color: var(--yellowColor);
}

.info-bg {
    background-size: contain;
    background-image: url(.././img/info-bg.svg);
    background-repeat: no-repeat;
    background-position: 100% 0%;
    padding-bottom: 15vh;
}

.info-bg-text {
    background-image: url(.././img/info-bg-text.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    font-size: 24px;
    line-height: 120%;
    font-weight: 700;
    text-transform: uppercase;
    color: #0b0b0b;
    padding: 20px 0;
    padding-right: 4.5vw;
    padding-left: calc(6vw + 16px);
}

.info {
    margin-top: calc(10.5vh + 100px);
}

.ordering {
    margin-top: 116px;
}

.ordering button {
    font-size: 18px;
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 18px;
    text-align: center;
    color: #0b0b0b;
    background-color: var(--yellowColor);
    padding: 16px 0;
    border-radius: 25.5px;
    transition: .4s all;
    margin-bottom: 9.5vh;
}

.ordering button:hover {
    background-color: var(--lightolor);
}

.ordering input,
.ordering textarea {
    width: 100%;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 18px;
    line-height: 120%;
    color: #0b0b0b;
    margin-bottom: 16px;
}

.ordering textarea::placeholder {
    font-size: 18px;
    line-height: 120%;
    color: #0b0b0b;
}

.ordering span {
    font-size: 18px;
    line-height: 120%;
    color: #0b0b0b;
    margin-bottom: 12px;
    display: block;
}

.ordering h1 {
    font-size: 56px;
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: 5.7vh;
    margin-top: 5vh;
    color: #000000;
    font-weight: 700;
}

.card-discount {
    transform: rotate(-5.5deg);
    border: 2px dashed #FFFFFF;
    padding: 30px 20px;
    margin-top: 7vh;
}

.card-discount p {
    font-size: 36px;
    line-height: 36px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.card-discount span {
    font-size: 14px;
    line-height: 14px;
    display: block;
    color: #FFFFFF;
    margin-bottom: 10px;
    font-weight: 500;
}

.header {
    background-color: #0b0b0b;
}

.sushi-cards__title {
    font-size: 64px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
    margin-bottom: 7.6vh;
}

.sushi-cards__title img {
    display: flex;
    margin: 0 auto;
    margin-top: 1.77vh;
}

.sushi-cards__title div {
    width: 6vw;
    background-color: var(--yellowColor);
    height: 3px;
    margin: auto;
    margin-top: 20px;
}

.sushi-card__custom {
    padding: 35px 32px 40px 32px;
    margin-bottom: 3.8vh;
    background-color: #262626;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 14px;
}

.sushi-card__custom h3 {
    font-size: 28px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0px 20px;
    margin-bottom: 7px;
}

.sushi-card__custom p {
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.sushi-card__custom span {
    font-size: 28px;
    line-height: 140%;
    color: #FFFFFF;
    font-weight: 700;
}

.sushi-card__custom small {
    font-size: 18px;
    font-weight: 500;
    color: var(--yellowColor);
}

.burger-card small {
    font-size: 18px;
    font-weight: 500;
    color: var(--yellowColor);
}

.sushi-card__custom input,
.burger-card input {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #0b0b0b;
    width: 40%;
    text-align: center;
    background-color: var(--yellowColor);
}

.sushi-card__custom input::placeholder,
.burger-card input::placeholder {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #0b0b0b;
}

.sushi-card__custom button {
    font-size: 18px;
    line-height: 18px;
    color: #0b0b0b;
    background-color: var(--yellowColor);
    padding: 16px 0;
    width: 100%;
    border: none;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 25.5px;
    transition: .4s all;
}

.sushi-card__custom button:hover {
    background-color: var(--lightColor);
}

.card-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(.././img/card-bg.png);
    height: 38vh;
    margin-bottom: 20px;
}

.price-holder {
    margin-bottom: 20px;
}

.counter {
    border: 1px solid var(--yellowColor);
    box-sizing: border-box;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
}

.counter img {
    cursor: pointer;
    padding: 5px;
    margin: auto;
}

.custom-card__discount {
    width: 90%;
    text-align: left;
    position: absolute;
    top: 10%;
}

.custom-card__discount div {
    background-image: url(.././img/card-discount.svg);
    background-repeat: no-repeat;
    font-size: 24px;
    color: #0b0b0b;
    font-weight: 700;
    padding-left: 20px;
}

.footer {
    margin-top: 9vh;
}

.footer a {
    display: block;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer h4 {
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-line {
    background-color: var(--yellowColor);
    height: 3px;
    width: 100%;
    margin-bottom: 7.35vh;
}

.footer-social {
    margin-top: 5.7vh;
    display: inline-flex;
}

.hamburger {
    cursor: pointer;
    transition: all .5s;
    float: right;
}

.hamburger div {
    height: 3px;
    background-color: #fff;
    transition: all .3s;
}

.hamburger div:nth-child(1) {
    width: 39px;
}

.hamburger div:nth-child(2) {
    width: 39px;
    margin-top: 6px;
    transition: 1s all;
    opacity: 1;
}

.hamburger:hover div:nth-child(2) {
    width: 32px;
    margin-left: 7px;
}

.hamburger div:nth-child(3) {
    width: 39px;
    margin-top: 6px;
}

.sidebar__mobile {
    background-color: #0b0b0b;
    margin-top: 116px;
    height: calc(100vh - 116px);
    z-index: 12150;
    position: fixed;
    right: -100%;
    width: 100%;
    top: 0;
    transition: 1s all;
}

.sidebar__mobile a:hover {
    text-decoration: none;
}

.active-sidebar {
    right: 0%;
    transition: 1s all;
}

.nav__chrested {
    cursor: pointer;
    transition: .4s all;
    z-index: 200;
}

.nav__chrested div {
    height: 3px;
    background-color: #fff;
}

.nav__chrested div:nth-child(1) {
    width: 30px;
    transform: rotate(45deg);
}

.nav__chrested div:nth-child(2) {
    opacity: 0;
    position: relative;
    right: -1000%;
}

.nav__chrested div:nth-child(3) {
    width: 30px;
    transform: rotate(-45deg);
    margin-top: -11px;
}

.inline-flex {
    display: inline-flex;
}

.sidebar-content a {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 2.05vh;
    font-weight: 300;
}

.sidebar-content img {
    padding: 0px 5px;
}

a.sidebar-content__title {
    font-weight: 600;
    margin-top: 5.07vh;
    font-size: 36px;
    line-height: 36px;
}

span.regular-text {
    font-size: 18px;
    line-height: 18px;
    color: #000000;
    font-weight: 600;
}

.burger-card {
    padding: 35px 50px 40px 50px;
    margin-bottom: 3.8vh;
    background-color: #262626;
    border-radius: 10px;
}

.burger-card span {
    font-size: 32px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
}

.burger-card button {
    width: 100%;
    font-size: 18px;
    line-height: 18px;
    color: #0b0b0b;
    padding: 16px 0;
    background-color: var(--yellowColor);
    border-radius: 25.5px;
    text-transform: uppercase;
    font-weight: 600;
}

.burger-card h3 {
    font-size: 42px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 16px;
}

.burger-card p {
    text-align: left;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 4.3vh;
}

.burger-card__bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(.././img/card-burger.png);
    height: 38vh;
    margin-bottom: 20px;
}

.modal {
    height: 100vh;
}

.modal-card {
    border: 5px solid var(--yellowColor);
    background-image: url(.././img/log-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 47.3vh;
    max-width: 43vw;
}