@font-face {
    font-family: 'FuturaNew';
    src: url('../fonts/FuturaNewBook-Reg.eot');
    src: url('../fonts/FuturaNewBook-Reg.eot?iefix') format('eot'),
        url('../fonts/FuturaNewBook-Reg.woff') format('woff'),
        url('../fonts/FuturaNewBook-Reg.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaNew';
    src: url('../fonts/FuturaNewMedium-Reg.eot');
    src: url('../fonts/FuturaNewMedium-Reg.eot?iefix') format('eot'),
        url('../fonts/FuturaNewMedium-Reg.woff') format('woff'),
        url('../fonts/FuturaNewMedium-Reg.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaNew';
    src: url('../fonts/FuturaNewDemi-Reg.eot');
    src: url('../fonts/FuturaNewDemi-Reg.eot?iefix') format('eot'),
        url('../fonts/FuturaNewDemi-Reg.woff') format('woff'),
        url('../fonts/FuturaNewDemi-Reg.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaNew';
    src: url('../fonts/FuturaNewBold-Reg.eot');
    src: url('../fonts/FuturaNewBold-Reg.eot?iefix') format('eot'),
        url('../fonts/FuturaNewBold-Reg.woff') format('woff'),
        url('../fonts/FuturaNewBold-Reg.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

:root {
    --brand-orange: #FE9F49;
    --brand-orange-hover: #ff8c23;
    --dark-orange: #E25E21;
    --not-white: #FDFAF8;
    --almost-black: #161616;
    --pink: #F9EEEE;
    --tr-sm: all .69s cubic-bezier(0.19, 1, 0.22, 1);
}

body {
    background-color: var(--not-white);
    font-family: "FuturaNew", sans-serif;
    padding-top: 90px;
}

body * {
    transition: var(--tr-sm);
}

.px-6vw {
    padding-left: 5vw !important;
    padding-right: 5vw !important;
}

.pl-6vw {
    padding-left: 5vw !important;
}

.pr-6vw {
    padding-right: 5vw !important;
}

.navbar {
    padding: 20px 5vw;
    background-color: var(--not-white);
    font-size: 18px;
}

.navbar-brand {
    margin-right: 8px;
}

#order-button {
    position: relative;
    display: block;
    width: 170px;
    padding: 12px;
    color: #fff;
    background-color: var(--brand-orange);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
}

#order-button:hover {
    background-color: var(--brand-orange-hover);
    text-decoration: none;
}

.nav-link {
    padding: 10px 2vw !important;
    color: var(--almost-black);
    font-weight: 600;
}

.nav-link:hover {
    transform: translateY(-3px);
    color: var(--almost-black);
}

.nav-dropdown {
    cursor: pointer;
    display: inline-block;
    text-align: left !important;
}

.nav-dropdown div {
    visibility: collapse;
    position: absolute;
    opacity: 0;
    background-color: #fff;
    padding: 0px 12px 4px 12px;
    transform: translateX(-12px);
    border-radius: 5px;
    box-shadow: 0px 4px 14px rgba(202, 202, 202, 0.25);
}

.nav-dropdown a {
    display: block;
    color: var(--almost-black);
    padding-top: 3px;
    padding-bottom: 1px;
}

.nav-dropdown:hover {
    transform: none;
}

.nav-dropdown:hover img {
    transform: rotate(180deg)
}

.nav-dropdown:hover div {
    visibility: visible !important;
    opacity: 1;
    margin-top: 4px;
}

.nav-dropdown a:hover {
    text-decoration: none;
    color: var(--brand-orange-hover);
}

.navbar-toggler {
    padding: 4px 0px;
    outline: none !important;
}

#hamburger {
    position: relative;
    width: 28px;
    height: 28px;
    margin-top: 10px;
}

#hamburger div {
    position: absolute;
    left: 0;
    width: 28px;
    height: 2.4px;
    background-color: var(--almost-black);
    border-radius: 2px;
}

#hamburger div:nth-child(1) {
    transform-origin: 0 100%;
}

#hamburger div:nth-child(2) {
    top: 8px;
    transform-origin: 100% 100%;
}

#hamburger div:nth-child(3) {
    top: 16px;
}

#hamburger.chrested div:nth-child(1) {
    transform: rotate(45deg);
    left: 6px;
    top: -3px;
}

#hamburger.chrested div:nth-child(2) {
    top: -3px;
    transform: rotate(-45deg);
}

#hamburger.chrested div:nth-child(3) {
    top: 24px;
    opacity: 0;
}

#cart-shortlist {
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #fff;
    padding: 24px;
    color: var(--almost-black);
    border-radius: 5px;
    visibility: collapse;
    opacity: 0;
    box-shadow: 0px 4px 14px rgba(202, 202, 202, 0.25);
}

#order-button:hover #cart-shortlist {
    visibility: visible;
    opacity: 1;
    margin-top: 8px;
}

#cart-shortlist div {
    display: flex;
    justify-content: space-between;
}

#cart-shortlist div span:first-child {
    padding-right: 80px;
    font-size: 20px;
    white-space: nowrap;
    font-weight: 400;
}

#cart-shortlist div span:last-child {
    font-size: 20px;
    font-weight: 500;
}

.nav-phone {
    border: 1px solid var(--brand-orange);
    padding: 4px 8px 8px 8px;
    border-radius: 5px;
}

.nav-phone img {
    height: 20px;
    width: 20px;
    color: #fff;
}

.social a {
    margin-top: 40px;
    display: inline-block;
    font-weight: 400;
    font-size: 20px;
}

.container-fluid {
    padding: 0;
}

h1 {
    font-weight: 700;
    font-size: 64px;
}

h3 {
    font-weight: 600;
    font-size: 36px;
    color: var(--almost-black);
}

h5 {
    font-weight: 700;
    font-size: 20px;
    color: var(--almost-black);
}

.about-content h5 {
    margin-top: 24px;
    margin-bottom: 8px;
    line-height: 140%;
}

.about-content img {
    margin-top: 52px;
}

.about-content p {
    font-size: 18px;
    line-height: 120%;
}

#main-bg {
    height: 100%;
    width: 100%;
    background-image: url(../img/main%20photo.png);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-position: center;
    background-size: cover;
}

#main-call-us {
    position: absolute;
    right: 0;
    bottom: 72px;
    background-color: var(--not-white);
    font-weight: 700;
    font-size: 18px;
    padding: 28px 5vw;
    border-left: 4px solid var(--dark-orange);
}

#main-description {
    font-size: 18px;
    font-weight: 500;
    padding-top: 20px;
}

.button-filled {
    display: inline-block;
    padding: 16px 52px;
    background-color: var(--brand-orange);
    border-radius: 5px;
    font-size: 24px;
    color: #fff;
}

.button-filled:hover {
    text-decoration: none;
    background-color: var(--brand-orange-hover);
    color: #fff;
}

.main-social a {
    font-weight: 400;
    font-size: 18px;
    color: var(--almost-black);
    margin-right: 60px;
}

.main-social a:hover {
    color: var(--dark-orange);
    text-decoration: none;
}

#main-left {
    margin-top: 15vh;
    padding-left: 5vw;
}

#about-img {
    background-color: var(--pink);
    transform: translateX(-5vw);
    padding: 90px 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100%;
}

#about-img div {
    height: 100%;
    width: 93%;
    transform: translateX(5vw);
    border-radius: 10px;
    background-size: cover;
}

.about-content {
    padding: 90px 0px;
}

#footer-phone {
    font-size: 36px;
    font-weight: 700;
    color: var(--almost-black);
    display: block;
    line-height: 85%;
    margin-bottom: 36px;
}

#footer-phone:hover,
#footer-mail:hover {
    text-decoration: none;
    transform: translateX(5px);
}

#footer-mail,
#work-time {
    font-size: 20px;
    font-weight: 700;
    color: var(--almost-black);
    display: block;
    margin-bottom: 8px;
}

footer {
    background-color: #fff;
    border-top: 1px solid #CBBFB9;
    padding-top: 48px !important;
    padding-bottom: 32px !important;
    margin-top: 32px;
}

.footer-links {
    font-size: 24px;
}

.footer-links a {
    display: block;
    line-height: 100%;
    font-weight: 700;
    color: var(--almost-black);
    margin-bottom: 24px;
}

.footer-links a:hover {
    text-decoration: none;
    transform: translateX(-5px);
}

.tech-links a {
    font-size: 14px;
    font-weight: 600;
    color: var(--almost-black);
}

.tech-links a:hover {
    text-decoration: none;
    color: var(--dark-orange);
}

#menu-topbar {
    background-image: url(../img/menutop.png);
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-position: center;
    background-size: cover;
}

#menu-topbar span {
    font-size: 20px;
    color: var(--brand-orange-hover);
    font-weight: 700;
}

#menu-topbar p {
    font-size: 20px;
    color: var(--almost-black);
    font-weight: 700;
}

.day-tab {
    cursor: pointer;
    background-color: var(--brand-orange);
    padding: 16px 32px;
    border-radius: 10px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
}

.day-tab:hover {
    background-color: var(--brand-orange-hover);
}

.day-tab[aria-expanded=true] {
    background-color: var(--dark-orange) !important;
}

.day-tab[aria-expanded=true] img {
    transform: rotate(180deg);
    padding-bottom: 0px;
}

.day-tab h4 {
    font-size: 28px;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 0px;
}

.day-tab img {
    margin-bottom: 6px;
    transform-origin: 50% 50%;
    margin-right: 32px;
}

.day-tab small {
    font-size: 18px;
    margin-right: 32px;
    line-height: 150%;
}

.food-card {
    width: 100%;
    box-shadow: 0px 4px 14px rgba(202, 202, 202, 0.25);
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 16px;
}

.food-card-image {
    height: 20vw;
    width: 100%;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.food-card-tags {
    position: absolute;
    right: 32px;
    top: 24px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 4px 14px rgba(202, 202, 202, 0.25);
    padding: 8px;
}

.food-card-tags img:not(:first-child) {
    margin-top: 8px;
    display: block;
}

.food-card-content {
    padding: 16px 24px;
}

.food-card-content h5 {
    font-size: 28px;
    font-weight: 600;
    color: var(--almost-black);
    margin-bottom: 16px;
}

label img {
    background-color: #D51C1C;
    margin-left: 4px;
}

label span {
    position: relative;
    color: var(--almost-black);
}

label span::after {
    width: 0%;
    height: 1.6px;
    background-color: #000000AA;
    content: "";
    display: block;
    position: absolute;
    top: calc(50% + 1.6px);
    right: -2px;
    transition: all .3s;
}

input[type=checkbox]:disabled ~ img,
.ingredients input[type=checkbox] {
    display: none;
}

input[type=checkbox]:checked ~ img {
    transform: rotate(45deg);
    background-color: #3EC290;
}

input[type=checkbox]:checked ~ span::after {
    width: calc(100% + 4px);
}

input[type=checkbox]:checked ~ span {
    color: #C4C4C4;
}

.accordion label:hover {
    border-color: #999;
}

.ingredients label {
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    padding: 0px 8px 3px 10px;
    margin-right: -10px;
    margin-bottom: 6px;
}

.ingredients {
    margin-bottom: 8px;
}


.food-card-info {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    width: 100% !important;
    flex-direction: row;
}

.food-card-info div {
    padding: 4px;
    border-radius: 5px;
    border: 1px solid #E9E9E9;
}

.food-card-info div span {
    display: inline-block;
    width: 16px;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    border-radius: 3px;
}

.food-card-info div span:hover {
    background-color: var(--not-white);
}

.food-card-info div span img {
    margin-bottom: 3px;
}

.food-card-info input {
    width: 32px;
    border-radius: 5px;
    background-color: var(--brand-orange);
    border: none;
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.food-card-info small {
    font-size: 16px;
    color: #837F7D;
}

.food-card-info h6 {
    font-size: 24px;
    margin-bottom: 0px;
    font-weight: 700;
}

.food-card-button {
    width: 100%;
    background-color: var(--brand-orange);
    border: none;
    color: #fff;
    padding: 12px;
    font-size: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: 600;
    outline: none !important;
}

.food-card-button:hover {
    background-color: var(--brand-orange-hover);
}

.card-col {
    padding: 0px 8px;
}

.bg-pink {
    background-color: var(--pink);
}

.back-button {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    color: var(--almost-black);
}

.back-button img {
    margin-right: 8px;
}

.back-button:hover {
    color: var(--almost-black);
    text-decoration: none;
    transform: translateX(-4px);
}

.cart-food-card {
    width: 100%;
    box-shadow: 0px 4px 14px rgba(202, 202, 202, 0.25);
    border-radius: 5px;
    background-color: #fff;
    padding: 16px;
    display: inline-flex;
    margin-bottom: 16px;
}

.cart-food-close {
    position: absolute;
    right: 24px;
    top: 16px;
    cursor: pointer;
}

.cart-food-content h5 {
    padding-right: 30px;
    margin-top: -4px;
    margin-bottom: 4px;
}

.cart-food-content h5 small {
    font-size: 14px;
    border: 1px solid #E9E9E9;
    padding: 0px 4px 2px 4px;
    margin-right: 4px;
    border-radius: 3px;
    cursor: context-menu;
}

.cart-food-img {
    width: 8vw;
    height: 8vw;
    background-size: cover;
    border-radius: 5px;
}

.cart-food-content {
    width: calc(100% - 8vw - 16px);
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#submit-form input[type=text],
textarea {
    font-size: 18px;
    padding: 16px 32px;
    display: block;
    width: 100%;
    box-shadow: 0px 4px 14px rgba(202, 202, 202, 0.25);
    border-radius: 5px;
    border: 1px solid #fff;
    outline: none;
    box-sizing: border-box;
}

#submit-form input[type=text]:focus {
    border: 1px solid var(--brand-orange);
}

#submit-form label {
    font-size: 18px;
    font-weight: 400;
    color: var(--almost-black);

}

.v-line {
    width: 100%;
    height: 1px;
    background-color: #CBBFB9;
    margin: 28px 0px;
}

.radio {
    margin: 16px 0;
    display: block;
    cursor: pointer;
}

.radio input {
    display: none;
}

.radio input + span {
    font-size: 18px;
    line-height: 22px;
    height: 20px;
    display: block;
    position: relative;
}

.radio input + span:not(:empty) {
    padding-left: 30px;
}

.radio input + span:before,
.radio input + span:after {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
    left: 0;
    top: 0;
    position: absolute;
}

.radio input + span:before {
    background: #d1d7e3;
    transition: background 0.2s ease, -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
    transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
    transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2), -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}

.radio input + span:after {
    background: #fff;
    transform: scale(0.8);
    transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
}

.radio input:checked + span:before {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
    background: var(--brand-orange);
}

.radio input:checked + span:after {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.radio:hover input + span:before {
    -webkit-transform: scale(0.92);
    transform: scale(0.92);
}

.radio:hover input + span:after {
    -webkit-transform: scale(0.74);
    transform: scale(0.74);
}

.radio:hover input:checked + span:after {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
}

.check {
    display: block;
    cursor: pointer;
}

.check input {
    opacity: 0;
    cursor: pointer;
    margin-right: 16px;
}

.check p {
    padding-left: 32px;
    margin-top: -18px;
}

.check p::before {
    position: absolute;
    height: 20px;
    width: 20px;
    border: 1px solid #d1d7e3;
    border-radius: 3px;
    content: "";
    transform: translateX(-32px) translateY(2px);
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
    background-color: #fff;
}

.check p:hover::before {
    border: 1px solid #999;
}

.check p::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 10px;
    transform: rotate(10deg) translateY(7px);
    left: 11px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
}

.check input:checked ~ p::after {
    opacity: 1;
    transform: rotate(40deg) translateY(6px);
}

.check input:checked ~ p::before {
    border: 1px solid var(--brand-orange);
    background-color: var(--brand-orange);
}

#order-sumbit-button {
    background-color: var(--brand-orange);
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 16px 32px;
    outline: none !important;
    font-size: 24px;
}

#order-sumbit-button:hover {
    background-color: var(--brand-orange-hover);
}

#submit-total {
    padding: 44px 52px;
    box-shadow: 0px 4px 14px rgba(202, 202, 202, 0.25);
    border-radius: 5px;
    background-color: #fff;
}

#submit-total div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#submit-total div:first-child {
    border-bottom: 1px solid var(--dark-orange);
}

#submit-total h5 {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 8px;
}

#submit-total span {
    color: #837F7D;
    font-size: 24px;
    padding: 4px 8px;
    line-height: 110%;
}

#submit-total small {
    display: block;
    font-size: 14px;
    margin-top: -4px;
}

@media screen and (max-width: 1199px) {
    h1 {
        font-size: 48px;
    }

    h3 {
        font-size: 32px;
    }

    .food-card-content {
        padding: 16px;
    }

    .food-card-tags {
        right: 24px;
        top: 16px;
    }

    .cart-food-img {
        width: 12vw;
        height: 12vw;
    }

    .cart-food-content {
        width: calc(100% - 12vw - 16px);
    }
}

@media screen and (max-width: 992px) {
    #order-button {
        width: 120px;
        padding: 8px 0px;
    }

    .navbar-brand img {
        width: 110px;
    }

    .food-card-image {
        height: 36vw;
    }
}

@media screen and (max-width: 767px) {
    .nav-link {
        font-size: 24px;
        text-align: center;
    }

    .nav-dropdown {
        margin-bottom: 72px;
        margin-top: 24px;
    }

    .nav-dropdown div {
        margin-left: auto;
    }

    .navbar-collapse {
        text-align: center;
    }

    .nav-link {
        padding: 10px 5vw !important;
    }

    .nav-dropdown a {
        font-size: 20px;
    }

    h1 {
        font-size: 42px;
    }

    #main-call-us {
        display: none;
    }

    #main-description {
        font-size: 16px;
    }

    #about-img {
        height: 300px;
        padding: 15px;
        transform: none;
        border-radius: 10px;
    }

    #about-img div {
        transform: none;
        width: 100%;
    }

    footer {
        padding-top: 24px !important;
    }

    .tech-links a {
        display: block;
        width: 100%;
        text-align: center;
        margin: 8px 0px;
    }

    .food-card-image {
        height: 45vw;
    }

    #cart-shortlist {
        display: none;
    }

    .back-button {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 32px;
    }

    .cart-food-card {
        padding: 8px;
    }

    .cart-food-img {
        width: 16vw;
        height: 16vw;
    }

    .cart-food-content {
        width: calc(100% - 16vw - 8px);
    }

    .cart-food-close {
        top: 8px;
        right: 16px;
    }

    .cart-food-content h5 {
        padding-right: 18px;
        font-size: 18px;
    }

    .cart-food-content {
        margin-left: 8px;
    }
}

@media screen and (max-width: 576px) {
    #order-button {
        width: 90px;
        padding: 6px 0px;
        font-size: 16px;
    }

    .navbar-brand img {
        width: 100px;
    }

    .nav-phone {
        padding: 2px 6px 6px 6px;
    }

    .navbar {
        padding: 10px 15px;
        border-bottom: 1px solid #CBBFB9;
    }

    #main-left {
        margin-top: 10vh;
        padding: 0px 15px;
        text-align: center;
    }

    h1 {
        font-size: 36px;
    }

    h3 {
        font-size: 28px;
    }

    .main-social {
        display: none;
    }

    .about-content {
        text-align: center;
        padding-top: 32px;
    }

    .button-filled {
        width: 100%;
        font-size: 20px;
        padding: 12px;
    }

    .px-6vw {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .pl-6vw {
        padding-left: 15px !important;
    }

    .pr-6vw {
        padding-right: 15px !important;
    }

    footer {
        padding-top: 32px !important;
    }

    #menu-topbar {
        border-radius: 0px;
        padding-right: 15px;
    }

    #menu-topbar .row {
        padding-left: none !important;
    }

    .menu-top-container {
        padding-right: 0px !important;
    }

    #menu-topbar span,
    #menu-topbar p {
        font-size: 16px;
    }

    .day-tab small {
        display: none;
    }

    .day-tab h4 {
        font-size: 20px;
    }

    .day-tab img {
        margin-right: 15px;
        margin-bottom: 3px;
        width: 16px;
    }

    .day-tab {
        padding: 16px 20px;
    }

    .food-card-info small {
        font-size: 14px;
    }

    .food-card-info input {
        font-size: 18px;
        width: 28px;
    }

    .food-card-image {
        height: 55vw;
    }


    .food-card-content h5 {
        font-size: 24px;
    }

    .food-card-button {
        padding: 8px;
    }

    .nav-dropdown div {
        transform: none;
    }

    .cart-food-img {
        width: 23vw;
        height: 23vw;
    }

    .cart-food-content {
        width: calc(100% - 23vw - 8px);
    }

    #submit-total {
        padding: 32px 16px;
    }
    
    #submit-total span {
        font-size: 20px;
    }
    
    #order-sumbit-button {
        width: 100%;
    }
}

@media screen and (max-width: 370px) {
    .cart-food-card .food-card-info small {
        display: none;
    }

    .cart-food-img {
        width: 27vw;
        height: 27vw;
    }

    .cart-food-content {
        width: calc(100% - 27vw - 8px);
    }
}
