@media screen and (max-width: 768px) {

    .px-8-ft {
        padding: 0px !important;
    }

    .pb-15 {
        padding-bottom: 40px !important;
    }

    .footer-link,
    .footer-link-social,
    .footer-link-site {
        font-size: 15px !important;
    }

    .footer-link:hover,
    .footer-link-social:hover,
    .footer-link-site:hover {
        color: #fff;
        transform: translateX(0px) !important;
        text-decoration: none;
    }

    .pr-20 {
        padding-right: 0px !important;
    }

    .pl-20 {
        padding-left: 0px !important;
    }

    .pr-6 {
        padding-right: 0px !important;
    }

    .pl-6 {
        padding-left: 0px !important;
    }

    .pr-13 {
        padding-right: 0px !important;
    }

    .pl-13 {
        padding-left: 0px !important;
    }

    .main-text {
        width: 100% !important;
        height: 40vh !important;
        position: absolute;
        right: 0;
        bottom: 0;
        padding-top: 15vh !important;
    }

    .slider-container {
        height: 60vh !important;
        width: 100% !important;
    }

    .arrows-container {
        display: none !important;
    }

    .bigger-text-right {
        font-family: 'Gilroy', sans-serif;
        font-weight: 600;
        font-size: 22px !important;
        text-transform: uppercase;
        line-height: 46px !important;
        letter-spacing: 0.07em !;
    }

    .arrow {
        display: none;
    }

    .custom-button-call {
        background: #AFD252;
        font-family: 'Gilroy', sans-serif;
        font-weight: 500;
        color: #fff;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.13em;
        text-transform: uppercase;
        padding: 21px 46px;
        border-radius: 0px;
        margin-top: 0px !important;
        width: 91.66%;
        margin-left: 4.17%;
        outline: none;
        box-shadow: none;
    }
    
    .custom-button-call:focus {
        outline: none;
        box-shadow: rgba(0,0,0,0); !important;
    }

    .regular-button {
        display: none !important;
    }

    .arrow-button {
        margin-top: 5px !important;
        display: flex;
        position: relative;
        padding: 10px 0px;
    }

    .pt-60 {
        padding-top: 45vh !important;
    }

    .nav-btns a:hover {
        margin-top: 0px !important;
    }

}

@media screen and (min-width: 1200px) {
    #hamburger {
        display: none;
    }

}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.eot');
    src: url('../fonts/Gilroy-Regular.eot?iefix') format('eot'),
        url('../fonts/Gilroy-Regular.woff') format('woff'),
        url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.eot');
    src: url('../fonts/Gilroy-Medium.eot?iefix') format('eot'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-SemiBold.eot');
    src: url('../fonts/Gilroy-SemiBold.eot?iefix') format('eot'),
        url('../fonts/Gilroy-SemiBold.woff') format('woff'),
        url('../fonts/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    src: url('../fonts/Gilroy-Bold.eot?iefix') format('eot'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

:root {
    --ze-lenyi: #AFD252;
    --ze-lenyi-transparent: rgba(175, 210, 82, 0.15);
}

.nav-item {
    text-transform: uppercase;
}

.top-margin-60 {
    margin-top: 120px;
}

.small-text {
    font-family: 'Gilroy', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0.095em;
    text-transform: uppercase;
    color: var(--ze-lenyi);
}

.bigger-text {
    font-family: 'Gilroy', sans-serif;
    font-size: 34px;
    font-weight: 600;
    line-height: 41px;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    color: #000000;
}

.regular-text {
    font-family: 'Gilroy', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.07em;
    line-height: 24px;
    color: #000000;
}

.bg-footer {
    background-color: #2E2E2E;
}

.slider-container {
    height: 100vh;
    width: 41.7%;
}

.arrows-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 41.7%;
    display: flex;
    background-color: #fff;
    border: 1px solid var(--ze-lenyi-transparent);
}

.slider {
    height: 100%;
}

.slider div {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.left-arrow-container,
.right-arrow-container {
    width: 50%;
    float: right;
}

.nav-btns a {
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
    color: #000 !important;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.095em;
    text-transform: uppercase;
    transition: all .3s;
}

.nav-btns a:hover {
    margin-top: -4px;
}

.bigger-text-right {
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 55px;
    text-transform: uppercase;
    line-height: 66px;
    letter-spacing: 0.07em;
    color: #000000;
}


.custom-button-call {
    background: #AFD252;
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    padding: 21px 46px;
    border-radius: 0px;
    margin-top: 48px;    
    outline: none;
    box-shadow: none;
}

.main-text {
    width: 50%;
    padding-top: 35vh;
    position: absolute;
    right: 0;
}

.px-8 {
    padding: 0px 8.33vw;
}

.regular-button {
    font-family: 'Gilroy', sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.13em;
    color: #000000;
    display: block;
    margin-bottom: 0px;
}

.regular-button:hover {
    text-decoration: none !important;
    color: #000;
}

.pt-15 {
    padding-top: 94px;
}

.green-number {
    font-family: 'Gilroy', sans-serif;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.07em;
    color: #AFD252;
    font-weight: 600;
}

.name-service {
    font-family: 'Gilroy', sans-serif;
    font-size: 21px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.07em;
    color: #000000;

}

.number-green {
    font-family: 'Gilroy', sans-serif;
    font-size: 55px;
    line-height: 25px;
    letter-spacing: 0.07em;
    color: #AFD252;
    font-weight: 600;
}

.bordered {
    border-bottom: 1px solid var(--ze-lenyi-transparent);
}

.pr-20 {
    padding-right: 20px !important;
}

.pl-20 {
    padding-left: 20px !important;
}

.pr-6 {
    padding-right: 6.67px !important;
}

.pl-6 {
    padding-left: 6.67px !important;
}

.pr-13 {
    padding-right: 13.33px !important;
}

.pl-13 {
    padding-left: 13.33px !important;
}

.mb-26 {
    margin-bottom: 26.66px !important;
}

.footer-link {
    display: block;
    font-family: 'Gilroy', sans-serif;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: 0.09em;
    color: #FFFFFF;
    transition: all .3s;
}

.footer-link:hover {
    color: #fff;
    transform: translateX(10px);
    text-decoration: none;
}

.footer-link-social:hover {
    color: #fff;
    transform: translateX(10px);
    text-decoration: none;
}

.footer-link-social {
    display: inline-block;
    font-family: 'Gilroy', sans-serif;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: 0.09em;
    color: #FFFFFF;
    transition: all .3s;
}

.footer-link-site {
    display: block;
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.07em;
    color: var(--ze-lenyi);
    transition: all .3s;
}

.footer-link-site:hover {
    color: var(--ze-lenyi);
    transform: translateX(10px);
    text-decoration: none;
}

.footer-link-small {
    font-family: 'Gilroy', sans-serif;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.07em;
    color: #FFFFFF;
    transition: all 0.3s;
}


.pt-8 {
    padding-top: 40px;
}

.footer-link-small-site {
    font-family: 'Gilroy', sans-serif;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.07em;
    color: #FFFFFF;
    transition: all 0.3s;
}

.footer-link-small-site:hover {
    color: #fff;
    transform: translateX(10px);
    text-decoration: none;
}

input,
textarea {
    width: 100%;
    background-color: #2E2E2E;
    color: #fff;
    font-family: 'Gilroy', sans-serif;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.09em;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none !important;
}

input::placeholder,
textarea::placeholder {
    color: #fff;
    font-family: 'Gilroy', sans-serif;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.09em;
}

.button-submit {
    background: #AFD252;
    width: 100%;
    font-family: 'Gilroy', sans-serif;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.13em;
    color: #FFFFFF;
    padding: 21px 0px;
    border-radius: 0px;
    text-transform: uppercase;
}


.pb-15 {
    padding-bottom: 80px;
}

.left-arrow,
.right-arrow {
    position: relative;
    padding: 25px;
    cursor: pointer;
    transition: all .3s !important;
    width: 100%;
}

.right-arrow {
    padding-left: 45%;
    float: right;
    transform: rotate(180deg) translateY(-1px);
}

.right-arrow:hover {
    padding-left: 43%;
}

.left-arrow:hover div:nth-child(1),
.left-arrow:hover div:nth-child(3) {
    width: 7px;
}

.left-arrow:hover div:nth-child(2) {
    width: 50px;
}

.left-arrow:hover {
    padding-left: 43%;
}

.left-arrow div,
.right-arrow div {
    height: 0.8px;
    background-color: #000;
    position: absolute;
    transition: all .3s !important
}

.left-arrow {
    padding-left: 45%;
}

.left-arrow div:nth-child(1) {
    width: 10px;
    transform: rotate(45deg);
    transform-origin: 0% 100%;

}

.left-arrow div:nth-child(2) {
    width: 34px;
}

.left-arrow div:nth-child(3) {
    width: 10px;
    transform: rotate(-45deg);
    transform-origin: 0% 0%;
}

.right-arrow:hover div:nth-child(1),
.right-arrow:hover div:nth-child(3) {
    width: 7px;
}

.right-arrow:hover div:nth-child(2) {
    width: 50px;
}

.right-arrow div:nth-child(1) {
    width: 10px;
    transform: rotate(45deg);
    transform-origin: 0% 100%;

}

.right-arrow div:nth-child(2) {
    width: 34px;
}

.right-arrow div:nth-child(3) {
    width: 10px;
    transform: rotate(-45deg);
    transform-origin: 0% 0%;
}

#hamburger {
    cursor: pointer;
    transition: all .5s;
}

#hamburger div {
    height: 2px;
    background-color: var(--ze-lenyi);
    transition: all .3s;
}

#hamburger div:nth-child(1) {
    width: 40px;
}

#hamburger div:nth-child(2) {
    width: 30px;
    margin-left: 10px;
    margin-top: 8px;
}

#hamburger div:nth-child(3) {
    width: 30px;
    margin-left: 10px;
    margin-top: 8px;
}

#hamburger.chrested div:nth-child(1) {
    height: 4px;
    transform-origin: 100% 0;
    transform: rotate(-45deg);
}

#hamburger.chrested div:nth-child(2) {
    height: 4px;
    transform-origin: 100% 100%;
    width: 34px;
    margin-left: 0px;
    transform: rotate(45deg);
    margin-top: 18.5px;
}

#vertical-lines {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: -1000;
}

#vertical-lines div {
    height: 100%;
    width: 1px;
    background-color: var(--ze-lenyi-transparent);
    position: absolute;
}

#vertical-lines div:nth-child(1) {
    left: 25%;
}

#vertical-lines div:nth-child(2) {
    left: 50%;
}

#vertical-lines div:nth-child(3) {
    left: 75%;
}

footer {
    z-index: 1029;
}

.arrow-button {
    margin-top: 48px;
    display: flex;
    position: relative;
    padding: 10px 0px;
}

.arrow-button:hover {
    text-decoration: none;
}

.arrow {
    position: relative;
    transform: rotate(180deg) translateY(10px);
    margin-left: 68px;
    transition: all .4s;
}

.arrow div {
    height: 0.8px;
    background-color: #000;
    position: absolute;
    transition: all .4s;
}

.arrow div:nth-child(1) {
    width: 34px;
}

.arrow div:nth-child(2) {
    width: 7px;
    transform-origin: 0% 100%;
    transform: rotate(45deg);
}

.arrow div:nth-child(3) {
    width: 7px;
    transform-origin: 0% 0%;
    transform: rotate(-45deg);
}

.arrow-button:hover .arrow div:nth-child(1) {
    width: 0px;
}

.arrow-button:hover .arrow div:nth-child(2) {
    width: 12px;
}

.arrow-button:hover .arrow div:nth-child(3) {
    width: 12px;
}

.arrow-button:hover .arrow {
    transform: rotate(270deg) translateY(12px);
    margin-bottom: -10px;
    margin-left: 56px;
}

#preloader {
    position: fixed;
    z-index: 10000;
    height: 100vh;
    width: 100%;
}

#preloader div {
    position: absolute;
    background-color: var(--ze-lenyi);
    width: 25%;

}

#preloader-1 {
    left: 0px;
    height: 100%;
    transition: all 1.6s 1s;
}

#preloader-2 {
    left: 25%;
    height: 100%;
    transition: all 1.6s 1.2s;
}

#preloader-3 {
    left: 50%;
    height: 100%;
    transition: all 1.6s 1.4s;
}

#preloader-4 {
    left: 75%;
    height: 100%;
    transition: all 1.6s 1.6s;
}

body::-webkit-scrollbar {
    width: 13px;
    background-color: #fff;
    position: fixed;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--ze-lenyi);
}

