@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

body{
    color: #181818;
    background-image: url(../img/symphony.png);
}
.navbar{
    background-color: #ffffff;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    box-shadow: 6px 4px 11px 0px rgba(0,0,0,0.18);
}

.nav-link {
    border-bottom: 1px solid #FFF;
    text-transform: uppercase !important;
    margin-right: 1.5vw;
    margin-left: 1.5vw;
    padding-left: 0rem !important;
    padding-right: 0rem !important;
}

li.nav-item.gborder{
    border-bottom: solid 1px;
    border-color: #d5b525;
}

.nav-link:hover {
    border-bottom: solid 1px;
    border-color: #F1D883;
}

a {
    text-decoration: none;
    color: #181818;
}
 a:hover{
    color: #181818;
    text-decoration: none;
}
#mainSection{
    background-image: url(../img/main-girl.png);
    background-position: center;
    background-repeat: no-repeat;
}
.fa-viber:hover{
    color: #8F5DB7;
}
.fa-whatsapp:hover{
    color: #25D366;
}
#map1{
    border: 1px solid #ffffff;
    background-color: white;
}
#map2{
    border: 1px solid #ffffff;
    background-color: white;
}

.greySection{
    background-color: rgba(235, 235, 235, 0.65);
}
div p{
    font-size: 0.9rem;
    font-family: "Roboto light";
}

h2{
    font-size: 2rem;
    font-family: Cansellarist;
    color: #696969;
    padding: 35px 0;
}
.sdivider{
    padding: 20px 0;
    width: 650px;
}
.ml-left {
    margin-left: 150px;
}
.mr-right {
    margin-right: 140px;
}

.fa-phone-square:hover {
    color: #32cd32;
}
.card{
    border: 0;
    margin-bottom: 30px;
    box-shadow: 0px 3px 10px;
}
.card-text{
    font-size: 1rem;
}
.card-body{
    padding: 0rem 1.25rem;
}
.card-footer span{
    font-size: 1rem;
}

.fa-dollar-sign {
    margin-left: 25px;
}
.goldy{
    color: #D5B552;
}


.card-header{
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(213, 181, 82, 1);
    font-size: 1.15rem;
}

.card-footer{
    padding: 0;
    background-color: #ffffff;
    border-top: 1px solid #D5B552;
}

.showMoreButton {
    color: #696969;
    margin: 20px 0px;
    font-family: Open Sans Condesed;
    font-weight: 300;
    font-size: 1.2rem;
    border: none;
    border-bottom: 1px solid transparent;
    background-color: transparent;
}
.showMoreButton:hover{
    border-bottom: 1px solid #D5B552;
}

.collapseGirls {
    margin: 20px -15px;
}

.col-md-8 {
    padding-bottom: 45px;
}
.btn:focus{
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(213,181,82,.25);
}

.addres {
    border-bottom: 1px solid #D5B552;
    font-size: 1.15rem;
    margin-bottom: 10px;
}

.room {
    padding: 8px 8px;
}
.footerClass{
    padding: 12px;
}
footer span{
    margin: 0 0 0.6rem;
    font-size: 0.825rem;
}

@media screen and (min-width:768px){
    .blestki-l{
        border-left: 0;
        padding-left: 0;
        margin-left: 0;
        background-image: url(../img/blestki-l.png);
        background-repeat: repeat-y;
    }
    .blestki-r{
        border-right: 0;
        padding-right: 0;
        margin-right: 0;
        background-image: url(../img/blestki-r.png);
        background-repeat: repeat-y;
    }
}
.map{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
#map1{
    left:0;
    top:0;
    height:80%;
    width:95%;
    position:absolute;
}
#map2{
    right:0;
    top:0;
    height:80%;
    width:95%;
    position:absolute;
}
.tel {
    font-size: 1.6rem;
}

.fai-cont {
    font-size: 1.9rem;
}
.card .img-fluid{
    height: 100%;
}
.nav-link{
    color: rgba(24,24,24,1)!important;
}
.underlined {
    border-bottom: 1px solid #F1D883;
}
