@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

@media screen and (max-width: 768px) {
    .fixed {
        margin-top: 15vh;
    }
    
    #description-sign {
        font-size: 1.2rem;
        color: #fff !important;
    }
    
    #adress-sign {
        font-size: 1rem;
        margin-top: 10px !important;
    }
    
    .mobile-invisible {
        display: none;
    }
    
    #phones-sign {
        font-size: 1.4rem;
    }
    
    .btn-custom {
        padding: 7px !important;
        font-size: 1.1rem !important;
    }
}

body{
    color: #181818;
    background:
            url(../img/symphony.png);
}
.navbar{
    background-color: #ffffff;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    box-shadow: 6px 4px 11px 0px rgba(0,0,0,0.18);
}

.nav-link {
    border-bottom: 1px solid #FFF;
    text-transform: uppercase !important;
    margin-right: 1.5vw;
    margin-left: 1.5vw;
    padding-left: 0rem !important;
    padding-right: 0rem !important;
}

li.nav-item.gborder{
    border-bottom: solid 1px;
    border-color: #d5b525;
}

.nav-link:hover {
    border-bottom: solid 1px;
    border-color: #F1D883;
}

.nav-link-unhover:hover {
    border: none !important;
}

.language {
    color: #696969;
}

.language:hover {
    color: #181818;
}

.active {
    color: #181818;
    border-bottom: solid 1px;
    border-color: #F1D883;
}

a {
    text-decoration: none;
    color: #181818;
}
 a:hover{
    color: #181818;
    text-decoration: none;
}
#mainSection{
    background-image: url(../img/main-girl.png);
    background-position: center;
    background-repeat: no-repeat;
}
.fa-viber:hover{
    color: #8F5DB7;
}
.fa-whatsapp:hover{
    color: #25D366;
}

.fa-telegram-plane:hover {
    color: #0088cc;
}





.greySection{
    background-color: rgba(235, 235, 235, 0.65);
}

div p{
    font-size: 0.9rem;
    font-family: "Roboto light";
}

h2{
    font-size: 2rem;
    font-family: Cansellarist;
    color: #696969;
    padding: 35px 0;
}
.sdivider{
    padding: 20px 0;
    width: 550px;
}
.ml-left {
    margin-left: 150px;
}
.mr-right {
    margin-right: 140px;
}

.fa-phone-square:hover {
    color: #32cd32;
}
.card{
    border: 0;
    margin: 0;
    box-shadow: 6px 4px 11px 0px rgba(0,0,0,0.18);
}
.card-text{
    font-size: 1rem;
}
.card-body{
    padding: 0rem 1.25rem;
}
.card-footer span{
    font-size: 1rem;
}
.goldy{
    color: #D5B552;
}


.card-header{
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(213, 181, 82, 1);
    font-size: 1.15rem;
}

.card-footer{
    padding: 0;
    padding-bottom: 10px;
    background-color: #ffffff;
    border: none;
}

.showMoreButton {
    color: #696969;
    margin: 20px 0px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    border: none;
    border-bottom: 1px solid transparent;
    background-color: transparent;
}
.showMoreButton:hover{
    border-bottom: 1px solid #D5B552;
}


.col-md-8 {
    padding-bottom: 45px;
}
.btn:focus{
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(213,181,82,.25);
}

.addres {
    border-bottom: 1px solid #D5B552;
    font-size: 1.15rem;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.room {
    padding: 8px 8px;
}
.footerClass{
    padding: 12px;
}
footer span{
    margin: 0 0 0.6rem;
    font-size: 0.825rem;
}

@media screen and (min-width:768px){
    #blestki-l{
        position:absolute;
        top:100vh;
        left: 0;
        width: 15%;
        background-image: url(../img/blestki-l.png);
        background-repeat: repeat-y;
        background-size: contain;
    }
    #blestki-r{
        position: absolute;
        top: 100vh;
        right:0;
        width: 15%;
        background-image: url(../img/blestki-r.png);
        background-repeat: repeat-y;
        background-size: contain;
    }
    
    .desktop-invisible {
        display: none;
    }
}
.map{
    overflow:hidden;
    padding-bottom:100%;
    position:relative;
    height:0;
}


@media screen and (max-width:768px){
    #left-arrow {
        height: 323px !important;
        left: 16px !important;
    }

    #right-arrow {
        height: 323px !important;
        right: 16px !important;
    }
}
.tel {
    font-size: 1.6rem;
    color: #696969;
}

.fai-cont {
    font-size: 1.9rem;
}
.card .img-fluid{
   height: 1px;
}
.nav-link{
    color: rgba(24,24,24,1)!important;
}
.underlined {
    border-bottom: 1px solid #F1D883;
}

.fullsize-bg {
    height: 100vh;
    width: 100%;
    background-image: url(../img/main-girl.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.mt-25 {
    margin-top: 25vh;
}

.backline {
    position: absolute;
    top: 20%;
    height: 60%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}



.round-sign {
    z-index: 1000;
    font-family: 'Roboto Thin', sans-serif;
    font-size: 4rem;
    color: #fff;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    border: 1px solid #f1d883;
}



#description-sign {
    font-family: 'Roboto Light', sans-serif;
    color: #696969;
    text-transform: uppercase;
    margin-top: 10px;
}

.text-shadowed {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#adress-sign {
    font-family: 'Roboto Regular', sans-serif;
    color: #fff;
    margin-top: 20px;
}

#phones-sign {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    font-family: 'Roboto Light', sans-serif;
    color: #fff;
    margin-top: 15px;   
}

.btn-custom {
    font-family: 'Roboto Light', sans-serif;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff !important;
    font-size: 1.25rem;
    width: 100%;
    border-radius: 0;
    padding: 10px;
    border: 1px solid #f1d883;;
    transition: border 0.4s, background-color 0.4s;
}

.btn-custom:hover {
    border: 3px solid #f1d883;
    background-color: rgba(0, 0, 0, 0.5);
}

@keyframes blink {
  from {
    opacity: 1;
  }

    50% {
        opacity: 1;
    }
    
  to {
    opacity: 0;
  }
}

.gscale{
    filter: grayscale(100%);
}
.gscale:hover{
    filter: grayscale(0%);
}

.img-card {
    background-size: cover;
    background-position: center;
    min-height: 323px;
}

#left-arrow {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: -80px;
    height: 100%;
    width: 10vw;
    z-index: 1;
}

#right-arrow {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: -80px;
    height: 100%;
    width: 10vw;
    z-index: 1;
}

.arrows div div {
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: #f1d883;
    top: calc(50% - 20px);
}

#left-arrow div:nth-of-type(1) {
    transform: rotate(-60deg);
}

#left-arrow div:nth-of-type(2) {
    transform: translate(0px, 50px) rotate(60deg);
}

#right-arrow div:nth-of-type(1) {
    right: 0;
    transform: rotate(60deg);
}

#right-arrow div:nth-of-type(2) {
    right: 0;
    transform: translate(0px, 50px) rotate(-60deg);
}

.phone-numbers-dropdown {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #fff;
    box-shadow: 6px 4px 11px 0px rgba(0,0,0,0.18);
    display: none;
}

.phone-numbers-dropdown p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 6px 16px;
}

