@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    font-family: 'Roboto', sans-serif !important;
}

.bg-turquoise {
    background-color: rgb(71,136,132);
}

.v-line-right {
    border-right: 1px solid rgb(48,92,90);
    padding-right: 50px;
}

.v-line-left{
    border-left: 1px solid rgb(48,92,90);
    padding-left: 50px;
}

.font-size {
       font-size: 120%;
}

.h-line {
    height: 1px;
    width: 100%;
}

.text-nav {
    font-size: 150%;
}

.black-footer {
    background-color: rgb(46,46,46);
}

.footer-text {
    color: rgb(148,148,148);
}

.text-turquoise {
    color: rgb(71,136,132);
}


.btn-text {
    color: aliceblue;
    width:100%;
}


.no-rounds {
    border-radius: 0px;
}

.bg-grey {
    background-color: #fcfcfc;
}

@media screen and (max-width:768px) {
    .v-line-left {
    border-left: none;
    padding-left: 0px;
    }
    .v-line-right {
      border-right: none;
    }
}

.shadowed {
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
.white-hover:hover {
    color: #fff;
}
