@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
    font-family: 'Funcity';
    src: url('../fonts/funcitylevel2stencil-webfont.woff2') format('woff2'),
         url('../fonts/funcitylevel2stencil-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'Roboto', sans-serif !important;
}

.bg-turquoise {
    background-color: #478884;
}

.v-line-right {
    border-right: 1px solid rgb(48,92,90);
    padding-right: 50px;
}

.v-line-left{
    border-left: 1px solid rgb(48,92,90);
    padding-left: 50px;
}

.font-size {
       font-size: 120%;
}

.h-line {
    height: 1px;
    width: 100%;
}

.text-nav {
    font-size: 150%;
}

.black-footer {
    background-color: rgb(46,46,46);
}

.footer-text {
    color: rgb(148,148,148);
}

.text-turquoise {
    color: #478884;
}


.btn-text {
    color: #fff !important;
    width:100%;
}


.no-rounds {
    border-radius: 0px;
}

.bg-grey {
    background-color: #fcfcfc;
}

@media screen and (max-width:768px) {
    .v-line-left {
    border-left: none;
    padding-left: 0px;
    }
    .v-line-right {
      border-right: none;
      padding-right: 0px;
    }
}

.shadowed {
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.white-hover:hover {
    color: #fff;
}

.green-hower:hover {
    color: #478884 !important;
    background-color: #fff;
    border: 1px solid #478884;
}

.logo-font {
    font-family: 'Roboto Thin';
    font-size: 2rem;
}

.main-slide {
    width: 100%;
    height: 60vh !important;
    background-size: cover;
}

.bottom-text {
    position: absolute;
    background-color: rgba(256, 256, 256, 0.5);
    width: 100%;
    bottom: 0px;
}



.turqoise-bottom {
    position: absolute;
    background-color: rgba(256, 256, 256, 0.3);
    bottom: 0px;
    padding: 10px;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .lg-invisible {
        display: none;
    }
}
