@font-face {
    font-family: 'FuturaNew';
    src: url('../fonts/FuturaNewBook-Reg.eot');
    src: url('../fonts/FuturaNewBook-Reg.eot?iefix') format('eot'),
        url('../fonts/FuturaNewBook-Reg.woff') format('woff'),
        url('../fonts/FuturaNewBook-Reg.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaNew';
    src: url('../fonts/FuturaNewMedium-Reg.eot');
    src: url('../fonts/FuturaNewMedium-Reg.eot?iefix') format('eot'),
        url('../fonts/FuturaNewMedium-Reg.woff') format('woff'),
        url('../fonts/FuturaNewMedium-Reg.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaNew';
    src: url('../fonts/FuturaNewDemi-Reg.eot');
    src: url('../fonts/FuturaNewDemi-Reg.eot?iefix') format('eot'),
        url('../fonts/FuturaNewDemi-Reg.woff') format('woff'),
        url('../fonts/FuturaNewDemi-Reg.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaNew';
    src: url('../fonts/FuturaNewBold-Reg.eot');
    src: url('../fonts/FuturaNewBold-Reg.eot?iefix') format('eot'),
        url('../fonts/FuturaNewBold-Reg.woff') format('woff'),
        url('../fonts/FuturaNewBold-Reg.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

:root {
    --brand-orange: #FE9F49;
    --brand-orange-hover: #ff8c23;
    --not-white: #FDFAF8;
    --almost-black: #161616;
    --tr-sm: all .35s;
}

body {
    background-color: var(--not-white);
    font-family: "FuturaNew", sans-serif;
}

body * {
    transition: var(--tr-sm);
}

.px-6vw {
    padding-left: 6vw;
    padding-right: 6vw;
}

.pl-6vw {
    padding-left: 6vw;
}

.pr-6vw {
    padding-right: 6vw;
}

.navbar {
    padding: 15px 6vw;
    background-color: var(--not-white);
    font-size: 18px;
}

.navbar-brand {
    margin-right: 8px;
}

#order-button {
    display: block;
    width: 170px;
    padding: 12px;
    color: #fff;
    background-color: var(--brand-orange);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
}

#order-button:hover {
    background-color: var(--brand-orange-hover);
    text-decoration: none;
}

.nav-link {
    padding: 10px 2vw !important;
    color: var(--almost-black);
    font-weight: 600;
}

.nav-link:hover {
    transform: translateY(-3px);
    color: var(--almost-black);
}

.nav-dropdown div {
    visibility: collapse;
    position: absolute;
    opacity: 0;
}

.nav-dropdown a {
    display: block;
    color: var(--almost-black);
    padding-top: 3px;
    padding-bottom: 1px;
}

.nav-dropdown:hover {
    transform: none;
}

.nav-dropdown:hover img {
    transform: rotate(180deg)
}

.nav-dropdown:hover div {
    visibility: visible;
    opacity: 1;
}

.nav-dropdown a:hover {
    text-decoration: none;
    padding-left: 3px;
}

.navbar-toggler {
    padding: 4px 0px;
    outline: none !important;
}

#hamburger div {
    width: 28px;
    height: 2.4px;
    background-color: var(--almost-black);
    border-radius: 2px;
}

#hamburger div:nth-child(2) {
    margin: 7px 0px;
}

.nav-phone {
    border: 1px solid var(--brand-orange);
    padding: 4px 8px 8px 8px;
    border-radius: 5px;
}

.nav-phone img {
    height: 20px;
    width: 20px;
    color: #fff;
}

@media screen and (max-width: 992px) {
    #order-button {
        width: 120px;
        padding: 8px 0px;
    }

    .navbar-brand img {
        width: 110px;
    }
}

@media screen and (max-width: 576px) {
    #order-button {
        width: 90px;
        padding: 6px 0px;
        font-size: 16px;
    }

    .navbar-brand img {
        width: 100px;
    }

    .nav-phone {
        padding: 2px 6px 6px 6px;
    }
}
