@media (max-width: 992px) {
    .left {
        margin-left: 5vh;
    }
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
    color: #0275d8;
    text-decoration: none;
    outline: 0;
    background-color: #f8f8f8;
}

body {
    font-family: 'Arvo', serif;
    font-weight: 400;
    background-color: #f5f3f1;
    color: #595959;
    font-size: 1.125rem;
    line-height: 1.83;
    position: relative;
}

.custom-button-slider {
    background-color: #ed9108;
    color: #fff !important;
    border-radius: 1em;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9375rem;
    border-radius: 2rem;
    font-weight: 500;
    margin-bottom: 16vh;
}

.custom-button-call {
    background-color: #ed9108;
    color: #fff !important;
    border-radius: 1rem;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.825rem;
    border-radius: 2rem;
    font-weight: 700;
}

.custom-button-container {
    background-color: #145CA6;
    color: #fff !important;
    border-radius: 1em;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9375rem;
    font-weight: 500;
    border-radius: 2rem;
}

.nav-item {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9375rem;
}

.nav-link:hover {
    color: #145ca6 !important;
}



#slide-main-1 {
    background-image: url(../img/Group%202.png);
    padding: 50px 0px;
    background-size: cover;
}

#slide-main-2 {
    background-image: url(../img/main%20slider%201.png);
    padding: 50px 0px;
    background-size: cover;
}

.text-main {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.25rem;
    color: #fff;
    margin-top: 15vh;
}

.text-main-container {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #595959;
}

.text-main-regular {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #fff;
}

.custom-button-content {
    background-color: #145CA6;
    color: #fff !important;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.85rem;
    border-radius: 2rem;
}

.custom-button-circle {
    background-color: #145CA6;
    color: #fff !important;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.85rem;
    border-radius: 2rem;
    width: 60px;
    height: 60px;
}

.image-card-right {
    padding: 84px 92px;
    background-color: #ebebeb;
}

.image-card-left {
    padding: 84px 92px;
    background-color: #f8f8f8;
}

.bg-green {
    background-color: #AFC124;
}

.bg-image {
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../img/photo_2019-07-07_16-17-16.jpg);
}

.main-text-container {
    background-color: #fff;
    padding: 50px 70px;
    transform: translateX(80px);
}

.second-text-container {
    background-color: #fff;
    padding: 70px 55px 70px 0px;
    transform: translateX(-80px);
    height: 440px;
}

footer {
    background-color: #145ca6;
    padding: 40px 0px;
}

.footer-links a {

    color: #fff !important;
    font-size: 12px;
}

.links {
    color: #fff !important;
    text-decoration: none;
}

.footer-links {
    padding-top: 2vh;
    color: #fff;
    font-size: 12px;
    display: flex;
    justify-content: center;
}

.social {
    display: flex;
    justify-content: center;
    color: #fff;

}

.social div {
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
    color: #145ca6;
    background-color: #fff;
    height: 30px;
    width: 30px;
    border-radius: 100%;

}

.footerText {
    margin-left: 3vh;
}

.left {
    margin-left: 2vh;
}

.nav-number {
    color: #145ca6;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.825rem;
    font-weight: 500;
}

.nav-number:hover {
    text-decoration: none;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #145ca6 !important;
    background-color: #fff !important;
}

.products-name {
    font-family: 'Montserrat', sans-serif;
    color: #595959;
    font-size: 1.45rem;
}

.products-name:hover {
    text-decoration: none !important;
}

.regular-text {
    color: #595959;
    font-size: 0.9rem;
}

.item-size {
    font-size: 0.7rem;
}

.pl-15 {
    padding-left: 5rem;
}

.container-list {
    list-style-type: none;
    text-transform: uppercase;
    color: #9b9b9b;
    font-family: 'Montserat', sans-serif;
    font-size: 1.125rem;
}

.container-list:hover {
    color: #145ca6;
}

@media (max-width: 992px) {
    .left {
        margin-left: 5vh;
    }
}

.contact {
    background-color: #145ca6;
}

.contact-us {
    color: #fff;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    padding: 80px 60px;
    margin-left: 50px;
}

.phone {
    background-color: #fff;
}

.col-lg-4 p h2 h3 {
    margin-left: 5vh;

}

.firstItem {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

.secondItem {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

.contact-text {
    padding-top: 2vh;
    padding-left: 2vh;
}

.map {
    padding: 0;
}

.maps {
    padding: 0;

}

.message {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.secondBlock {
    font-family: 'Montserrat', sans-serif;
}

.check {
    font-size: 13px;
}

.form-control {
    font-size: 13px;
}

.products {
    font-size: 15px;
}

@media (max-width: 992px) {
    .contact-us {
        text-align: center;
        margin: auto;
    }

    .firstBlock {
        padding: 0;

    }
}