@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.eot');
    src: url('../fonts/Gilroy-Regular.eot?iefix') format('eot'),
    url('../fonts/Gilroy-Regular.woff') format('woff'),
    url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.eot');
    src: url('../fonts/Gilroy-Medium.eot?iefix') format('eot'),
    url('../fonts/Gilroy-Medium.woff') format('woff'),
    url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-SemiBold.eot');
    src: url('../fonts/Gilroy-SemiBold.eot?iefix') format('eot'),
    url('../fonts/Gilroy-SemiBold.woff') format('woff'),
    url('../fonts/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    src: url('../fonts/Gilroy-Bold.eot?iefix') format('eot'),
    url('../fonts/Gilroy-Bold.woff') format('woff'),
    url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

:root {
    --white: #FFF;
    --light-gray: #F9F9F9;
    --medium-gray: #CACACA;
    --dark-gray: #696969;
    --almost-black: #1F1F1F;
    --red-gradient: linear-gradient(45deg, #C22026 0%, #D43E27 100%);
    --red-solid: #D03827;
    --shadow-light: 0px 0px 26px rgba(181, 181, 181, 0.1);
    --shadow-medium: 0px 0px 30px rgba(181, 181, 181, 0.2);
}

/* {
    border: 1px solid var(--red-solid);
}*/

body {
    padding: 0px 35px;
    font-family: 'Gilroy', sans-serif !important;
}

body.burger-open {
    overflow: hidden;
}

.tooltip {
    font-family: 'Gilroy', sans-serif !important;
}

.desktop-invisible {
    display: none !important;
}

#phones a {
    font-weight: 700 !important;
}

#top-nav-links {
    padding: 10px 5px;
}

#top-nav-links a {
    color: var(--dark-gray) !important;
    font-weight: 500;
    font-size: 0.875rem;
    transition: color .3s;
}

#top-nav-links a:hover {
    color: var(--almost-black) !important;
}

#phones a:not(:last-child), #social-links a:not(:last-child), #technical-links a:not(:last-child) {
    margin-right: 30px;
}


#logo-container {
    width: 11.75rem;
}

#nav-categories {
   display: flex;
}

input[type="text"], textarea {
    padding: 14px 26px;
    font-size: 1rem;
    font-weight: 700;
    color: var(--almost-black);
    border: none;
    background-color: var(--light-gray);
    width: 100%;
}

input[type="text"]::placeholder, textarea::placeholder {
    color: var(--dark-gray);
}

input[type="text"]:focus, textarea:focus {
    outline: none;
}

#search-icon {
    position: absolute;
    height: 25px;
    width: 25px;
    right: 26px;
    top: 15px;
    padding: 4px 0px 4px 9px;
    z-index: 1000;
    background-color: var(--light-gray);
    transition: all .2s;
}

#search-icon:hover {
    transform: scale(1.2);
}

#search {
    position: relative;
    width: 100%;
}

.px-5p {
    padding: 0px 5px !important;
}

#categories {
    display: flex;
    background-color: var(--almost-black);
    padding: 14px;
    justify-content: space-around;
    width: 88%;
    white-space: nowrap;
}

#categories a, #discount-button a{
    display: block;
    text-transform: uppercase;
    font-size: 1rem;
    color: #fff;
    font-weight: 500;
    transition: all .3s;
    margin: 0px 11px;
}

#categories a div {
    height: 6.1px !important;
    width: 5.6px !important;
    border-radius: 3px;
    background-image: var(--red-gradient);
    position: absolute;
    opacity: 0;
    transition: opacity .3s;
    left: calc(50% - 2px);
}

#categories a.active, #categories a:hover, #discount-button a:hover {
    transform: translateY(-4px);
    text-decoration: none;
}

#categories a.active div, #categories a:hover div {
    opacity: 1;
}

#discount-button {
    background-image: var(--red-gradient);
    display: block;
    width: 12%;
    padding: 14px;
}

#cart-container {
    display: flex;
    float: right;
}

#cart-container:hover {
    text-decoration: none;
}

#total-price {
    font-size: 1rem;
    color: var(--dark-gray);
    font-weight: 600;
    margin-right: 45px;
}

.cart {
    position: relative;
}

#total-items {
    position: absolute;
    right: 4px;
    top: -7px;
    height: 18px;
    width: 18px;
    font-size: 0.6rem;
    color: #fff;
    font-weight: 600;
    background-image: var(--red-gradient);
    text-align: center;
    padding: 2px 0px;
    border-radius: 9px;
}

#cart-img {
    position: absolute;
    right: 0px;
}

.categories-dropdowns {
    position: absolute;
    width: 100%;
    top: 100%;
    box-shadow: var(--shadow-medium);
    padding: 35px;
    background-color: #fff;
    z-index: 666;
    display: none;
}

#categories a:hover.categories-dropdown {
    display: block;
}

.no-gutters.items > div, .no-gutters.news > div, .no-gutters.filters > div {
    padding: 5px;
}

.item-card {
    box-shadow: var(--shadow-light);
    padding: 45px 40px 25px 40px;
    transition: all .2s;
}

.item-card:hover {
    box-shadow: var(--shadow-medium);  
}

.item-card:hover .item-image {
    transform: scale(1.03);
}

.item-card:hover .item-old-price {
    color: var(--red-solid);
}

.item-image {
    height: calc((100vw - 110px)/8);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all .2s;
}

.item-name {
    margin-top: 25px;
    margin-bottom: 3px;
}

.item-name a {
    text-transform: uppercase;
    color: var(--almost-black);
    font-weight: 700;
    font-size: 1.25rem;
}

.item-bage {
    position: absolute;
    top: 8px;
    left: 0px;
    text-align: center;
    width: 100%;
    transition: all .3s;
}

.item-bage span {
    color: #fff;
    background-color: var(--red-solid);
    padding: 6px 35px;
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: 700;
}

.item-subcategory a:hover {
    color: var(--dark-gray);
}


.item-subcategory a {
    color: var(--medium-gray);
    font-weight: 700;
    font-size: 0.875rem;
    transition: color .2s;
}

.item-availability {
    color: var(--medium-gray);
    font-weight: 500;
    font-size: 0.875rem;
}

.item-price {
    font-weight: 700;
    color: var(--dark-gray);
    font-size: 1.25rem;
    line-height: 1rem;
    margin-top: 10px;
    margin-bottom: 0px;
    display: inline-block;
}

.item-parameters {
    display: inline-block;
    margin-top: 7px;
    float: right;
}

.item-parameters div {
    height: 12px;
    width: 12px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 6px;
}

.item-sizes {
    display: inline-block;
    float: right;
}

.item-size {
    font-size: 1rem;
    color: var(--dark-gray);
    font-weight: 600;
    margin-left: 5px;
    padding-left: 5px;
}

.item-old-price {
    display: inline-block;
    font-size: 0.875rem;
    font-weight: 600;
    text-decoration: line-through;
    color: var(--medium-gray);
    transition: all .3s;
    margin-left: 5px;
    margin-bottom: 0px;
}

#main-slider div {
    width: 100%;
    height: calc((100vw - 80px)/3.5);
    background-position: center;
    background-size: cover;
}

.footer-container {
    background-color: var(--almost-black);
    color: #fff;
}

.footer-title {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

#footer-phones a {
    font-weight: 700;
    color: #fff;
    white-space: nowrap;
}



#footer-form-submit {
    padding: 14px;
    border: none;
    width: 100%;
    background-image: var(--red-gradient);
    color: #fff;
    font-weight: 600;
    transition: all .3s;
}

#footer-form-submit:hover {
    padding-right: 8px;
}

.section-header {
    font-size: 1.875rem;
    letter-spacing: .3rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--almost-black);
    margin-bottom: 45px;
}

.footer-links a {
    display: block;
    margin-bottom: 7px;
    color: #fff;
}

#mb-custom {
    margin-bottom: 38px;
}


#copyrights {
    font-size: 0.875rem;
    color: var(--dark-gray);
    font-weight: 500;
}

#copyrights a {
    color: #fff;
}

.category-card {
    box-shadow: var(--shadow-light);
    background-color: #fff;
    transition: box-shadow .2s;
}

.category-card:hover {
    box-shadow: var(--shadow-medium);
}

.categoty-card-header {
    background-color: var(--almost-black);
    padding: 13px 0px;
}

.category-card-name a {
    font-weight: 600;
    color: #fff;
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    transition: all .3s;
}

.category-card-name:hover a {
    text-decoration: none;
    margin-left: 5px;
}

.category-card-name div {
    height: 14px;
    width: 14px;
    background-image: var(--red-gradient);
    display: inline-block;
    margin-left: 25px;
    border-radius: 7px;
}

.category-card-header a {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    margin-left: 30px;
    text-transform: uppercase;
}

.category-card-header {
    text-align: right;
}

.categoty-card-body {
    padding: 30px 0px;
}

.categoty-card-body a {
    font-size: 1.125rem;
    transition: all .3s;
    color: var(--dark-gray);
    display: block;
    margin-top: 10px;
}

.categoty-card-body a:hover {
    color: var(--almost-black);
}

.category-image {
    margin-top: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.category-card-link a {
    font-size: 1rem;
    color: var(--medium-gray);
    margin-top: 40px;
}

.category-card-link a:hover {
    color: var(--dark-gray);
    text-decoration: none;
}

.category-card-link img {
    margin-left: 25px;
    transition: all .3s;
}

.category-card-link:hover img {
    margin-left: 30px;
}


#season-banner .col {
    height: calc(100vw/5);
    background-size: cover;
    background-position: center;
    display: table-cell;
}

#season-banner h2 {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-size: 2.5rem;
    text-align: center;
    margin-top: calc(100vw/10 - 20px);
    text-shadow: 0px 0px 15px #00000069;
}

.news-image {
    width: 100%;
    height: 20vw;
    background-size: cover;
    background-position: center;
}

.news-card {
    background-color: #fff;
    box-shadow: var(--shadow-light);
    transition: box-shadow .2s;
}

.news-card:hover {
    box-shadow: var(--shadow-medium);    
}

.news-content {
    padding: 35px 40px;
}

.news-title a {
    font-weight: 700;
    color: var(--almost-black);
    text-transform: uppercase;
    font-size: 1.25rem;
    letter-spacing: .1rem;
    margin-bottom: 15px;
    display: block;
}

.news-description {
    font-size: 1rem;
    font-weight: 300;
    color: var(--dark-gray);
}

.news-date {
    font-size: 0.875rem;
    color: var(--medium-gray);
    font-weight: 500;
    display: inline-block;
}

.news-button {
    display: inline-block;
    float: right;
    color: var(--medium-gray);
    font-size: 0.875rem;
    font-weight: 500;
    transition: color .2s;
}

.news-button img {
    margin-left: 15px;  
    transition: margin .2s;
}

.news-button:hover {
    color: var(--dark-gray);
    text-decoration: none;
}

.news-button:hover img {
    margin-right: -5px;
    margin-left: 20px;
}

#partners-links {
    margin-top: 34px;  
}

#partners-links a{
    color: #fff;
    margin-right: 30px;
    white-space: nowrap;
}

#partners-links a:last-child {
    margin-right: 0px;
}

@media screen and (max-width: 1300px) {
    body {
        padding: 0px 10px;
    }
    
    #phones a:not(:last-child), #social-links a:not(:last-child), #technical-links a:not(:last-child) {
        margin-right: 25px;
    }
    
    #logo-container {
        width: 11rem;
    }
    
    #total-price {
        margin-right: 35px;
    }
    
    .news-content {
        padding: 25px 30px;
    }    
}

@media screen and (max-width: 1199.5px) {
    #top-nav-links {
        position: fixed;
        width: 100%;
        left: -100%;
        background-color: #fff;
        transition: all .5s;
        z-index: 1488;
        top: 52px;
        padding: 15px 25px;
        display: block;
        text-align: center;
    }  
    
    #top-nav-links div {
        margin: 15px 0px;
    }
    
    #top-nav-links.opened {
        left: 15px;
        box-shadow: var(--shadow-light);
    }

    .popup-container {
        padding: 64px 128px !important;     
    }

    .popup-close { right: 100px !important; }

    .cart-popup {        
        left: calc(-25vw + 12px) !important;
    }

    .item-detail-image {        
        margin-top: 0 !important;
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 991.5px) { 
    .item-image {
        height: calc((100vw - 110px)/5);
    }
    
    .news-content {
        padding: 20px 20px;
    }

    .block {padding: 16px 24px !important;}
    .plus {right: 16px !important;}

    .popup-container {
        width: calc(100% - 48px) !important;
        left: 24px !important;
    }

    .cart-popup {        
        left: calc(-33vw + 12px) !important;
    }

    .info-item p.price-2 {
        right: 198px !important;
    }

    .dark-part {
        padding: 24px 16px !important;
        text-align: center;
    }
}

@media screen and (max-width: 767.5px) { 
    .mobile-invisible {
        display: none !important;
    }
    
    #categories {
        text-align: left;
        overflow-x: scroll;
        width: 100%;
        padding-left: 1rem;
        justify-content: space-between;
    }
    
    #categories::-webkit-scrollbar {
        display: none;
    }
    
    .desktop-invisible {
        display: block !important;
    }
    
    .cart {
        top: -10px;
    }
    
    .nav-subcategory-links {
        display: flex;
    }
    
    #nav-subcategories {
        padding: 25px 25px !important;
    }
    
    #main-slider div {
        height: 50vh;
    }
    
    #top-nav-links {
        width: calc(100% - 30px);
    }
    
    #top-nav-links.opened {
        top: 56px;
    }
    
    .category-image {
        height: 100px;
        background-position: center;
        margin-top: 30px;
    }
    
    #season-banner .col {
        height: calc(100vw/2);
    }
    
    #season-banner h2 {
        margin-top: 40px;
    }
    
    .item-bage span {
        font-size: 1rem;
    }
    
    .item-card {
        padding: 45px 25px 25px 25px;
    }
    
    .news-image {
        height: 30vh;
    }
    
    .undernav-line {
        display: none;
    }
    
    .news-page-main-image {
        height: 35vh !important;
    }
    
    .news-page-links a {
        display: block;
        margin: 7px 0px;
    }
    
    .news-page-links {
        justify-content: center;
    }

    .no-gutters.filters > div {
        display: none;
    }

    .block-item {
        right: 160px !important;
    }

    .block-price {
        right: 60px !important;
    }

    .popup-container {
        width: 100% !important;
        left: 0px !important;
        top: 0px !important;
        padding: 16vh 48px 0px !important;
        height: 100%;
    }

    #thanks-popup .popup-container {
        padding: 32vh 48px 0px !important;
    } 

    .popup-close { 
        top: 36px !important;
        right: 36px !important; 
    }

    .cart-popup {        
        right: 0 !important;
        left: auto !important;
        top: 52px !important;
        width: calc(100vw - 47px) !important;
    }

    #cart-img {
        top: 10px;
    }

    #total-items {
        top: 2px;
    }

    .input-popup-content label {
        white-space: normal !important;
    }

    .input-popup-content {
        min-width: calc(100% - 10px) !important;
        max-width: calc(100% - 10px) !important;
    }

    .info-item p.price-2 {
        top: 12px !important;
        right: 60px !important;
    }
}

@media screen and (max-width: 578px) {
    body {
        padding: 0px;
    }
    
    .px-5p {
        padding: 0px !important;
    }
    
    .no-gutters.items > div, .no-gutters.news > div, .category-card {
        padding: 10px !importanr;
    }
    
    #footer-form-phone {
        text-align: center;
    }
    
    #main-categories {
        padding: 0px 10px !important;
    }
    
    .no-gutters.items > div, .no-gutters.news > div, .no-gutters.filters > div {
        padding: 5px 10px;
    }
    
    #cart-container {
        margin-right: 25px;
    }
    
    #logo-container {
        width: 10rem;
    }
    
    .burger-toggler {
        padding-left: 25px;
        cursor: pointer;
    }
        
    #burger-toggler {
        padding-left: 26px;
    }
    
    #top-nav-links {
        width: 100%;
    }
    
    #top-nav-links.opened {
        left: 0px;
    }
    
    .item-image {
        height: 110px;
    }
    
    .item-name {
        margin-top: 0px;
    }
    
    .item-card {
        padding: 25px 20px;
    }

    .items-qty {margin-left: 0 !important;}

    .item-bage {
        width: 50% !important;
        left: calc(50% - 8px) !important;
    }

    .block-item {
        display: none;
    }

    .block-price {
        right: 32px !important;
    }

    .mt-13 {margin-top: 19px !important;}

    .info-item p.price {
        top: calc(100% - 46px) !important;
    }

    .info-item-additional p {
        margin-right: 12px !important;
    }

    .block {padding: 16px !important;}


    .input-popup-content {
        left: 11px !important;
        min-width: calc(100% - 21px) !important;
        max-width: calc(100% - 21px) !important;
    }

    .input-popup-radio {        
        width: calc(100% - 20px) !important;
        margin-left: 10px !important;
        margin-bottom: 8px;
    }

    .cart-popup {
        top: 54px !important;
        right: 0px !important;
    }

    .item-detail-image {
        height: 240px !important;
        margin-bottom: 40px !important;
    }

    .item-detail .slick-dots li, .item-detail .slick-dots li button  {
        width: 60px !important;
        height: 36px !important;  
    }    

    .prev, .next {
        bottom: 40px !important;
    }

    .cart-popup {        
        right: 0 !important;
        top: 52px !important;
        width: 100vw !important;
    }

    .remove-item {
        height: 36px !important;
        width: 36px !important;
        margin-left: auto;
    }

    .remove-item div {
        top: 16px !important;
        left: 8px !important;
    }

    .info-item .price {
        display: none;
    }

    .dark-part .input-popup-content {
        left: 0px !important;
    }
}

.undernav-line {
    width: calc(100% - 10px);
    margin-left: 5px;
    height: 1px;
    background-color: var(--medium-gray);
}

.items-qty {
    font-size: 1rem;
    letter-spacing: 0px;
    font-weight: 600;
    color: var(--medium-gray);
    margin-left: 25px;
    text-transform: none;
}

.news-page-main-image {
    width: 100%;
    height: calc(100vw/6);
    background-size: cover;
    background-position: center;
}

.news-page-date {
    font-size: 1.125rem;
    color: var(--medium-gray);
    font-weight: 500;
}

.news-page-links {
    text-align: right;
    font-size: 1.125rem;
}

.news-page-links a img {
    transition: all .2s;
}

.news-page-links a:hover img {
    transform: translateX(5px);
}

.news-page-links a {
    color: var(--medium-gray); 
    font-weight: 500;
    transition: all .2s;
}

.news-page-links a:hover {
    color: var(--dark-gray); 
}

.news-page-description {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--dark-gray);
    line-height: 150%;
    margin-bottom: 40px;
}

.news-page-news-text {
    font-size: 1.125rem;
    line-height: 150%;
    color: var(--dark-gray);
    font-weight: 300;
}

.total-sum {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--dark-gray);
}

#nav-subcategories {
    background-color: #fff;
    padding: 30px 35px;
    width: 100%;
    position: absolute;
    top: 100%;
    box-shadow: var(--shadow-medium);
    z-index: 1000;
    display: none;
}

#nav-subcategories a {
    display: block;
    font-size: 1rem;
    color: var(--dark-gray);
    margin: 5px 0px;
    transition: all .2s;
    font-weight: 400;
}

#nav-subcategories a:hover {
    color: var(--almost-black);
}

#nav-subcategories > div {
    display: none;
}

.nav-subcategory-links a {
    text-transform: uppercase;
    color: var(--almost-black) !important;
    font-weight: 500 !important;
}

.nav-category-link a {
    font-size: 0.875rem !important;
    color: var(--medium-gray) !important;
    font-weight: 500 !important;
    margin-right: 10px !important;
}

.nav-category-link img {
    margin-left: 25px;   
    transition: all .2s;
}

.nav-category-link a:hover img {
    transform: translateX(5px);
}

.nav-category-link a:hover {
    color: var(--almost-black) !important;
    text-decoration: none;
}

#burger-toggler div {
    width: 23px;
    height: 2.1px;
    background-color: var(--almost-black);
    transition: all .3s;
}

#burger-toggler div:nth-child(1) {
    transform-origin: 0% 100%;
}

#burger-toggler div:nth-child(2) {
    margin: 5px 0px;
}

#burger-toggler div:nth-child(3) {
    transform-origin: 0% 0%;
}

#burger-toggler.closed div:nth-child(1){
    transform: rotate(45deg);
}

#burger-toggler.closed div:nth-child(2){
    opacity: 0;
    margin: 6.2px 0px;
    margin-left: -15px;
}

#burger-toggler.closed div:nth-child(3){
    transform: rotate(-45deg);
}
.item-content {
    width: 100%;
}

.faq-item {
    background-color: var(--light-gray);
    margin-top: 15px;
}

.faq-header {
    font-size: 1.25rem;
    color: var(--dark-gray);
    cursor: pointer;
    padding: 15px calc(7vw);
    font-weight: 600;
}

.faq-content {
    padding: 10px 7vw 35px 7vw;
}

.item-gender[data-gender="male"] {
    margin-right: -2px;
    margin-top: -4px;
    margin-left: 10px;
}

.item-gender[data-gender="female"] {
    margin-top: -3px;
    margin-left: 10px;
}

.items .item-remove {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 12px;
    right: 12px;
    cursor: pointer;
}

.items .item-remove div {
    position: absolute;
    width: 20px;
    height: 3px;
    top: 18px;
    right: 11px;
    background-color: #D03827;
}

.items .item-remove div:nth-of-type(1) {
    transform: rotate(45deg);
}
.items .item-remove div:nth-of-type(2) {
    transform: rotate(-45deg);
}

/** PAGINATION **/
    .pagination a {
        color: #858585;
        margin: 0px 2px;
        padding: 0px 4px;
        position: relative;
        text-align: center;
    }

    .pagination a:hover {
        text-decoration: none;
        color: #D03827;
    }

    .pagination a.active {
        color: #0a0a0a;
        border-bottom: 2px solid #0a0a0a;
    }
    .pagination a.active:hover { border-bottom: 2px solid #D03827 !important; }

    .pagination a:first-child, .pagination a:last-child {
        width: 30px;
    }
    .pagination a:last-child { transform: rotate(180deg); }

    .pagination a div {
        position: absolute;
        background-color: #0a0a0a;
        width: 10px;
        height: 2px;
        top: calc(50% - 1px);
        left: 8px;
        transition: .3s;
    }

    .pagination a:hover div {
        background-color: #D03827 !important;
    }

    .pagination a div:nth-of-type(1), .pagination a div:nth-of-type(3) { 
        transform: translate(0px, 3px) rotate(45deg); 
    }
    .pagination a div:nth-of-type(2), .pagination a div:nth-of-type(4) { 
        transform: translate(0px, -3px) rotate(-45deg);
    }
    .pagination a:hover div:nth-of-type(3) { transform: translate(-7px, 3px) rotate(45deg); }
    .pagination a:hover div:nth-of-type(4) { transform: translate(-7px, -3px) rotate(-45deg); }
/** PAGINATION ENDED **/

/** BLOCK **/
    .w-lg-75 {width: 75% !important;}

    .block {
        position: relative;
        background-color: var(--light-gray);
        padding: 16px 128px;
        margin-top: 16px;
        cursor: pointer;
        transition: .5s;
    }

    .block-white {
        background-color: white;
        box-shadow: var(--shadow-medium);
        cursor: default;
    }

    .f-600 {
        font-weight: 600 !important;
    }

    .block h3 {
        font-size: 20px;
        padding-right: 24px;
        margin: 0;
        font-weight: 700;
        color: #696969;
    }

    .c-black {
        color: var(--almost-black) !important;
    }

    .block-item {
        position: absolute;
        top: 14px;
        right: 320px;
        font-size: 20px;
        padding-right: 24px;
        margin: 0;
        color: var(--dark-gray);
        font-weight: 600;   
    }

    .block-price {
        position: absolute;
        top: 14px;
        right: 200px;
        font-size: 20px;
        padding-right: 24px;
        margin: 0;
        color: var(--dark-gray);
        font-weight: 700;   
    }

    .active-block {
        background-color: #FFF;
        box-shadow: var(--shadow-medium);
        transition: .5s;
    }

    .plus {
        position: absolute;
        top: 18px;
        right: 128px;
        width: 24px;
        height: 24px;
        cursor: pointer;
        transition: .3s;
    }

    .plus div {
        position: absolute;
        top: 9px;
        left: 5px;
        height: 2.4px;
        width: 12px;
        background-color: #D03827;
        transition: .5s;
    }

    .plus div:nth-of-type(2) {
        transform: rotate(90deg);
    }

    .block h3:hover .plus div {
        background-color: #D03827 !important;
        transition: .3s;
    }

    .info {
        padding-top: 16px;
        display: none;
        color: var(--dark-gray);
    }

    .info-item {
        border-top: 1px solid #c4c4c4;
        padding: 16px 0px;
    }
    .info-item:first-child {border: none !important;}

    .info-item p.price {
        position: absolute; 
        top: 19px;
        right: 48px;
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        font-weight: 700;
    }

    .info-item p.price-2 {
        right: 94px;
    }

    .info-item small {
        color: var(--medium-gray) !important;
        font-weight: 700;
    }

    .info-item h3 {text-transform: uppercase;}

    .info-item-additional p {
        display: inline;
        margin-right: 24px;
        font-size: 14px;
        color: #858585;
        font-weight: 600;
    }

    .info-item-additional p:nth-of-type(2) {margin-right: 0;}

    .active-block .plus {
        transform: rotate(45deg);        
        transition: .5s;
    }

    .active-block .plus div { background-color: #D03827 !important; }

    .f-20  {
        font-size: 20px !important;
    }
/** BLOCK ENDED **/

/** INPUT POPUP **/
    .input-popup {
        position: relative;
        background-color: var(--light-gray);
        font-size: 14px;
        padding: 4px 8px;
        font-weight: 600;
        cursor: pointer;
        color: #858585;
        width: 100%;
        transition: .3s;
    }

    .input-popup:hover {
        background-color: white;
        box-shadow: var(--shadow-medium);
        transform: .3s;
    }

    .input-popup-open, .input-popup-active {
        color: #0a0a0a;
        background-color: white;
        box-shadow: var(--shadow-medium);
    }

    .input-popup p {
        margin: 8px;
        padding-right: 12px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .input-popup-arrow {
        position: absolute;
        width: 56px;
        height: 44px;
        top: 0;
        right: 0;
        transition: .3s;
    }

    .input-popup-arrow div {
        position: absolute;
        top: 21px;
        background-color: #D03827;
        width: 10px;
        height: 1.5px;
        transition: .3s;
    }

    .input-popup-arrow div:nth-of-type(1) {
        left: 21px;
        transform: rotate(45deg);
    }
    .input-popup-open .input-popup-arrow div:nth-of-type(1) {
        transform: rotate(-45deg);  
    }
    .input-popup-active .input-popup-arrow div:nth-of-type(1) {
        left: 21px;
        width: 16px;
    }

    .input-popup-arrow div:nth-of-type(2) {
        right: 18px;
        transform: rotate(-45deg);
    }
    .input-popup-open .input-popup-arrow div:nth-of-type(2) {
        transform: rotate(45deg);   
    }
    .input-popup-active .input-popup-arrow div:nth-of-type(2) {
        right: 19px;    
        width: 16px;
    }

    .input-popup-content {
        position: absolute;
        display: none;
        left: 5px;
        top: 60px;
        min-width: calc(100% - 10px);
        width: auto;
        background-color: white;
        box-shadow: var(--shadow-medium);
        transform: .3s;
        z-index: 4;
    }

    .input-popup-content p {
        margin: 8px;
        padding-right: 12px;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
    }

    .input-popup-content p:hover {
        color: #d81f83;
    }

    .color-example {
        position: absolute;
        border-radius: 100%;
        top: 4.5px;
        right: 48px;
        width: 13px;
        height: 13px;
    }

    /**INPUT POPUP RADIO**/
    .input-popup-radio {
        background-color: #FFF;
        width: calc(100% - 8px);
        margin-left: 8px;
    }

    .input-popup input[type="radio"] {
        display: none;
    }

    .radio-popup {
        left: 8px;
    }
    /**INPUI POPUP RADIO ENDED**/

    /**INPUT NUMBER **/
        .input-number {
            position: relative;
            font-size: 14px;
            font-weight: 700;
            padding: 8px;
            background-color: var(--light-gray);
        }

        .input-number div {
            position: absolute;
            background-color: var(--light-gray);
            color: #FFF;
            height: 20px;
            width: 20px;
            right: -20px;
            cursor: pointer;
        }
        .input-number div:nth-of-type(1) {top: -1px;}
        .input-number div:nth-of-type(2) {bottom: -1px;}

        .input-number span {
            position: absolute;
            background-color: #FFF;
            width: 10px;
            height: 2.4px;
            top: 9px;
            left: 5px;
        }
        .input-number span:nth-of-type(2) {transform: rotate(90deg);}

        .input-number input[type=number] {
            padding: 0;
            border: none;
            font-size: 18px;
            width: 24px;
            text-align: center;
            background-color: var(--light-gray) !important;
        }

        .input-number input[type=number]::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }

        .input-number-popup {
            padding: 4px 0px;
            min-width: 44px;
        }

        .input-number-popup input[type="number"] {
            font-size: 14px;
            color: #0a0a0a;
            width: 100%
        }
        .input-number-popup input[type="number"]:disabled {
            color: #858585;
            background-color: white;
        }

        .button {
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 700;
            padding: 3px 16px;
            color: #FFF;
            border: none;
            background-color: #D03827;
            transition: .3s;
        }

        input[type=range] {outline: none !important;}
    /**INPUT NUMBER ENDED **/

    /** CHECK BOX **/
        input[type="checkbox"] {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        .label {
            display: block;
            position: relative;
            cursor: pointer;
            font-size: 12px;
            padding: 0px 48px 0px 16px;
            margin: 0;
            white-space:nowrap;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .checkbox {
            position: absolute;
            top: 4px;
            left: 0px;
            width: 12px;
            height: 12px;
            border: 1px solid #0a0a0a;
        }

        .checkbox-2 {
            left: calc(100% - 31px) !important;
            top: 5px !important;
        }

        .label input[type="checkbox"]:checked ~ .checkbox {
            background-color: #0a0a0a;
        }

        .label-2 {
            font-size: 14px;
            font-weight: 600;
            margin: 8px 0px;
        }

        .checkbox:after {
          content: "";
          position: absolute;
          display: none;
        }

        .label input[type="checkbox"]:checked ~ .checkbox:after {
          display: block;
        }

        .label .checkbox:after {
          left: 3px;
          top: 0px;
          width: 4px;
          height: 8px;
          border: solid white;
          border-width: 0 1.4px 1.4px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
    /** CHECK BOX ENDED **/
/** INPUT POPUP ENDED **/

/** POPUP **/
    .popup {
        position: absolute;
        z-index: 1001;
        display: none;
    }

    .cart-popup {
        top: 52px;
        right: 0px;
        width: 600px;
        background-color: white;
        box-shadow: var(--shadow-medium);
    }

    .cart-popup .item-card {
        background-color: white;
        box-shadow: var(--shadow-medium);
    }

    .cart-popup .item-image {
        height: 100px;
    }

    .cart-popup .item-subcategory a {
        font-weight: 600;
    }

    .cart-popup > p {
        font-size: 20px;
        color: var(--dark-gray);
        font-weight: 700;
        width: 100%;
        text-align: center;
        margin-top: 16px;
    }

    .remove-item {
        position: relative;
        cursor: pointer;
        height: 100px;
    }

    .remove-item div {
        position: absolute;
        width: 20px;
        height: 3px;
        top: 48px;
        left: 36px;
        background-color: #D03827;
    }

    .remove-item div:nth-of-type(1) {
        transform: rotate(45deg);
    }
    .remove-item div:nth-of-type(2) {
        transform: rotate(-45deg);
    }

    .popup-2  {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.6);
        z-index: 4;
        display: none;
    }

    .popup-container {
        position: relative;
        width: 66%;
        left: 17%;
        top: 120px;
        padding: 64px 256px;
        background-color: white;
    }

    .popup-container h3 {
        font-weight: bold;
        margin: 0;
    }

    .popup-2 a {
        position: relative;
        font-size: 12px;
        display: inline;
        margin-left: 28px;
        color: var(--almost-black);
        transition: .3s;
    }

    .popup-2 a:hover {
        text-decoration: none;
        color: var(--red-solid);
        transition: .3s;
    }

    .popup-2 i {
        position: absolute;
        top: 0px;
        left: -18px;
        font-size: 16px;
    }

    .popup-2 p {
        font-size: 14px;
        color: #696969;
    }

    .popup-close {
        position: absolute;
        top: 56px;
        right: 200px;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .popup-close div {
        position: absolute;
        top: 9px;
        width: 20px;
        height: 2px;
        background-color: #0a0a0a;
        transition: .3s;
    }

    .popup-close div:nth-of-type(1) {transform: rotate(45deg);}
    .popup-close div:nth-of-type(2) {transform: rotate(-45deg);}

    .popup-close:hover div {
        background-color: #d81f83; 
        transition: .3s;
    }
/** POPUP ENDED **/

/** BUTTONS **/
    .pm-button {
        color: white;
        background-color: #D03827;
        padding: 12px 16px;
        text-align: center;
        outline: none;
        border: 2px solid var(--red-solid);
        transition: .3s;
        font-weight: 600;
    }

    .pm-button:hover {
        color: white;
        text-decoration: none;
        padding-right: 8px;
        transition: .3s;
    }

    .pm-white-button {
        border: 2px solid white;
        background-color: white;
        color: var(--almost-black);
        font-weight: 600;
    }

    .pm-white-button:hover {
        border: 2px solid white !important;
        padding-right: 8px !important; 
        color: var(--almost-black);
    }

    .pm-button-bordered {
        color: #1F1F1F;
        background-color: white;
        border: 2px solid  #1F1F1F;
        padding: 12px 16px;
        text-align: center;
        transition: .3s;
        font-weight: 600;
    }

    .pm-button-bordered:hover {
        text-decoration: none;
        color: #1F1F1F;
        padding-right: 8px;
        transition: .3s;
    }
/** BUTTONS ENDED **/

/** ITEM DETAIL **/
    .item-detail {
        box-shadow: var(--shadow-medium);
    }

    /** LEFT PART **/
        .item-detail-image {
            height: 360px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            transition: all .2s;
            margin-top: calc((100vh - 600px)/2);
        }

        .item-detail-slider {
            width: 100%;
            height: 100%;
        }

        .item-detail .slick-dots {
            position: absolute;
            bottom: 0;
        }

        .item-detail .slick-dots li {
            width: 98px;
            height: 66px;
            padding: 8px;
            border: 1px solid #FFF;
            transition: .3s;
        }

        .item-detail .slick-dots li:hover {
            transition: .3s;
            border: 1px solid #dadada;
        }

        .item-detail .slick-dots li button {
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            text-indent: -9999px;
            overflow:hidden;
            width: 80px;
            height: 48px;        
        }

        .prev {
            position: absolute;
            bottom: 60px;
            left: 32px;
            width: 40px;
            height: 40px;
            cursor: pointer;
        }

        .prev div {
            position: absolute;
            top: 19px;
            left: 12px;
            width: 16px;
            height: 2px;
            background-color: var(--dark-gray);
            transition: .3s;
        }
        .prev:hover div {
            background-color: var(--red-solid);
            transition: .3s;
        }

        .prev div:nth-of-type(1) { transform: translate(0, -5px) rotate(-45deg); }
        .prev div:nth-of-type(2) { transform: translate(0, 5px) rotate(45deg); }

        .next {
            position: absolute;
            bottom: 60px;
            right: 32px;
            width: 40px;
            height: 40px;
            cursor: pointer;
        }

        .next div {
            position: absolute;
            top: 19px;
            right: 12px;
            width: 16px;
            height: 2px;
            background-color: var(--dark-gray);
            transition: .3s;
        }
        .next:hover div {
            background-color: var(--red-solid);
            transition: .3s;
        }

        .next div:nth-of-type(1) { transform: translate(0, -5px) rotate(45deg); }
        .next div:nth-of-type(2) { transform: translate(0, 5px) rotate(-45deg); }
    /** LEFT PART ENDED **/

    /** RIGHT PART **/
        .dark-part {
            background-color: var(--almost-black);
            padding: 64px;
        }

        .dark-part h1 {
            color: white;
            text-transform: uppercase;
            font-weight: 600;
        }

        .dark-part p {
            color: var(--medium-gray);
        }

        .color-white {color: white !important;}

        .right-img {
            width: 64px;
            height: 64px;
            background-color: white;
            background-position: center;
            background-size: 48px;
            background-repeat: no-repeat;
            border: 2px solid var(--medium-gray);
            cursor: pointer;
            margin-right: 8px;
        }

        .right-img-checked {
            border: 2px solid var(--red-solid);
        }

        .right-btn {
            color: white;
            text-decoration: none;
            text-align: center;
        }

        .right-btn:hover {
            color: white;
            text-decoration: none;
        }

        .right-btn:hover span {
            border-bottom: 1px solid var(--red-solid);
            transition: .3s;
        }

        .right-btn span {
            border-bottom: 1px solid white;
            transition: .3s;
        }

        .right-price {
            color: white;
            font-size: 36px;
            font-weight: 600;
        }

        .right-link {
            color: var(--dark-gray);
            padding-bottom: 24px;
            transition: .3s;
            font-weight: 600;
        }

        .right-link:hover {
            color: var(--red-solid);
            text-decoration: none;
            transition: .3s;
        }
        
        .dark-part .input-popup {
            background-color: var(--almost-black);
            padding: 4px 0px;
            border-bottom: 1px solid white;
            margin-bottom: 32px;
            font-size: 16px;
            width: 160px !important;
            margin-left: 0 !important;
        }

        .dark-part .input-popup:hover {
            box-shadow: none;
        }

        .dark-part .input-popup p {
            margin-left: 0;
            margin-bottom: 0;
            color: white;
            text-align: left;
        }

        .dark-part .input-popup .input-popup-arrow div {
            background-color: white;
            top: 24px;
        }

        .dark-part .input-popup .input-popup-arrow div:nth-of-type(2) {
            right: 0;
        }
        .dark-part .input-popup .input-popup-arrow div:nth-of-type(1) {
            left: calc(100% - 16px);
        }

        .dark-part .input-popup-open {
            box-shadow: none;
        }

        .dark-part .input-popup-content {
            width: 160px !important;
            min-width: auto !important;
            max-width: 160px !important;
            padding: 8px 0px;
            top: 40px;
            left: 0px;
            box-shadow: var(--shadow-medium);
        }

        .dark-part .input-popup-content p {
            position: relative;
            color: var(--almost-black);
            text-align: left;
            padding-left: 16px;
        }

        .dark-part .input-popup-content p span {
            position: absolute;
            top: 4px;
            right: 12px;
            width: 10px;
            height: 10px;
            box-shadow: 0 0 0pt 1pt var(--almost-black);
            border: 1.6px solid white;
            background-color: white;
            border-radius: 50%;
        }

        .dark-part .input-popup-content p.radio-size-checked span {
            background-color: var(--almost-black) !important;
        }

        .dark-part .input-popup-content p:hover {
            color: var(--red-solid);
        }
    /** RIGHT PART ENDED **/
/** ITEM DETAIL ENDED **/

.box-shadow {
    box-shadow: var(--shadow-medium);
}

.red-circle {
    bottom: 6px;
    left: 0;
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--red-solid);
    border-radius: 12px;
}

#p-cart {
    height: 52px;
    padding-top: 14px;
}

.pm-input-number {
    position: relative;
    text-align: center;
    color: var(--almost-black);
    font-family: 'Gilroy';
    margin-top: 4px;
}

.pm-input-number div {
    font-size: 20px;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    cursor: pointer;
}

.pm-input-number div:nth-of-type(1) {
    left: -26px;
}
.pm-input-number div:nth-of-type(2) {
    right: -16px;
}

.pm-input-number span {
    position: absolute;
    top: 12px;
    left: 8px;
    width: 8px;
    height: 1.6px;
    background-color: var(--red-solid);
}

.pm-input-number span:nth-of-type(2) {
    transform: rotate(90deg);
}

.pm-input-number input {
    width: 36px;
    padding-left: 10px;
    border: none;
    font-size: 16px;
}