@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.eot');
    src: url('../fonts/Gilroy-Regular.eot?iefix') format('eot'),
    url('../fonts/Gilroy-Regular.woff') format('woff'),
    url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.eot');
    src: url('../fonts/Gilroy-Medium.eot?iefix') format('eot'),
    url('../fonts/Gilroy-Medium.woff') format('woff'),
    url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-SemiBold.eot');
    src: url('../fonts/Gilroy-SemiBold.eot?iefix') format('eot'),
    url('../fonts/Gilroy-SemiBold.woff') format('woff'),
    url('../fonts/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    src: url('../fonts/Gilroy-Bold.eot?iefix') format('eot'),
    url('../fonts/Gilroy-Bold.woff') format('woff'),
    url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

:root {
    --white: #FFF;
    --light-gray: #FAFAFA;
    --medium-gray: #CACACA;
    --dark-gray: #696969;
    --almost-black: #1F1F1F;
    --red-gradient: linear-gradient(45deg, #C22026 0%, #D43E27 100%);
    --red-solid: #D03827;
    --shadow-light: 0px 0px 26px rgba(181, 181, 181, 0.1);
    --shadow-medium: 0px 0px 30px rgba(181, 181, 181, 0.2);
}

/* {
    border: 1px solid var(--red-solid);
}*/

body {
    padding: 0px 35px;
    font-family: 'Gilroy', sans-serif !important;
}

.tooltip {
    font-family: 'Gilroy', sans-serif !important;
}

.desktop-invisible {
    display: none !important;
}

#phones a {
    font-weight: 700 !important;
}

#top-nav-links {
    padding: 10px 5px;
}

#top-nav-links a {
    color: var(--dark-gray) !important;
    font-weight: 500;
    font-size: 0.875rem;
    transition: color .3s;
}

#top-nav-links a:hover {
    color: var(--almost-black) !important;
}

#phones a:not(:last-child), #social-links a:not(:last-child), #technical-links a:not(:last-child) {
    margin-right: 30px;
}


#logo-container {
    width: 11.75rem;
}

#nav-categories {
   display: flex;
}

input[type="text"] {
    padding: 14px 26px;
    font-size: 1rem;
    font-weight: 700;
    color: var(--almost-black);
    border: none;
    background-color: var(--light-gray);
    width: 100%;
}

input[type="text"]::placeholder {
    color: var(--dark-gray);
}

input[type="text"]:focus {
    outline: none;
}

#search-icon {
    position: absolute;
    height: 25px;
    width: 25px;
    right: 26px;
    top: 15px;
    padding: 4px 0px 4px 9px;
    z-index: 1000;
    background-color: var(--light-gray);
}

#search {
    position: relative;
    width: 100%;
}

.px-5p {
    padding: 0px 5px !important;
}

#categories {
    display: flex;
    background-color: var(--almost-black);
    padding: 14px;
    justify-content: space-around;
    width: 88%;
}

#categories a, #discount-button a{
    display: block;
    text-transform: uppercase;
    font-size: 1rem;
    color: #fff;
    font-weight: 500;
    transition: all .3s;
    margin: 0px 11px;
}

#categories a div {
    height: 6.1px !important;
    width: 5.6px !important;
    border-radius: 3px;
    background-image: var(--red-gradient);
    position: absolute;
    opacity: 0;
    transition: opacity .3s;
    left: calc(50% - 2px);
}

#categories a.active, #categories a:hover, #discount-button a:hover {
    transform: translateY(-4px);
    text-decoration: none;
}

#categories a.active div, #categories a:hover div {
    opacity: 1;
}

#discount-button {
    background-image: var(--red-gradient);
    display: block;
    width: 12%;
    padding: 14px;
}

#cart-container {
    display: flex;
    float: right;
}

#cart-container:hover {
    text-decoration: none;
}

#total-price {
    font-size: 1rem;
    color: var(--dark-gray);
    font-weight: 600;
    margin-right: 45px;
}

.cart {
    position: relative;
}

#total-items {
    position: absolute;
    right: 4px;
    top: -7px;
    height: 18px;
    width: 18px;
    font-size: 0.6rem;
    color: #fff;
    font-weight: 600;
    background-image: var(--red-gradient);
    text-align: center;
    padding: 2px 0px;
    border-radius: 9px;
}

#cart-img {
    position: absolute;
    right: 0px;
}

.categories-dropdowns {
    position: absolute;
    width: 100%;
    top: 100%;
    box-shadow: var(--shadow-medium);
    padding: 35px;
    background-color: #fff;
    z-index: 666;
    display: none;
}

#categories a:hover.categories-dropdown {
    display: block;
}

.no-gutters.items > div, .no-gutters.news > div, .no-gutters.filters > div {
    padding: 5px;
}
.item-card {
    box-shadow: var(--shadow-light);
    padding: 35px 40px 25px 40px;
    transition: all .2s;
}

.item-card:hover {
    box-shadow: var(--shadow-medium);  
}

.item-card:hover .item-image {
    transform: scale(1.03);
}

.item-card:hover .item-old-price {
    transform: translateY(-4px);
    color: var(--red-solid);
}

.item-card:hover .item-bage {
    top: 2px;
}

.item-image {
    width: 100%;
    height: calc((100vw - 110px)/8);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all .2s;
}

.item-name {
    margin-top: 25px;
    margin-bottom: 3px;
}

.item-name a {
    text-transform: uppercase;
    color: var(--almost-black);
    font-weight: 700;
    font-size: 1.25rem;
}

.item-bage {
    position: absolute;
    top: 7px;
    left: 0px;
    text-align: center;
    width: 100%;
    z-index: 100;
    transition: all .3s;
}

.item-bage span {
    color: #fff;
    background-color: var(--red-solid);
    padding: 8px 35px;
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: 700;
}

.item-subcategory {
    display: inline-block;
    width: 60%;
}

.item-subcategory a:hover {
    color: var(--dark-gray);
}


.item-subcategory a {
    color: var(--medium-gray);
    font-weight: 700;
    font-size: 0.875rem;
    transition: color .2s;
}

.item-availability {
    color: var(--medium-gray);
    font-weight: 500;
    font-size: 0.875rem;
    display: inline-block;
    float: right;
}

.item-price {
    font-weight: 700;
    color: var(--dark-gray);
    font-size: 1.25rem;
    line-height: 1rem;
    margin-top: 10px;
    margin-bottom: 0px;
    display: inline-block;
}

.item-parameters {
    display: inline-block;
    margin-top: 7px;
    float: right;
}

.item-parameters div {
    height: 12px;
    width: 12px;
    display: inline-block;
    border-radius: 50%;
    margin-left: 6px;
}

.item-sizes {
    display: inline-block;
    float: right;
}

.item-size {
    font-size: 1rem;
    color: var(--dark-gray);
    font-weight: 600;
    margin-left: 10px;
    padding-left: 5px;
}

.item-old-price {
    display: inline-block;
    font-size: 0.875rem;
    font-weight: 600;
    text-decoration: line-through;
    color: var(--medium-gray);
    transition: all .3s;
    margin-left: 5px;
    margin-bottom: 0px;
}

#main-slider div {
    width: 100%;
    height: calc((100vw - 80px)/3.5);
    background-position: center;
    background-size: cover;
}

.footer-container {
    background-color: var(--almost-black);
    color: #fff;
}

.footer-title {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
}

#footer-phones a {
    font-weight: 700;
    color: #fff;
    margin-left: 25px;
}

#footer-phones {
    display: inline-block;
    float: right;
}

#footer-form-submit {
    padding: 14px;
    border: none;
    width: 100%;
    background-image: var(--red-gradient);
    color: #fff;
    font-weight: 600;
    transition: all .3s;
}

#footer-form-submit:hover {
    padding-right: 8px;
}

.section-header {
    font-size: 1.875rem;
    letter-spacing: .3rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--almost-black);
    margin-bottom: 45px;
}

.footer-links a {
    display: block;
    margin-bottom: 7px;
    color: #fff;
}

#mb-custom {
    margin-bottom: 38px;
}


#copyrights {
    font-size: 0.875rem;
    color: var(--dark-gray);
    font-weight: 500;
}

#copyrights a {
    color: #fff;
}

.category-card {
    box-shadow: var(--shadow-light);
    background-color: #fff;
    transition: box-shadow .2s;
}

.category-card:hover {
    box-shadow: var(--shadow-medium);
}

.categoty-card-header {
    background-color: var(--almost-black);
    padding: 13px 0px;
}

.category-card-name a {
    font-weight: 600;
    color: #fff;
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    transition: all .3s;
}

.category-card-name:hover a {
    text-decoration: none;
    margin-left: 5px;
}

.category-card-name div {
    height: 14px;
    width: 14px;
    background-image: var(--red-gradient);
    display: inline-block;
    margin-left: 25px;
    border-radius: 7px;
}

.category-card-header a {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    margin-left: 30px;
    text-transform: uppercase;
}

.category-card-header {
    text-align: right;
}

.categoty-card-body {
    padding: 30px 0px;
}

.categoty-card-body a {
    font-size: 1.125rem;
    transition: all .3s;
    color: var(--dark-gray);
    display: block;
    margin-top: 10px;
}

.categoty-card-body a:hover {
    color: var(--almost-black);
}

.category-image {
    margin-top: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.category-card-link a {
    font-size: 1rem;
    color: var(--medium-gray);
    margin-top: 40px;
}

.category-card-link a:hover {
    color: var(--dark-gray);
    text-decoration: none;
}

.category-card-link img {
    margin-left: 25px;
    transition: all .3s;
}

.category-card-link:hover img {
    margin-left: 30px;
}


#season-banner .col {
    height: calc(100vw/5);
    background-size: cover;
    background-position: center;
    display: table-cell;
}

#season-banner h2 {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-size: 2.5rem;
    text-align: center;
    margin-top: calc(100vw/10 - 20px);
    text-shadow: 0px 0px 15px #00000069;
}

.news-image {
    width: 100%;
    height: 20vw;
    background-size: cover;
    background-position: center;
}

.news-card {
    background-color: #fff;
    box-shadow: var(--shadow-light);
    transition: box-shadow .2s;
}

.news-card:hover {
    box-shadow: var(--shadow-medium);    
}

.news-content {
    padding: 35px 40px;
}

.news-title a {
    font-weight: 700;
    color: var(--almost-black);
    text-transform: uppercase;
    font-size: 1.25rem;
    letter-spacing: .1rem;
    margin-bottom: 15px;
    display: block;
}

.news-description {
    font-size: 1rem;
    font-weight: 300;
    color: var(--dark-gray);
}

.news-date {
    font-size: 0.875rem;
    color: var(--medium-gray);
    font-weight: 500;
    display: inline-block;
}

.news-button {
    display: inline-block;
    float: right;
    color: var(--medium-gray);
    font-size: 0.875rem;
    font-weight: 500;
    transition: color .2s;
}

.news-button img {
    margin-left: 15px;  
    transition: margin .2s;
}

.news-button:hover {
    color: var(--dark-gray);
    text-decoration: none;
}

.news-button:hover img {
    margin-right: -5px;
    margin-left: 20px;
}

#partners-links {
    margin-top: 34px;   
}

#partners-links a{
    color: #fff;
    margin-right: 30px;
}

#partners-links a:last-child {
    margin-right: 0px;
}

@media screen and (max-width: 1300px) {
    body {
        padding: 0px 15px;
    }
    
    #phones a:not(:last-child), #social-links a:not(:last-child), #technical-links a:not(:last-child) {
        margin-right: 25px;
    }
    
    #logo-container {
        width: 11rem;
    }
    
    #total-price {
        margin-right: 35px;
    }
}

@media screen and (max-width: 768px) { 
    #footer-phones {
        display: flex;
        width: 100%;
    }
    
    .mobile-invisible {
        display: none !important;
    }
    
    #categories {
        text-align: left;
        overflow-x: scroll;
        width: 100%;
        padding-left: 1rem;
        justify-content: space-between;
        white-space: nowrap;
    }
    
    #categories::-webkit-scrollbar {
        display: none;
    }
    
    .desktop-invisible {
        display: block !important;
    }
    
    .cart {
        top: 0px;
    }
}

@media screen and (max-width: 576px) {
    body {
        padding: 0px;
    }
    
    .px-5p {
        padding: 0px !important;
    }
    
    .no-gutters.items > div, .no-gutters.news > div, .category-card {
        padding: 10px !importanr;
    }
    
    #footer-form-phone {
        text-align: center;
    }
}

.undernav-line {
    width: 100%;
    height: 1px;
    background-color: var(--medium-gray);
}

.items-qty {
    font-size: 1rem;
    letter-spacing: 0px;
    font-weight: 600;
    color: var(--medium-gray);
    margin-left: 25px;
    text-transform: none;
}



.filters > div span {
    background-color: var(--light-gray);
    font-size: 0.875rem;
    width: 100%;
    display: flex;
    padding: 13px 20px;
    color: var(--dark-gray);
    font-weight: 600;
    justify-content: space-between;
}

.filters > div span img {
    transform: rotate(180deg);
}

.news-page-main-image {
    width: 100%;
    height: calc(100vw/6);
    background-size: cover;
    background-position: center;
}

.news-page-date {
    font-size: 1.125rem;
    color: var(--medium-gray);
    font-weight: 500;
}

.news-page-links {
    text-align: right;
    font-size: 1.125rem;
}

.news-page-links a img {
    transition: all .2s;
}

.news-page-links a:hover img {
    transform: translateX(5px);
}

.news-page-links a {
    color: var(--medium-gray); 
    font-weight: 500;
    transition: all .2s;
}

.news-page-links a:hover {
    color: var(--dark-gray); 
}

.news-page-description {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--dark-gray);
    line-height: 150%;
    margin-bottom: 40px;
}

.news-page-news-text {
    font-size: 1.125rem;
    line-height: 150%;
    color: var(--dark-gray);
    font-weight: 300;
}

.total-sum {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--dark-gray);
}

#nav-subcategories {
    background-color: #fff;
    padding: 30px 35px;
    width: 100%;
    position: absolute;
    top: 100%;
    box-shadow: var(--shadow-medium);
    z-index: 1000;
    display: none;
}

#nav-subcategories a {
    display: block;
    font-size: 1rem;
    color: var(--dark-gray);
    margin: 5px 0px;
    transition: all .2s;
    font-weight: 400;
}

#nav-subcategories a:hover {
    color: var(--almost-black);
}

#nav-subcategories > div {
    display: none;
}

.nav-subcategory-links a {
    text-transform: uppercase;
    color: var(--almost-black) !important;
    font-weight: 500 !important;
}

.nav-category-link a {
    font-size: 0.875rem !important;
    color: var(--medium-gray) !important;
    font-weight: 500 !important;
    margin-right: 10px !important;
}

.nav-category-link img {
    margin-left: 25px;   
    transition: all .2s;
}

.nav-category-link a:hover img {
    transform: translateX(5px);
}

.nav-category-link a:hover {
    color: var(--almost-black) !important;
    text-decoration: none;
}
