@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600');

@font-face{
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.eot');
    src: url('../fonts/Gilroy-Regular.eot?iefix') format('eot'),
    url('../fonts/Gilroy-Regular.woff') format('woff'),
    url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-SemiBold.eot');
    src: url('../fonts/Gilroy-SemiBold.eot?iefix') format('eot'),
    url('../fonts/Gilroy-SemiBold.woff') format('woff'),
    url('../fonts/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    src: url('../fonts/Gilroy-Bold.eot?iefix') format('eot'),
    url('../fonts/Gilroy-Bold.woff') format('woff'),
    url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}



body {
    background-color: #FAFAFA;
}

#portfolio {
    width: 100%;
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
}

#portfolio::-webkit-scrollbar {
    display: none;
}

#portfolio div {
    width: 25vw;
    height: 31vw;
    flex-shrink: 0;
    background-size: cover;
    scroll-snap-align: start;
    filter: brightness(0.2);
    background-position: center;
    padding: 40px;
}

.px-7 {
    padding-right: 7vw;
    padding-left: 7vw;
}

.bg-fa {
    background-color: #FAFAFA;
}

#main-logo {
    width: calc(100px + 1vw);
}

.nav-links li {
    font-size: 21px;
    margin-left: 55px;
    font-family: 'Gilroy';
    font-weight: 600;
}

.nav-links li a {
    padding-left: 0px !important;
    padding-right: 0px !important;
    color: #171615 !important;
    transition: all .3s;
}

.nav-links li a:hover {
    color: #535354 !important;
    padding-top: 4px;
    padding-bottom: 12px;
}

.button-custom-outline {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 34px !important;
    padding-right: 34px !important;
    border: 1px solid #535354;
}

#h1-main {
    font-size: 55px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
}


.mt-15 {
    margin-top: 15vh;
}

.v-34 {
    height: 1px !important;
    width: 34px !important;
    padding: 0px !important;
    background-color: #171615;
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 13px;
}

.gilroy-bold-13 {
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
    font-size: 13px;
}

.btn-custom {
    border: 1px solid #171615;
    background-color: #171615;
    color: #fff;
}

.btn-custom-outline {

    border: 1px solid #171615;
    background-color: transparent;
}

.btn-custom-outline:hover, .btn-custom:hover {
    background-color: #F84822;
    color: #fff;
    border-color: #F84822;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    padding: 21px 34px;
    font-weight: 600;
    transition: all .3s;
    border-radius: 0px;
    text-transform: uppercase;
}

.btn:focus {
    box-shadow: none;
}

.section-header {
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
}

.grey {
    color: #CACACA;
}

.bg-white {
    background-color: #fff !important;
}

.custom-card {
    background-color: #fff;
    padding: 60px;
    transition: all .3s;
    margin-bottom: 30px;
}

.custom-card:hover {
    box-shadow:  0 0 40px rgba(0,0,0,0.05);
}

.v-55-fat {
    height: 2px;
    width: 55px;
    background-color: #CACACA;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 13px;
}

.gilroy-21-bold {
    color: #CACACA;
    font-family: 'Gilroy', sans-serif;
    font-size: 21px;
    font-weight: 700;
}

.card-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: #535354;
}
