body {
    margin: none;
    background-color: #f4f4f4;
}

#logo {
    position: fixed;
    width: 120px;
    left: 7.5vw;
    top: 2.86vw;
    z-index: 1000;
}

.logo-svg-element {
    fill: #1f1f1f;
}

#hamburger {
    position: fixed;
    top: 3.14vw;
    right: 7.5vw;
    cursor: pointer;
    width: auto;
    height: auto;
    z-index: 1000;
}

#hamburger div {
    height: 2px;
    background-color: #1f1f1f;
    transition: all .5s;
}

#hamburger div:nth-child(1) {
    width: 34px;
}

#hamburger div:nth-child(2) {
    margin-top: 10px;
    width: 21px;
    margin-left: 13px;
}

#hamburger:hover div:nth-child(2) {
    width: 34px;
    margin-left: 0px;
}

#hamburger.chrested div:nth-child(1) {
    height: 3px;
    transform-origin: 100% 0;
    transform: rotate(-45deg);
    background-color: #fff;
}

#hamburger.chrested div:nth-child(2) {
    height: 3px;
    transform-origin: 100% 100%;
    width: 34px;
    margin-left: 0px;
    transform: rotate(45deg);
    margin-top: 19.7px;
    background-color: #fff;
}

#hamburger.chrested + #hamburger-menu {
    top: 0px;
}

#hamburger-menu {
    position: fixed;
    top: calc(-100vh + 34px);
    left: 34px;
    width: calc(100% - 68px);
    height: calc(100vh - 34px);
    background-color: #F84822;
    transition: all 1s;
}
