@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
    margin: none;
    background-color: #f4f4f4;
    font-family: 'Montserrat', sans-serif;
}

#logo {
    position: fixed;
    width: 120px;
    left: 7.5vw;
    top: 2.86vw;
    z-index: 1000;
}

.logo-svg-element {
    fill: #1f1f1f;
    transition: fill .5s;
}

.logo-svg-element-white {
    fill: #fff !important;
}

#hamburger {
    position: fixed;
    top: 3.14vw;
    right: 7.5vw;
    cursor: pointer;
    width: auto;
    height: auto;
    z-index: 1000;
}

#hamburger div {
    height: 2px;
    background-color: #1f1f1f;
    transition: all .5s;
}

#hamburger div:nth-child(1) {
    width: 34px;
}

#hamburger div:nth-child(2) {
    margin-top: 10px;
    width: 21px;
    margin-left: 13px;
}

#hamburger:hover div:nth-child(2) {
    width: 34px;
    margin-left: 0px;
}

#hamburger.chrested div:nth-child(1) {
    height: 3px;
    transform-origin: 100% 0;
    transform: rotate(-45deg);
    background-color: #fff;
}

#hamburger.chrested div:nth-child(2) {
    height: 3px;
    transform-origin: 100% 100%;
    width: 34px;
    margin-left: 0px;
    transform: rotate(45deg);
    margin-top: 19.7px;
    background-color: #fff;
}

#hamburger.chrested + #hamburger-menu {
    top: 0px;
}

#hamburger-menu {
    position: fixed;
    top: calc(-100vh + 1.77vw);
    left: 1.77vw;
    width: calc(100% - 3.54vw);
    height: calc(100vh - 1.77vw);
    background-color: #F84822;
    transition: all 1s;
    justify-content: center;
}
.menu-upper-row {
    justify-content: space-between;
    display: flex;
    padding-top: 3vw;
    padding-right: 22.6%;
    padding-left: 22.6%;
}

#languages {
    width: 50%;
    font-weight: 600;
}

#languages a {
    color: #FDB9AB;
    margin-right: 21px;
    font-size: 21px;
    text-decoration: none;
}

#languages a:hover, #nav-icons a:hover {
    color: #fff;
}

#nav-icons {
    text-align: right;
}

#nav-icons a {
    color: #FDB9AB;
    font-size: 21px;
    margin-left: 21px;
    transition: color .25s;
}

.language-active {
    color: #fff !important;
}
