$text_color: #828282;
$h1_size: 50px;
$h2_size: 40px;
$h3_size: 30px;
$h4_size: 20px;
$h5_size: 18px;

$text_size: 16px;

$red_color: #F53248;

$button_color: #ffffff;

html, body {
    scroll-behavior:smooth;
}

a:focus, div:focus, img:focus {
    outline: 0;
}

.slick-slide {
    cursor: pointer;
}

.text-studio {
    font-size: 16px;
}

.g-title {   
    font-family: "FuturaNew";
    font-size: 40px;
    font-weight: 900;
    line-height: 51px;
    color: #000000;
    text-align: center;

    &::after {
        content: "";
        display: block;  
        width: 117px;
        height: 2px;
        background-color: #000000;
        margin: 0 auto;
        transform: translateY(20px);
    }

    &_left {
        text-align: left;
    }

    &_left::after {
        margin: 0;
    }
}

.g-button {
    background-color: $red_color;
    border: 2px solid $red_color;
    padding: 8px 40px;
    color: $button_color;
    text-decoration: none;
    text-align: center;
    transition: all 300ms ease-in-out;

    &:hover {
        text-decoration: none;
        color: #000000;
        background-color: #ffffff;
        border: 2px solid #000000;
        transition: all 300ms ease-in-out;
    }
}

.g-next {
    color: #000000;
    margin-left: 50px;

    &:hover {
        color: #000000;
        text-decoration: none;
    }

    &:hover .g-next__image {
        transform: translateX(5px);
    }

    &__image {
        margin-left: 10px;
        transition: 0.2s;
    }
}

.navbar {
    background-color: #ffffff;
    padding: 20px 20px;
    z-index: 12000;

    &-brand {
        padding-left: 10px;
    }

    &-collapse {
        justify-content: center;
    }
}

.nav {

    &-item {
        margin: 0 0.9rem;
    }

    &-link {
        font-size: $text_size;
        color: #000000;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.115em;
        display: flex;
        justify-content: center;
    }

    &-link::after {
        content: "";
        opacity: 0;
        width: 9px;
        height: 9px;
        margin: 0 auto;
        position: absolute;
        transition: 300ms;
    }

    &-link:hover::after {
        display: flex;
        opacity: 1;
        width: 9px;
        height: 9px;
        background-color: $red_color;
        margin: 0 auto;
        transform: translateY(30px);
        position: absolute;
    }

    &-link:hover {
        color: #000000;
        transform: translateY(-10px);
        transition: 300ms;
    }

    &-burger {
        cursor: pointer;
    }


    
}

.nav-burger {
    width: 60px;
    height: 45px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    transform: scale(0.5);

    &__item {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: #000000;
        opacity: 1;
        right: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }

    &__item_first {
        top: 0px;
    }

    &__item_second {
        top: 18px;
        width: 80%;
    }

    &__item_third {
        top: 36px;
    }

    &:hover .nav-burger__item_second {
        width: 100%;
    }
}

.nav-burger.open {
    & .nav-burger__item_first {
        top: 18px;
        transform: rotate(135deg);
    }

    & .nav-burger__item_second {
        opacity: 0;
        right: -60px; 
    }

    & .nav-burger__item_third {
        top: 18px;
        transform: rotate(-135deg);
    }
}

.sidenav {

    &__wrapper {
        z-index: 12150;
        display: flex;
        flex-direction: column;
        background-color: white;
        height: 100%;
        padding: 0;
        float: right;
        right: -100%;
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0px;
        transition: 1s all;
    }

    &__wrapper.active {
        right: 0;
        transition: 1s all;
    }

    &-header {
        display: flex;
        margin-left: 45px;
        margin-right: 20px;
        padding-top: 24px;
        padding-bottom: 35px;
        justify-content: space-between;
        border-bottom: 1px solid $text_color;
    }

    &-burger {
        z-index: 1000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transform: translateX(20px) scale(0.5);
        transform-origin: center 21px;
        transition: 0.3s;
    }

    &-burger:hover.open {
        transform: translateX(20px) rotate(90deg) scale(0.5);
    }

    &-burger.open .nav-burger__item {
        height: 5px;
    }

    &-main {
        margin-left: 45px;
        margin-right: 20px;
        margin-top: 35px;
        border-bottom: 1px solid $text_color;
        display: flex;
    }

    &-main__list {
        list-style-type: none;
        padding-left: 0;
        padding-right: 0;
    }

    &-main__item {
        margin: 5px 0px;
    }

    &-main__title {
        font-size: 24px;
        color: $text_color;
        text-transform: uppercase;
    }

    &-main__link {
        font-size: 24px;
        color: #000000;
        transition: 0.3s;
        display: inline-flex;
    }

    &-main__link:hover {
        color: $red_color;
        text-decoration: none;
        transform: translateX(5px);
    }

    &-footer {
        margin-left: 45px;
        margin-right: 20px;
        margin-top: 30px;
        padding-bottom: 35px;
        border-bottom: 1px solid $text_color;
    }

    &-footer__wrapper {
        display: flex;
    }

    &-footer__wrapper_margin {
        margin-top: 25px;
    }

    &-footer__item {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    &-footer__item_row {
        flex-direction: row;
    }

    &-footer__link {
        font-size: 16px;
        color: #000000;
        font-weight: 900;
        transition: 0.3s;
        display: inline-flex;
    }

    &-footer__link_margin {
        margin-left: 20px;
    }

    &-footer__link:hover {
        color: $red_color;
        text-decoration: none;
        transform: translateX(5px);
    }

    &__button {
        margin-left: 45px;
        margin-right: 20px;
        max-width: 240px;
        margin-top: 35px;
    }

    &-m-show {
        display: none;
    }
}

.overlay {
    position: fixed;
    right: -110%;
    width: 100vw;
    height: 100vh;
    top: 0px;
    z-index: 12100;
    background: rgba(0, 0, 0, 0.7);
    transition: all 1s ease-in-out;
}
.overlay.active {
    display: flex;
    right: 0%;
    top: 0px;
    transition: all 1s;
    transition-delay: 0.1s;
}

.preview {
    margin-top: 110px;
    margin-bottom: 100px;
    display: flex;

    &__redBlock {
        width: 117px;
        height: 117px;
        background-color: $red_color;
        position: absolute;
        z-index: 10000;
        bottom: 0;
        transform: translateY(30px);
    }

    &__address {
        color: #000000;
        font-size: $text_size;
        position: absolute;
        z-index: 100;
        bottom: 0;
        right: 0;
        transform: translateY(50px);
    }

    &__title {
        font-size: $h1_size;
        color: #000000;
        letter-spacing: 0.115em;
        text-transform: uppercase;
        margin-bottom: 50px;
    }

    &__block_flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 70px;
    }

    &_margin {
        margin-top: 20px;
    }

    &__text {
        max-width: 550px;
        margin-top: 32px;
        margin-bottom: 41px;
    }

    &-slider__thumb {
        width: auto !important;
        margin-right: 22px;
        padding-bottom: 25px;
        border-bottom: 2px solid #ffffff;
    }

    &-slider__thumb.slick-current {
        border-bottom: 2px solid #000000;
        transition: all 300ms ease-in-out;
    }

    
    &-slider > .slick-list > .slick-track {
        transform: none !important;
    }
}

.about {
    display: flex;
    padding-top: 80px;

    &-desc__text {
        color: $text_color;
        font-size: $text_size;
        padding-top: 50px;
    }

    &-desc__span {
        padding-bottom: 20px;
        display: inline-block;
    }

    &-info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &-info__wrapper {
        display: flex;
    }
    
    &-info__item {

    }
    
    &-info__item:hover .about-info__svg {
        fill: $red_color;
    }

    &-info__svg {
        fill: #000000;
        transition: 300ms;
    }

    &-info__title {
        font-size: $h5_size;
        padding-top: 20px;
    }

    &-info__text {
        color: $text_color;
        font-size: $text_size;
        padding-top: 16px;
        max-width: 240px;
    }

}

.planning {
    margin-top: 100px;
    margin-bottom: 150px;

    &__block {
        display: flex;
        justify-content: space-between;
        margin-top: 80px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.document {
    margin-top: 150px;

    &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 80px;
        padding-left: 10px;
        padding-right: 10px;
    }

    &-list__wrapper {}

    &-list__item {
        margin-top: 50px;
    }

    &-list__link {
        color: $text_color;
        font-size: $h4_size;
        line-height: 25px;
        transition: 0.2s;
    }

    &-list__link:hover {
        color: rgba(130,130,130, 0.4);;
        text-decoration: none;
    }

    &-list__link::before {
        content: "";
        display: inline-block;  
        width: 25px;
        height: 25px;
        background-image: url("../img/house/docs-icon.svg");
        background-repeat: no-repeat;
        background-position: center;
        padding-right: 40px;
        transform: translateY(6px);
    }
}

.building {
    margin-top: 100px;

    &_row {
        justify-content: center;
        margin-top: 100px;
    }

    &-slider__item {
        margin-right: 10px;
        margin-left: 10px;
    }

    &-slider__image {
        max-width: 95%;
    }

    &-slider__title {
        font-size: $h4_size;
        color: #000000;
    }

    &-slider__text {
        font-size: $text_size;
        color: $text_color;
    }

    &-slider__box {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        min-height: 400px;
        margin-bottom: 10px;
    }
}

.left-arrow, .right-arrow {
    display: flex !important;
    z-index: 10;
}

.footer {
    margin-top: 35px;
    position: relative;

    &__iframe {
        padding-left: 20px;
        padding-right: 20px;
    }

    &__group {
        position: absolute;
        width: 98%;
        margin-top: -220px;
        background-image: url("../img/footer-bg.png");
        background-repeat: no-repeat;
        background-position: left bottom;
    }

    &__group_padding {
        padding-bottom: 75px !important;
        border-bottom: 3px solid #F53248;
    }

    &__copy {
        margin-bottom: 20px;
    }
}

.m-footer {
    &__block {
        display: flex;
    }

    &_mrg {
        padding-left: 70px;
    }
}

.text {
    &-footer-anim {
        transition: 0.4s;
    }

    &-footer-anim:hover {
        transform: translateX(10px);
    }
}

.custom-button-footer {
    transition: all 300ms ease-in-out;
}

.custom-button-footer:hover {
    color: #000000 !important;
    background-color: #ffffff;
    border: 2px solid #000000;
    transition: all 300ms ease-in-out;
}

@media (min-width: 1920px) {

    .header, .navbar, .main, .footer, .container_margin {
        margin-left: 450px;
        margin-right: 450px;
    }

    .preview {
        &-slider-for > .slick-list > .slick-track > .slick-slide {
            display: flex;
            justify-content: flex-end;
        }
    }

    .footer, .navbar, .container_margin {
        width: auto;
    }

    .sidenav {
        &-main, &-footer, &-footer__wrapper {
            flex-direction: column;
        }

        &__wrapper {
            max-width: 25%;
        }
    }
}


@media (min-width: 3500px) {
    .header, .navbar, .main, .footer, .container_margin {
        margin-left: 1200px;
        margin-right: 1200px;
    }

    .sidenav {
        &__wrapper {
            max-width: 20%; 
        }
    }
}

@media (max-width: 1305px) {
    .preview {
        &-slider__thumb:nth-child(4) {
            display: none;
        }
    }
}

@media (max-width: 768px) {

    .g {
        &-next {
            text-align: center;
            margin-left: 0;
            padding: 10px;
        }

        &-button {
            display: flex;
            justify-content: center;
        }

        &-title {
            text-align: left;
            margin-left: 0;
            font-size: 35px;
        }

        &-title::after {
            margin-left: 0;
        }
    }

    .navbar {
        padding: 20px 5px;
    }

    .sidenav {
        &-header {
            margin-left: 20px;
            padding-top: 15px;
            padding-bottom: 0;
        }

        &-main {
            margin-left: 20px;
            margin-top: 10px;
            padding-bottom: 0;
        }

        &-footer {
            margin-left: 20px;
            margin-top: 10px;
            padding-bottom: 10px;
            border-bottom: none;
        }

        &-footer__item {
            flex-direction: column;
        }

        &-footer__link_margin {
            margin: 0;
        }

        &-main__link {
            font-size: 20px;
        }

        &-main__title {
            font-size: 20px;
        }

        &__button {
            margin-left: 20px;
            margin-top: 5px;
            max-width: none;
        }

        &-footer-m__item {
            margin-top: 20px;
        }

        &-m-show {
            display: flex;
        }

        &-m-hide {
            display: none;
        }

        &-footer-m_flex {
            flex-direction: column;
        }
    }

    .overlay {
        display: none !important;
    }

    .preview {
        flex-direction: column;

        &-slider-nav > .slick-list > .slick-track {
            display: flex;
            justify-content: center;
            width: 100% !important;
        }

        &__block_flex {
            padding-left: 0;
            padding-right: 0;
        }

        &__title {
            font-size: 35px;
            text-align: center;
            margin-top: 30px;
            margin-bottom: 0;
        }

        &__text {
            display: none;
        }

        &_margin {
            display: flex;
            flex-direction: column;
        }

        &__redBlock {
            display: none;
        }

        &__address {
            transform: translateY(200px);
            text-align: center;
            left: 0;
            right: 0;
            margin: auto;
        }

        &-slider__image {
           width: 100%; 
        }

        &-slider-nav {
            order: -1;
        }

        &-slider__thumb {
            transform: scale(0.7);
            margin-right: 0;
        }
    }

    .about {
        flex-direction: column;
        padding-top: 30px;

        &-desc {
            padding-left: 0;
            padding-right: 0;
        }

        &-info {
            justify-content: center;
            margin-top: 70px;
        }

        &-info__wrapper {
            flex-direction: column;
        }

        &-info__item {
            text-align: center;
        }
    }

    .planning {


        &__block {
            flex-direction: column;
        }
    }

    .document {
    }

    .building {
        &_row {
            position: relative;
        }

        .left-arrow {
            z-index: 1;
            position: absolute;
            top: 35%;
            left: 0;
        }

        .right-arrow {
            z-index: 1;
            position: absolute;
            top: 35%;
            right: 0;
        }

        &-slider__image {
            margin: 0 auto;
        }

        &-slider__title, &-slider__text {
            margin-left: 10px;
        }

        &-slider__title {
            margin-top: 10px;
        }
    }

    .footer {
        &__group {
            margin-left: -8px;
            background-image: none;
        }

        &__group_padding {
            border-bottom: none;
        }

        &__copy {
            flex-direction: column;
        }

        &__iframe {
            padding: 0;
        }
    }

    .m-footer {
        &-inputs {
            margin-top: 30px;
            margin-right: 0 !important;
        }

        &-inputs__title {
            font-size: 35px;
            margin-bottom: 30px;
        }

        &__group_padding {
            padding-bottom: 30px !important;
        }

        &-numbers {
            order: -1;
            margin-left: 0 !important;
        }

        &--display {
            display: none;
        }

        &--padding {
            padding: 0;
        }

        &__block {
            display: flex;
            width: 100%;
            padding-left: 15px;
        }

        &_mrg {
            margin-left: 40px;
            padding-left: 0px;
        }

        &__title {
            padding-left: 15px !important;
            margin-bottom: 15px;
            display: none;
        }

        &_margin {
            margin-top: 30px;
        }

        &-adrs {
            padding-left: 15px !important;
            margin-top: 35px;
        }

        &-title {
            padding-bottom: 0 !important;
        }
    }

    .text-studio {
        text-align: center;
    }

    .text-regular-container {
        margin-bottom: 0;
    }
}