.d-hide {
  display: none;
}

.sect-5__card .fas, .sect-5__card .far {
  color: #212529 !important;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.sect-5__card:hover .fas, .sect-5__card:hover .far {
  color: #F53248 !important;
}

@media (max-width: 768px) {
  .navbar {
    padding: 20px 5px;
  }
  .left-arrow-house {
    position: absolute;
    top: 50%;
    left: 5px;
  }
  .right-arrow-house {
    position: absolute;
    top: 50%;
    right: 5px;
  }
  .d-hide {
    display: block;
  }
  .m-hide {
    display: none;
  }
  .px-container {
    padding: 0 15px;
  }
  .padding-container {
    padding: 0;
  }
  .houses {
    width: 100%;
    position: relative;
  }
  .slider-house {
    width: 100%;
  }
  .slider-house__title {
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    margin-bottom: 0;
  }
  .slider-house__img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 300px;
  }
  .fas, .far {
    color: #F53248 !important;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .sect-1__wrapper {
    padding-top: 0;
    margin-top: 30px;
  }
  .sect-1__img {
    margin: 0 auto;
  }
  .sect-1__button-learn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
  }
  .sect-1__button-call {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 15px;
    margin-left: 0 !important;
  }
  .sect-3 {
    margin-top: 50px;
    margin-bottom: 0 !important;
  }
  .sect-3__underline {
    margin-bottom: 30px;
  }
  .sect-3__item {
    margin-bottom: 15px;
  }
  .sect-4 {
    margin-bottom: 0 !important;
  }
  .sect-4__text {
    text-align: left !important;
  }
  .sect-4__line {
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 0;
  }
  .sect-4 .text-center {
    text-align: left !important;
  }
  .sect-4 .px-5 {
    padding: 0 !important;
  }
  .sect-4 .custom-card {
    margin-bottom: 45px;
  }
  .sect-5 {
    padding-top: 0 !important;
    padding: 0 15px !important;
    margin-bottom: 0 !important;
  }
  .sect-5 > #background-full {
    background-image: none;
    padding: 0;
  }
  .sect-5 .text-center {
    text-align: left !important;
  }
  .sect-5__card {
    text-align: center;
    margin-bottom: 15px !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
  .sect-6 .text-center {
    text-align: left !important;
  }
  .sect-6__line {
    margin-bottom: 50px !important;
    margin-left: 0 !important;
    margin-top: 36px !important;
  }
}
/*# sourceMappingURL=index.css.map */