@font-face {
    font-family: 'FuturaNew';
    src: url('../fonts/FuturaNewDemi-Reg.eot');
    src: url('../fonts/FuturaNewDemi-Reg.eot?iefix') format('eot'),
        url('../fonts/FuturaNewDemi-Reg.woff') format('woff'),
        url('../fonts/FuturaNewDemi-Reg.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaNew';
    src: url('../fonts/FuturaNewMedium-Reg.eot');
    src: url('../fonts/FuturaNewMedium-Reg.eot?iefix') format('eot'),
        url('../fonts/FuturaNewMedium-Reg.woff') format('woff'),
        url('../fonts/FuturaNewMedium-Reg.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaNew';
    src: url('../fonts/FuturaNewBold-Reg.eot');
    src: url('../fonts/FuturaNewBold-Reg.eot?iefix') format('eot'),
        url('../fonts/FuturaNewBold-Reg.woff') format('woff'),
        url('../fonts/FuturaNewBold-Reg.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

body {
    font-family: 'FuturaNew', sans-serif;
}

.navbar {
    width: 100%;
    z-index: 1488;
}

.px-container {
    padding: 0px 41px;
}

.nav-link {
    text-transform: uppercase;
    color: #0b0b0b;
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.115em;
    transition: .5s all;
}

li:hover .nav-link {
    color: #0b0b0b;
    transform: translateY(-5px);
}

li:hover .hover-square {
    opacity: 1;
}

.hover-square {
    height: 9px;
    width: 9px;
    background-color: #F53248;
    margin: auto;
    opacity: 0;
    transition: .5s all;
}

#wrap-item {
    cursor: pointer;
    transition: all .5s;
    z-index: 1000000;
}

#wrap-item .closed-hamburger {}

#wrap-item div {
    height: 3px;
    background-color: #0b0b0b;
    transition: all .3s;
}

.custom-button div {
    width: 35px;
    height: 2px;
    background-color: #F53248;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 4px;
    transition: .3s all;
}

.custom-button-card div {
    width: 35px;
    height: 2px;
    background-color: #F53248;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 4px;
    transition: .3s all;
}


.card-text div {
    width: 40px;
    height: 1px;
    background-color: #F53248;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 4px;
    transition: .3s all;
}

.custom-button-content div {
    width: 35px;
    height: 2px;
    background-color: #F53248;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 4px;
    transition: .3s all;
}

.custom-button:hover div {
    width: 50px;
    background-color: #0b0b0b;
}

.custom-button-card:hover div {
    width: 50px;
    background-color: #0b0b0b;
}

.custom-button-content:hover div {
    width: 50px;
    background-color: #0b0b0b;
}

#wrap-item div:nth-child(1) {
    width: 42px;
    border-radius: 100px 100px 0 0;
}

#wrap-item .closed-hamburger div:nth-child(1) {
    width: 42px;
    border-radius: 100px 100px 0 0;
}

#wrap-item div:nth-child(2) {
    width: 22px;
    margin-left: 20px;
    margin-top: 5px;
}

#wrap-item div:nth-child(3) {
    width: 30px;
    margin-left: 12px;
    margin-top: 5px;
    border-radius: 0 0 100px 100px;
}

.container-square {
    position: absolute;
    bottom: 0;
    background-color: #F53248;
    width: 63px;
    height: 63px;
    transition: .6s all;
}

.main-image {
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease;
    height: 100%;
    width: 100%;
}

.zoom-image:hover .main-image {
    transform: scale(1.05);
}


.zoom-image:hover .container-square {
    background-color: #fff;
    width: 100%;
}

.zoom-image:hover .square-text {
    opacity: 1;
}

.pl-3000 {
    padding-left: 80px;
}

.text-content-container {
    font-size: 18px;
    line-height: 24px;
    color: #0b0b0b;
    font-weight: 500;
}

.custom-button-learn {
    font-size: 16px;
    line-height: 21px;
    font-weight: 600;
    color: #FFF !important;
    background-color: #F53248;
    margin-left: 80px;
    padding: 8px 76px;
    border: 2px solid #F53248;
    transition: .4s all;
}

.custom-button-nav {
    font-size: 16px;
    line-height: 21px;
    font-weight: 600;
    color: #FFF !important;
    background-color: #F53248;
    padding: 8px 76px;
    border: 2px solid #F53248;
    transition: .4s all;
}

.custom-button-footer {
    font-size: 16px;
    line-height: 21px;
    font-weight: 600;
    color: #FFF !important;
    background-color: #F53248;
    width: 100% !important;
    padding: 8px 76px;
    border: 2px solid #F53248;
    transition: .3s all;
}

.custom-button-learn:hover {
    text-decoration: none;
    color: #0b0b0b !important;
    background-color: #fff;
    border: 2px solid #0b0b0b;
}

.custom-button-nav:hover {
    text-decoration: none;
    color: #0b0b0b !important;
    background-color: #fff;
    border: 2px solid #0b0b0b;
}

.custom-button {
    font-size: 16px;
    line-height: 21px;
    color: #0b0b0b !important;
    font-weight: 600;
}

.custom-button-card {
    font-size: 16px;
    line-height: 21px;
    color: #0b0b0b !important;
    font-weight: 900;
}



.pr-4px {
    padding-right: 2px !important;
}

.px-2px {
    padding: 0px 1px !important;
}

.pl-4px {
    padding-left: 2px !important;
}

.pt-15vh {
    padding-top: 15vh;
}

.social-media {
    font-size: 18px;
    line-height: 22px;
    color: #828282 !important;
    text-transform: uppercase;
    float: right;
    font-weight: 400;
    margin-bottom: 5px;
}

.social-media:hover {
    text-decoration: none;
}

.square-text {
    margin-top: 16px;
    padding: auto 0px;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: #0b0b0b;
    font-weight: 900;
    opacity: 0;
    transition: 0.6s .1s all;
    overflow: hidden;
    white-space: nowrap;
}

.modernhome {
    font-weight: 900;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #0b0b0b;
    opacity: 0.1;
}

.small-text {
    font-size: 18px;
    line-height: 23px;
    color: #828282;
    font-weight: 600;
}

.backgrond-image {
    background-size: cover;
    height: 670px;
}

#square-image {
    position: absolute;
    bottom: 0;
    left: -65px;
    height: 130px;
    width: 130px;
    background-color: #F53248;
}

.padding-container {
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 106px;
}

.title-text {
    font-weight: 900;
    font-size: 50px;
    line-height: 63px;
    color: #0b0b0b;
}

.line {
    display: inline-block;
    background-color: #F53248;
    height: 2px;
    width: 65px;
    margin-bottom: 4px;
    margin-right: 17px;
}

.zoom-image {
    overflow: hidden;
    height: 100%;
}

.text-regular-container {
    font-size: 16px;
    line-height: 24px;
    color: #828282;
    font-weight: 500;
    margin-bottom: 33px;
}

.text-regular-phone {
    font-size: 16px;
    line-height: 24px;
    color: #828282;
    font-weight: 500;
}

.text-regular-card {
    font-size: 16px;
    line-height: 24px;
    color: #828282;
    font-weight: 500;
}

.text-regular-footer {
    display: block;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
    font-weight: 500;
    transition: .5s all;
}

.text-regular-footer:hover {
    color: #828282;
}

.text-regular {
    font-size: 16px;
    line-height: 24px;
    color: #828282;
    font-weight: 500;
    padding-right: 170px;
}

.custom-button-content {
    font-size: 16px;
    line-height: 21px;
    color: #0b0b0b !important;
    font-weight: 600;
}

.custom-button-content:hover {
    text-decoration: none;
}

.title-text-middle {
    font-weight: 900;
    font-size: 40px;
    line-height: 51px;
    color: #0b0b0b;
}

.title-text-footer {
    font-weight: 900;
    font-size: 39px;
    line-height: 51px;
    color: #0b0b0b;
    margin-top: -10px;
    margin-bottom: 25px;
}

.title-text-regular {
    font-weight: 900;
    font-size: 30px;
    line-height: 24px;
    color: #0b0b0b;
}

.card-cottage {
    background-size: cover;
    height: 450px;
}

.square-white {
    position: absolute;
    bottom: 0;
    height: 84px;
    width: 300px;
    background-color: #fff;
    opacity: 0.95;
    transition: .5s all;
    padding-left: 26px
}

.card-cottage:hover .square-white {
    opacity: 1;
    width: 100%;
}

.card-text {
    font-size: 14px;
    line-height: 18px;
    color: #828282;
}

.card-cottage-future {
    border: 3px solid #0b0b0b;
    height: 450px;
    transition: .5s all;
}

.brightness {
    filter: brightness(1.1);
}

.brightness-right {
    filter: brightness(1.5);
    opacity: 0.5;
}

.underline {
    width: 117px;
    height: 2px;
    background-color: #0b0b0b;
    margin-bottom: 100px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
}

.underline-v3 {
    width: 117px;
    height: 2px;
    background-color: #0b0b0b;
    margin-bottom: 100px;
    margin-top: 32px;
}

.underline-v2 {
    width: 117px;
    height: 2px;
    background-color: #0b0b0b;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}

.background-cottage {
    background-image: url("../img/Group8.jpg");
    background-repeat: no-repeat;
    background-position: 0% 100%;
}

.card-cottage-future:hover .arrow-card {
    margin-left: 20px;
}

.arrow-card {
    transition: .5s all;
}

a:hover {
    text-decoration: none;
}

#background-full {
    background-image: url("../img/jesse-roberts-561igiTyvSk-unsplash.png");
    background-size: cover;
    padding: 40px;
}

.background-transparent {
    background-color: #fff;
    background-size: cover;
    opacity: 0.95;
}

.fav-icons {
    color: #030104;
}

.text-transparent {
    font-size: 18px;
    line-height: 23px;
    color: #0b0b0b;
    font-weight: 900;
}

.fa-calendar-alt {
    color: #F53248;
}

.image-center {
    display: flex !important;
    justify-content: center;
}

.right-arrow {
    cursor: pointer;
    transition: .5s all;
}

.right-arrow:hover {}

.left-arrow {
    cursor: pointer;
    transition: .5s all;
}

.left-arrow:hover {}

.footer-contacts {
    width: 100%;
    border: 0px;
}

/* form starting stylings ------------------------------- */
.group {
    position: relative;
    margin-bottom: 30px;
}

input {
    font-size: 16px;
    padding: 10px;
    padding-left: 0;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #828282;
}

input:focus {
    outline: none;
}

/* LABEL ======================================= */
label {
    color: #828282;
    font-size: 18px;
    position: absolute;
    pointer-events: none;
    top: 15px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
    top: -15px;
    font-size: 14px;
    color: #828282;
}


/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: auto;
}

.bar:before,
.bar:after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: #F53248;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 43%;
}

.bar:after {
    right: 43%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
    width: 57%;
}

.footer-number {
    font-size: 24px;
    line-height: 36px;
    color: #F53248;
    transition: .5s all;
    display: block;
    font-weight: 900;
}

.footer-number-phone {
    font-size: 16px;
    line-height: 24px;
    color: #F53248;
    display: block;
    font-weight: 900;
}

.footer-number-phone:hover {
    color: #F53248;
}

.footer-number:hover {
    color: #F53248;
    transform: translateY(-5px) !important;
}

.mt-15 {
    margin-top: 0;
}

.bg-white-footer {
    background-color: #fff;
}

#underline-footer {
    height: 3px;
    width: 1212px;
    background-color: #F53248;
    margin-top: 70px;
}



.padding-footer {
    margin-top: 75px;
    padding-left: 12%;
    padding-right: 12%;
}

.footer-text {
    font-size: 20px;
    line-height: 25px;
    color: #0b0b0b;
    font-weight: 900;
}

.text-studio {
    font-weight: 900;
    font-size: 12px;
    line-height: 15px;
    color: #0b0b0b;
}

.text-studio:hover {
    color: #0b0b0b;
}

.navbar-menu {
    position: fixed;
    background-color: #fff;
    right: -100%;
    height: 100vh;
    padding: 27px 40px 50px 40px;
    z-index: 1500;
}

#hamburger.chrested div:nth-child(1) {
    height: 4px;
    transform-origin: 100% 0;
    transform: rotate(-45deg);
}

#hamburger.chrested div:nth-child(2) {
    height: 4px;
    transform-origin: 100% 100%;
    width: 34px;
    margin-left: 0px;
    transform: rotate(45deg);
    margin-top: 18.5px;
}

.menu-hidden {
    position: fixed;
    background-color: #fff;
    right: 0px;
    height: 100vh;
    width: 580px;
    padding: 27px 40px 50px 40px;
    z-index: 1500;
}

.underline-navbar-v1 {
    height: 1px;
    width: 100%;
    background-color: #0b0b0b;
    opacity: 0.2;
    margin-top: 38px;
    margin-bottom: 45px;
}

.menu-navbar-text a {
    font-size: 24px;
    line-height: 30px;
    color: #0b0b0b;
    font-weight: 600;
    display: block;
}

.menu-navbar-text-cottage {
    opacity: 0.3;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 30px;
    color: #0b0b0b;
    font-weight: 900;
    display: block;
}

.menu-navbar-text-cottage:hover {
    opacity: 1;
    color: #F53248;
}

.menu-navbar-text a:hover {
    color: #F53248;
}

.underline-navbar-v2 {
    height: 1px;
    width: 100%;
    background-color: #0b0b0b;
    opacity: 0.2;
    margin-top: 48px;
    margin-bottom: 54px;
}

.menu-navbar-text-phone a {
    font-size: 16px;
    line-height: 24px;
    color: #0b0b0b;
    font-weight: 600;
    display: block;
}

.menu-navbar-text-phone a:hover {
    color: #F53248;
}

.map-text:hover p {
    padding-left: 10px;
}

.map-text {
    display: block;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
    transition: .5s all;
    font-weight: 600;
}

.map-text:hover {
    color: #828282;
    margin-left: 10px;
}

.map-text-nav {
    font-weight: 600;
    font-size: 16px;
    line-height: 14px;
    color: #000000;
}

.map-text-nav:hover {
    color: #F53248;
}

.socail-links a {
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    color: #0b0b0b;
    font-weight: 600;
}

.socail-links a:hover {
    color: #F53248;
}

.modernhome-nav {
    display: flex;
    justify-content: space-between;
}

.pr-navbar {
    padding-right: 24%;
}


.footer {
    margin-top: 35px;
    position: relative;
}

.footer__group {
    position: absolute;
    width: 98%;
    margin-top: -220px;
}

.footer__group_padding {
    padding-bottom: 75px !important;
    border-bottom: 3px solid #F53248;
}

.image-scale {
    transition: .3s all;
}

.image-scale:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .title-text {
        font-size: 40px;
    }

    .title-text-middle {
        font-size: 35px;
    }

    .title-text-footer {
        font-size: 35px;
    }
}