@media (min-width: 768px) and (max-width: 1220px) {
    .m-hide {
        display: none;
    }

    .m-footer--padding {
        padding: 0;
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }

    .navbar {
        &-nav {
            display: none;
        }
    }

    .text-studio {
        text-align: center;
    }

    .sidenav {
        &__wrapper {
            flex: 0 0 55%;
            max-width: 55%;
        }

        &-header {
            margin-left: 20px;
            padding-top: 15px;
            padding-bottom: 0;
        }

        &-main {
            margin-left: 20px;
            margin-top: 10px;
            padding-bottom: 0;
        }

        &-footer {
            margin-left: 20px;
            margin-top: 10px;
            padding-bottom: 10px;
            border-bottom: none;
        }

        &-footer__item {
            flex-direction: column;
        }

        &-footer__link_margin {
            margin: 0;
        }

        &-main__link {
            font-size: 20px;
        }

        &-main__title {
            font-size: 20px;
        }

        &__button {
            margin-left: 20px;
            margin-top: 5px;
            max-width: none;
        }

        &-footer-m__item {
            margin-top: 20px;
        }

    }

    .about {
        flex-direction: column;

        & > .offset-md-1 {
            margin-left: 0;
        }

        &-desc {
            max-width: 100%;
        }

        &-info {
            max-width: 100%;
            margin-top: 100px;
            justify-content: center;

            &__wrapper {
                max-width: 52%;
                width: 100%;
                justify-content: space-between;
            }
        }
    }

    .preview {
        &_margin {
            display: flex;
            flex-direction: column;
            text-align: center;

            & > .g-next {
                margin-left: 0;
                margin-top: 15px;
            }
        }
    }

    .footer {
        &__group {
            margin-left: -8px;
            background-image: none;
        }

        &__group_padding {
            border-bottom: none;

            & > .justify-content-center {
                justify-content: space-evenly !important;
            }
        }

        &__copy {
            flex-direction: column;
        }

        &__iframe {
            padding: 0;
        }

        .custom-button-footer {
            padding: 0;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    .m-footer {
        &-inputs {
            margin-right: 0 !important;
        }

        &-inputs__title {
            font-size: 32px;
            margin-bottom: 30px;
        }

        &__group_padding {
            padding-bottom: 30px !important;
        }

        &-numbers {
            order: -1;
            margin-left: 0 !important;

            & > .title-text-footer {
                font-size: 33px;
            }
        }

        &--display {
            display: none;
        }

        &--padding {
            padding: 0;
            justify-content: center !important;
        }

        &__block {
            display: flex;
            width: auto;
            padding-left: 15px;
        }

        &_mrg {
            margin-left: 40px;
            padding-left: 0px;
        }

        &__title {
            padding-left: 15px !important;
            margin-bottom: 15px;
            display: none;
        }

        &_margin {
            margin-top: 30px;
        }

        &-adrs {
            padding-left: 15px !important;
        }

        &-title {
            padding-bottom: 0 !important;
        }
    }
}

@media (min-width: 768px) and (max-width: 1050px) {
    .preview {
        &-slider__thumb:nth-child(3) {
            
        }
    }
}

@media(max-width: 1324px) {
    .preview {
        &-slider__thumb:nth-child(4) {
            display: none;
        }
    }
}

@media (max-width: 1050px) {
    .preview {
        flex-direction: column;
        margin-bottom: 40px;

        &-slider-nav > .slick-list > .slick-track {
            display: flex;
            justify-content: center;
            width: 100% !important;
        }

        &__block {
            padding-left: 0px !important;
            padding-right: 0px !important;
        }

        &__block_flex {
            padding-left: 0;
            padding-right: 0;
        }

        &__title {
            font-size: 35px;
            text-align: center;
            margin-top: 30px;
            margin-bottom: 0;
        }

        &__text {
            display: none;
        }

        &_margin {
            display: flex;
            flex-direction: column;
        }

        &__redBlock {
            display: none;
        }

        &__address {
            transform: translateY(200px);
            text-align: center;
            left: 0;
            right: 0;
            margin: auto;
        }

        &-slider__image {
           width: 100%; 
        }

        &-slider-nav {
            order: -1;
        }

        &-slider__thumb {
            transform: scale(0.7);
            margin-right: 0;
        }
    }
}

@media (min-width: 768px) and (max-width: 1600) {
    .planning {
        &__imgBlock {
            padding: 0 15px;
        }
    }
}

@media (min-width: 992px) and (max-width: 1050px) {
    .preview {
        &__block {
            width: 100%;
            position: relative;
            flex: auto;
            max-width: 100%;
        }
    }
}

@media (min-width: 768px) and (max-width: 1050px) {
    .navbar {
        &-brand {
            padding-left: 0px;
        }
    }

    .nav {
        &-burger {
            right: -20px;
        }
    }

    .preview {
        & .g-button {
            margin-left: 15px;
            margin-right: 15px;
        }
    }
}


@media (min-width: 1200px) {
    .navbar {
        &-brand {
            padding-left: 20px;
        }
    }

    .nav {
        &-burger {
            right: 5px;
        }
    }
}