body {
    background-color: #F6F6F6;   
}

#login-modal {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(225, 225, 225, 0.25);
    padding: 60px 50px;
    margin-top: 20vh;
}

input[type='checkbox'] {
    height: 16px;
    width: 16px;
}

.navbar .nav-item {
    padding: 0px 15px;
}

.nav-item.active {
    background-color: #3287AB;
}

.nav-pills .nav-link.active {
    background-color: transparent;
    border: 2px solid #3287AB;
    color: #000;
}

.btn {
    padding: 8px 30px;
}

.food-image-preview {
    height: 70px;
    width: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.drink-image-preview {
    height: 100px;
    width: 70px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.table span {
    display: block;
    white-space: nowrap;
}

.control-icons a img{
    transition: all .3s;
}

.control-icons a:hover img{
    transform: translateY(-3px);
}

input[type='text'], input[type='number'] {
    padding: 20px;
    background-color: #FAFAFA;
}

 .custom-select {
    background-color: #FAFAFA;
    height: 42px;
    padding-left: 20px;
}

.badge-checkbox {
    margin-top: 20px;
}

.badge-checkbox input {
    display: none;
}

.badge-checkbox span {
    background-color: #FAFAFA;
    padding: 8px 20px 11px 20px;
    border-radius: 4px;
    border: 1px solid #FAFAFA;
    cursor: pointer;
}

.badge-checkbox input:checked ~ span {
    border: 1px solid #111;
}

input[type='file'] {
    display: none;
}
#food-photo-upload div {
    width: 100%;
    height: 22.8vw;
    background-size: cover;
    border-radius: 4px;
    background-position: center;
}

#food-photo-upload {
    width: 100%;
    cursor: pointer;
}

#food-ingredients {
    padding: 20px;
    border-radius: 4px;
    border: 2px solid #3287AB;
    margin-top: 36px;
}

.bb-1 {
    border-bottom: 1px solid #AAA;
}

.btn-order-details {
    border: 1px solid #3287AB;
    padding: 1px 10px 4px 10px;
    font-size: 13px;
    transition: all .3s;
}

.btn-order-details:hover {
    background-color: #3287AB !important;  
    color: #fff;
}

.food-card {
    background-color: #f6f6f6;
    border-radius: 5px;
    padding: 20px;
}

.badge-card-checkbox input {
    display: none;
}

.badge-card-checkbox {
    font-size: 14px;
    padding: 1px 7px 4px 7px;
    border-radius: 4px;
    border: 1px solid #3287AB;
    cursor: pointer;
    margin-bottom: 5px;
}

.badge-card-checkbox input:checked ~ span{
    text-decoration: line-through;
    color: #BB1058;
}

.badge-card-checkbox input:disabled ~ img {
    display: none;
}

.badge-card-checkbox img {
    transform: rotate(45deg);
    transition: all .3s;
}

.badge-card-checkbox input:checked ~ img {
    transform: rotate(0deg);
}

.badges-father {
    margin-right: 5px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.qty-counter input {
    text-align: center;
    width: 40px;
    height: 35px;
    border: 1px solid #3287AB;
    padding: 0px;
    border-radius: 3px;
    font-weight: 700;
    color: #3287AB;
    font-size: 18px;
}

.qty-counter input:focus {
    outline: none;
}

.qty-counter {
    display: inline-flex;
    background-color: #fff;
    border-radius: 3px;
}

.qty-counter div {
    width: 20px;
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    cursor: pointer;
    color: #BB1058;
    border-radius: 3px;
    transition: all .2s;
}

.qty-counter div:hover {
    background-color: #3287AB22;
}
.added {
    border: 1px solid #34AB32;
}

.food-card.added input {
    background-color: #3287AB;
    color: #fff;
}

.lead-collapse-button {
    background: transparent;
    border: none;
    font-size: 18px;
    font-weight: 700;
    width: 100%;
}

.card-filled {
    background-color: #C2F8C7;
}

.lead-details {
    background-color: #F6F6F6;
}

.img-icon {
    width: 40px;
    height: 40px;
    background-color: #fff;
    padding: 7px;
    border-radius: 4px;
}

#tag-image-upload {
    width: 50px !important;
    height: 50px !important;
}
