@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900);
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Montserrat', sans-serif!important;
}

@media only screen and (max-width: 992px) {
    .line:nth-of-type(1) {
        opacity: 0;
    }

    .line:nth-of-type(3) {
        opacity: 0;
    }

    .mouse {
        display: none;  
    }

    .list-inline-item:nth-of-type(1) {
        display: none;
    }

    .list-inline-item:nth-of-type(2) {
        display: none;
    }

    .red-text {
        font-size: 20px !important;   
    }

    .text-header {
        font-size: 48px !important;
    }

    .small-text {
        font-size: 16px !important;
    }
}

@media only screen and (max-width: 576px) { 
    .red-text {
        font-size: 16px !important;   
    }

    .text-header {
        font-size: 32px !important;
    }

    .small-text {
        font-size: 12px !important;
    }

    .index {
        z-index: 1;
    }
    
    .mobile-invisible {
        display: none;
    }
}

.px-7 {
    padding-left: 7vw;
    padding-right: 7vw;
}

.py-nav {
    padding-top: 26px;
    padding-bottom: 26px;
}

.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

#hamburger {
    width: 21px;
    height: 21px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all .5s cubic-bezier(0.77,0.2,0.05,1.0);
    -moz-transition: all .5s cubic-bezier(0.77,0.2,0.05,1.0);
    -o-transition: all .5s cubic-bezier(0.77,0.2,0.05,1.0);
    transition: all .5s cubic-bezier(0.77,0.2,0.05,1.0);
    cursor: pointer;
}

#hamburger span {
    display: block;
    position: absolute;
    background-color: #2e2e2e;
    -webkit-transition: all .7s cubic-bezier(0.77,0.2,0.05,1.0);
    -moz-transition: all .7s cubic-bezier(0.77,0.2,0.05,1.0);
    -o-transition: all .7s cubic-bezier(0.77,0.2,0.05,1.0);
    transition: all .7s cubic-bezier(0.77,0.2,0.05,1.0);
}

#hamburger span:nth-child(1) {
    left: 0px;
    width: 1.7px;
    height: 15px;
    top: 3px;
}

#hamburger span:nth-child(2) {
    width: 0.85px;
    right: calc(50% - 1px);
    height: 21px;
}

#hamburger span:nth-child(3) {
    width: 0.85px;
    right: 0px;
    height: 21px;
    bottom: 0px;
}

#hamburger.open span:nth-child(1) {
    background-color: #fff;
    transform: translateX(-10px);
}

#hamburger.open span:nth-child(2) {
    right: 0px;
    transform-origin: top;
    transform: rotate(45deg);
    height: 29px;
}

#hamburger.open span:nth-child(3) {
    transform-origin: bottom;
    transform: rotate(-45deg);
    height: 29px;
}

#hamburger:hover span:nth-child(1) {
    height: 21px;
    top: 0;
}

#hamburger:hover {
    transform: rotate(-90deg);
}

.fullscreen {
    width: 100%;
    height: 100vh;
}

.text-header {
    font-size: 56px;
    margin-bottom: 0px;
}

.red-text {
    color: #FF4000;
    font-size: 24px;
    margin-bottom: 0;
}

.small-text {
    font-size: 16px;
}

.navbar-text {
    font-size: 14px;
}

.btn {
    background-color: #FFF;
    border-top: 0;
    border-bottom: 0;
    border-left: 2px solid #FF4000;
    border-right: 2px solid #FF4000;
    border-radius: 0;
    font-size: 13px;
    transition: all .4s;
}

.btn:hover {
    background-color: #FF4000;
    color: #FFF;
    transition: all .4s;
}

.lines {
    position: fixed;
    height: 100vh;
    width: 50%;
    top: 0px;
    left: 25%;
    padding: 0vh 3vw 0;
    z-index: -999;
}

.line {
    height: 100%;
    width: 0.8px;
    background-color: #E1E1E1;
}

.mouse {
    position: absolute;
    bottom: 16vh;
    left: calc(50% - 14px);
    background-color: #FFF;
    padding: 16px 0;
}

.mouse-border {
    border: 1px solid #E1E1E1;
    border-radius: 12px;
    height: 48px;
    width: 28px;
}

.mouse-border div {
    margin-top: 12px;
    height: 6px;
    width: 0.8px;
    background-color: #E1E1E1;
}

.portfolio h2 {
    font-weight: 800;
}

.portfolio h2:nth-of-type(2) {
    font-size: 100px;
    font-weight: 900;
    color: #000000;
    opacity: 0.03;
    margin-top: -64px;
}

.count-of-projects {
    background-color: #2E2E2E;
    color: #FFF;
}

.count-of-projects p:nth-of-type(1) {
    font-size: 36px;
    font-weight: 800;
    margin: 0;
}

.project-container img {
    height: 160px;
}

.btn-dark {
    background-color: #2E2E2E !important;
    color: #FFF;
}

.btn-dark:hover {
    background-color: #FF4000 !important;
    border-left: 2px solid #FF4000;
    border-right: 2px solid #FF4000;
}

.text-extra-bold {
    font-weight: 800;
}

.text-bold {
    font-weight: 700;
}
#menuToggle {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    opacity: 1;
    -webkit-transition: all 1s cubic-bezier(0.77,0.2,0.05,1.0);
    -moz-transition: all 1s cubic-bezier(0.77,0.2,0.05,1.0);
    -o-transition: all 1s cubic-bezier(0.77,0.2,0.05,1.0);
    transition: all 1s cubic-bezier(0.77,0.2,0.05,1.0);
    /*border-bottom: 0.8px solid #E1E1E1;*/
}

.hided {
    top: -80px !important;
    opacity: 0 !important;
}

.text-roboto {
    font-family: 'Roboto', sans-serif;
}

.menu-item {
    color: #2e2e2e;
    transition: all .3s;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    font-size: 14px;
}

.menu-item:hover {
    color: #777;
    text-decoration: none;
}

.btn:focus {
    outline: 5px solid #fff;
}
.h-line {
    height: 2px;
    width: 20px;
    background-color: #fff;
    position: fixed;
    top: 1px;
}

input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #707070;
    width: 100%;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding-left: 10px;
}

input:focus {
    outline: none;
    caret-color: #fff;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

input:placeholder-shown {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}


.submit-button {
    margin: 0px !important;
    background: transparent;
    color: #fff;
    outline: 0px !important;
}
