@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 992px) {
    .line:nth-of-type(1) {
        opacity: 0;
    }

    .line:nth-of-type(3) {
        opacity: 0;
    }

    .mouse {
        display: none;  
    }

    .list-inline-item:nth-of-type(1) {
        display: none;
    }

    .list-inline-item:nth-of-type(2) {
        display: none;
    }

    .red-text {
        font-size: 20px !important;   
    }

    .text-header {
        font-size: 48px !important;
    }

    .small-text {
        font-size: 16px !important;
    }
}

@media only screen and (max-width: 576px) { 
    .red-text {
        font-size: 16px !important;   
    }

    .text-header {
        font-size: 32px !important;
    }

    .small-text {
        font-size: 12px !important;
    }

    .index {
        z-index: 1;
    }
}

.px-7 {
    padding-left: 7vw;
    padding-right: 7vw;
}

.py-nav {
    padding-top: calc(7vw/3);
    padding-bottom: calc(7vw/3);
}

.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

#hamburger {
    width: 21px;
    height: 21px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all .5s cubic-bezier(0.77,0.2,0.05,1.0);
    -moz-transition: all .5s cubic-bezier(0.77,0.2,0.05,1.0);
    -o-transition: all .5s cubic-bezier(0.77,0.2,0.05,1.0);
    transition: all .5s cubic-bezier(0.77,0.2,0.05,1.0);
    cursor: pointer;
}

#hamburger span {
    display: block;
    position: absolute;
    background-color: #2e2e2e;
    -webkit-transition: all .7s cubic-bezier(0.77,0.2,0.05,1.0);
    -moz-transition: all .7s cubic-bezier(0.77,0.2,0.05,1.0);
    -o-transition: all .7s cubic-bezier(0.77,0.2,0.05,1.0);
    transition: all .7s cubic-bezier(0.77,0.2,0.05,1.0);
}

#hamburger span:nth-child(1) {
    left: 0px;
    width: 1.7px;
    height: 15px;
    top: 3px;
}

#hamburger span:nth-child(2) {
    width: 0.85px;
    right: calc(50% - 1px);
    height: 21px;
}

#hamburger span:nth-child(3) {
    width: 0.85px;
    right: 0px;
    height: 21px;
    bottom: 0px;
}

#hamburger.open span:nth-child(1) {
    background-color: #fff;
    transform: translateX(-10px);
}

#hamburger.open span:nth-child(2) {
    right: 0px;
    transform-origin: top;
    transform: rotate(45deg);
    height: 29px;
}

#hamburger.open span:nth-child(3) {
    transform-origin: bottom;
    transform: rotate(-45deg);
    height: 29px;
}

#hamburger:hover span:nth-child(1) {
    height: 21px;
    top: 0;
}

#hamburger:hover {
    transform: rotate(-90deg);
}

.fullscreen {
    width: 100%;
    height: 100vh;
}

.text-header {
    font-size: 56px;
}

.red-text {
    color: #FF4000;
    font-size: 24px;
    margin-bottom: 0;
}

.small-text {
    font-size: 16px;
}

.navbar-text {
    font-size: 12px;
}

.btn {
    background-color: #FFF;
    border-top: 0;
    border-bottom: 0;
    border-left: 2px solid #FF4000;
    border-right: 2px solid #FF4000;
    border-radius: 0;
    font-size: 16px;
    transition: all .7s;
}

.btn:hover {
    background-color: #FF4000;
    color: #FFF;
    transition: all .7s;
}

.lines {
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    left: 25%;
    padding: 13vh 4vw;
}

.line {
    height: 100%;
    width: 0.8px;
    background-color: #888888;
}

.mouse {
    position: absolute;
    bottom: 16vh;
    left: calc(50% - 14px);
    background-color: #FFF;
    padding: 16px 0;
}

.mouse-border {
    border: 1px solid #888888;
    border-radius: 12px;
    height: 48px;
    width: 28px;
}

.mouse-border div {
    margin-top: 12px;
    height: 6px;
    width: 0.8px;
    background-color: #888888;
}