@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
    margin: none;
    background-color: #f4f4f4;
    font-family: 'Montserrat', sans-serif;
}

#logo {
    position: fixed;
    width: 120px;
    left: 7.5vw;
    top: 2.86vw;
    z-index: 1000;
}

.logo-svg-element {
    fill: #1f1f1f;
    transition: fill .5s;
}

.logo-svg-element-white {
    fill: #fff !important;
}

#hamburger {
    position: fixed;
    top: 3.14vw;
    right: 7.5vw;
    cursor: pointer;
    width: auto;
    height: auto;
    z-index: 1000;
}

#hamburger div {
    height: 2px;
    background-color: #1f1f1f;
    transition: all .5s;
}

#hamburger div:nth-child(1) {
    width: 34px;
}

#hamburger div:nth-child(2) {
    margin-top: 10px;
    width: 21px;
    margin-left: 13px;
}

#hamburger:hover div:nth-child(2) {
    width: 34px;
    margin-left: 0px;
}

#hamburger.chrested div:nth-child(1) {
    height: 5px;
    transform-origin: 100% 0;
    transform: rotate(-45deg);
    background-color: #fff;
}

#hamburger.chrested div:nth-child(2) {
    height: 5px;
    transform-origin: 100% 100%;
    width: 34px;
    margin-left: 0px;
    transform: rotate(45deg);
    margin-top: 17.5px;
    background-color: #fff;
}

#hamburger.chrested + #hamburger-menu {
    top: 0px;
}

#hamburger-menu {
    position: fixed;
    top: calc(-100vh + 1.77vw);
    left: 1.77vw;
    width: calc(100% - 3.54vw);
    height: calc(100vh - 1.77vw);
    background-color: #F84822;
    transition: all 1s;
    justify-content: center;
}
#menu-upper-row {
    justify-content: space-between;
    display: flex;
    padding-top: 3vw;
    padding-right: 19%;
    padding-left: 19%;
}

#languages {
    width: 50%;
    font-weight: 600;
}

#languages a {
    color: #FDB9AB;
    margin-right: 21px;
    font-size: 21px;
    text-decoration: none;
    transition: color .25s;
}

#languages a:hover, #nav-icons a:hover {
    color: #fff;
}

#nav-icons {
    text-align: right;
}

#nav-icons a {
    color: #FDB9AB;
    font-size: 21px;
    margin-left: 21px;
    transition: color .25s;
}

.language-active {
    color: #fff !important;
}

#menu-pages {
    width: 50%;
    padding-right: 34px;;
}

#menu-pages a {
    color: #fff;
    font-weight: 600;
    font-size: 34px;
    margin-bottom: 21px;
    text-decoration: none;
    display: block;
    transition: margin .3s;
}

#menu-contact h3 {
    color: #fff;
    font-weight: 600;
    font-size: 21px;
    display: block;
    margin-top: 0px;
    margin-bottom: 21px;
}

#menu-pages a:hover {
    margin-left: -13px;
}

#menu-contact {
    width: 50%;
}

#menu-content {
    justify-content: space-between;
    display: flex;
    margin-top: 15vh;
    padding-right: 19%;
    padding-left: 19%;
}

.menu-small-text {
    color: #FDB9AB;
    font-size: 13px;
    font-weight: 600;
}

.line-34 {
    width: 34px;
    height: 1px;
    background-color: #FDB9AB;
    display: inline-block;
    margin-bottom: 4px;
    margin-right: 8px;
}

#contacts-buttons {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.outline-button {
    display: block;
    box-sizing: border-box;
    width: calc(50% - 10.5px);
    padding: 21px;
    border: 1px solid #FDB9AB;
    font-weight: 400;
    font-size: 21px;
    color: #FDB9AB;
    text-decoration: none;
    transition: all .25s;
}

.outline-button:hover {
    color: #F84822;
    font-weight: 600;
    background-color: #fff;
    border-color: #fff;
}

.empty-34 {
    width: 100%;
    height: 34px;
}

#contacts div{
    width: calc(50% - 10.5px);
}

#contacts {
    display: flex;
    justify-content: space-between;
}

#contacts p {
    color: #FDB9AB;
    font-size: 20px;
    line-height: 34px;
}